Balance/BalanceSaldosAcreedoresProveedores().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceSaldosAcreedoresProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_fecha" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceSaldosAcreedoresProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceSaldosAcreedoresProveedoresResult" type="tns:ArrayOfDatosBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosBalance" nillable="true" type="tns:DatosBalance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosBalance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosBalance" nillable="true" type="tns:ArrayOfDatosBalance" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceSaldosAcreedoresProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceSaldosAcreedoresProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresHttpGetIn">
  	<wsdl:part name="acepta_fecha" type="s:integer" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresHttpPostIn">
  	<wsdl:part name="acepta_fecha" type="s:integer" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosAcreedoresProveedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>
  <wsdl:portType name="BalanceSaldosAcreedoresProveedoresSoap">
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <wsdl:input message="tns:ObtenerBalanceSaldosAcreedoresProveedoresSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosAcreedoresProveedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceSaldosAcreedoresProveedoresHttpGet">
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <wsdl:input message="tns:ObtenerBalanceSaldosAcreedoresProveedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosAcreedoresProveedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceSaldosAcreedoresProveedoresHttpPost">
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <wsdl:input message="tns:ObtenerBalanceSaldosAcreedoresProveedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosAcreedoresProveedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceSaldosAcreedoresProveedoresSoap" type="tns:BalanceSaldosAcreedoresProveedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceSaldosAcreedoresProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosAcreedoresProveedoresSoap12" type="tns:BalanceSaldosAcreedoresProveedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceSaldosAcreedoresProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosAcreedoresProveedoresHttpGet" type="tns:BalanceSaldosAcreedoresProveedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <http:operation location="/ObtenerBalanceSaldosAcreedoresProveedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosAcreedoresProveedoresHttpPost" type="tns:BalanceSaldosAcreedoresProveedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceSaldosAcreedoresProveedores">
      <http:operation location="/ObtenerBalanceSaldosAcreedoresProveedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceSaldosAcreedoresProveedores">
    <wsdl:port name="BalanceSaldosAcreedoresProveedoresSoap" binding="tns:BalanceSaldosAcreedoresProveedoresSoap">
      <soap:address location="http://localhost:1390/BalanceSaldosAcreedoresProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosAcreedoresProveedoresSoap12" binding="tns:BalanceSaldosAcreedoresProveedoresSoap12">
      <soap12:address location="http://localhost:1390/BalanceSaldosAcreedoresProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosAcreedoresProveedoresHttpGet" binding="tns:BalanceSaldosAcreedoresProveedoresHttpGet">
      <http:address location="http://localhost:1390/BalanceSaldosAcreedoresProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosAcreedoresProveedoresHttpPost" binding="tns:BalanceSaldosAcreedoresProveedoresHttpPost">
      <http:address location="http://localhost:1390/BalanceSaldosAcreedoresProveedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>