Balance/BalanceCuentaDeudasYCuentaCorriente().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="acepta_nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceCuentaDeudasYCuentaCorrienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceCuentaDeudasYCuentaCorrienteResult" type="tns:ArrayOfDatosCuentaDeudasYCuentaCorriente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaDeudasYCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaDeudasYCuentaCorriente" nillable="true" type="tns:DatosCuentaDeudasYCuentaCorriente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaDeudasYCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_deudas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_cuentas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="diferencia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaDeudasYCuentaCorriente" nillable="true" type="tns:ArrayOfDatosCuentaDeudasYCuentaCorriente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceCuentaDeudasYCuentaCorriente" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpGetIn">
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="acepta_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaDeudasYCuentaCorriente" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpPostIn">
  	<wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="acepta_nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaDeudasYCuentaCorriente" />
  </wsdl:message>
  <wsdl:portType name="BalanceCuentaDeudasYCuentaCorrienteSoap">
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <wsdl:input message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceCuentaDeudasYCuentaCorrienteHttpGet">
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <wsdl:input message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceCuentaDeudasYCuentaCorrienteHttpPost">
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <wsdl:input message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentaDeudasYCuentaCorrienteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceCuentaDeudasYCuentaCorrienteSoap" type="tns:BalanceCuentaDeudasYCuentaCorrienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceCuentaDeudasYCuentaCorriente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentaDeudasYCuentaCorrienteSoap12" type="tns:BalanceCuentaDeudasYCuentaCorrienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceCuentaDeudasYCuentaCorriente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentaDeudasYCuentaCorrienteHttpGet" type="tns:BalanceCuentaDeudasYCuentaCorrienteHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <http:operation location="/ObtenerBalanceCuentaDeudasYCuentaCorriente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentaDeudasYCuentaCorrienteHttpPost" type="tns:BalanceCuentaDeudasYCuentaCorrienteHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceCuentaDeudasYCuentaCorriente">
      <http:operation location="/ObtenerBalanceCuentaDeudasYCuentaCorriente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceCuentaDeudasYCuentaCorriente">
    <wsdl:port name="BalanceCuentaDeudasYCuentaCorrienteSoap" binding="tns:BalanceCuentaDeudasYCuentaCorrienteSoap">
      <soap:address location="http://localhost:1390/BalanceCuentaDeudasYCuentaCorriente.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentaDeudasYCuentaCorrienteSoap12" binding="tns:BalanceCuentaDeudasYCuentaCorrienteSoap12">
      <soap12:address location="http://localhost:1390/BalanceCuentaDeudasYCuentaCorriente.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentaDeudasYCuentaCorrienteHttpGet" binding="tns:BalanceCuentaDeudasYCuentaCorrienteHttpGet">
      <http:address location="http://localhost:1390/BalanceCuentaDeudasYCuentaCorriente.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentaDeudasYCuentaCorrienteHttpPost" binding="tns:BalanceCuentaDeudasYCuentaCorrienteHttpPost">
      <http:address location="http://localhost:1390/BalanceCuentaDeudasYCuentaCorriente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>