Balance/BalanceSaldosClientesSalidaExcel().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceSaldosClientesSalidaExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_fecha" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceSaldosClientesSalidaExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceSaldosClientesSalidaExcelResult" type="tns:ArrayOfDatosBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosBalance" nillable="true" type="tns:DatosBalance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosBalance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosBalance" nillable="true" type="tns:ArrayOfDatosBalance" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceSaldosClientesSalidaExcel" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceSaldosClientesSalidaExcelResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelHttpGetIn">
  	<wsdl:part name="acepta_fecha" type="s:integer" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelHttpPostIn">
  	<wsdl:part name="acepta_fecha" type="s:integer" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceSaldosClientesSalidaExcelHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>
  <wsdl:portType name="BalanceSaldosClientesSalidaExcelSoap">
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <wsdl:input message="tns:ObtenerBalanceSaldosClientesSalidaExcelSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosClientesSalidaExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceSaldosClientesSalidaExcelHttpGet">
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <wsdl:input message="tns:ObtenerBalanceSaldosClientesSalidaExcelHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosClientesSalidaExcelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceSaldosClientesSalidaExcelHttpPost">
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <wsdl:input message="tns:ObtenerBalanceSaldosClientesSalidaExcelHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceSaldosClientesSalidaExcelHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceSaldosClientesSalidaExcelSoap" type="tns:BalanceSaldosClientesSalidaExcelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceSaldosClientesSalidaExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosClientesSalidaExcelSoap12" type="tns:BalanceSaldosClientesSalidaExcelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceSaldosClientesSalidaExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosClientesSalidaExcelHttpGet" type="tns:BalanceSaldosClientesSalidaExcelHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <http:operation location="/ObtenerBalanceSaldosClientesSalidaExcel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceSaldosClientesSalidaExcelHttpPost" type="tns:BalanceSaldosClientesSalidaExcelHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceSaldosClientesSalidaExcel">
      <http:operation location="/ObtenerBalanceSaldosClientesSalidaExcel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceSaldosClientesSalidaExcel">
    <wsdl:port name="BalanceSaldosClientesSalidaExcelSoap" binding="tns:BalanceSaldosClientesSalidaExcelSoap">
      <soap:address location="http://localhost:1390/BalanceSaldosClientesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosClientesSalidaExcelSoap12" binding="tns:BalanceSaldosClientesSalidaExcelSoap12">
      <soap12:address location="http://localhost:1390/BalanceSaldosClientesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosClientesSalidaExcelHttpGet" binding="tns:BalanceSaldosClientesSalidaExcelHttpGet">
      <http:address location="http://localhost:1390/BalanceSaldosClientesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceSaldosClientesSalidaExcelHttpPost" binding="tns:BalanceSaldosClientesSalidaExcelHttpPost">
      <http:address location="http://localhost:1390/BalanceSaldosClientesSalidaExcel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>