Balance/BalanceMayorProveedoresPorCodigoProveedor().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wempresa" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceMayorProveedoresPorCodigoProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceMayorProveedoresPorCodigoProveedorResult" type="tns:ArrayOfDatosBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosBalance" nillable="true" type="tns:DatosBalance" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo_proveedor" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="marca_anulado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosBalance" nillable="true" type="tns:ArrayOfDatosBalance" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpGetIn">
    <wsdl:part name="wempresa" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpPostIn">
  	<wsdl:part name="wempresa" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBalance" />
  </wsdl:message>

  <wsdl:portType name="BalanceMayorProveedoresPorCodigoProveedorSoap">
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <wsdl:input message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceMayorProveedoresPorCodigoProveedorHttpGet">
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <wsdl:input message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceMayorProveedoresPorCodigoProveedorHttpPost">
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <wsdl:input message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceMayorProveedoresPorCodigoProveedorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="BalanceMayorProveedoresPorCodigoProveedorSoap" type="tns:BalanceMayorProveedoresPorCodigoProveedorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceMayorProveedoresPorCodigoProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMayorProveedoresPorCodigoProveedorSoap12" type="tns:BalanceMayorProveedoresPorCodigoProveedorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceMayorProveedoresPorCodigoProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMayorProveedoresPorCodigoProveedorHttpGet" type="tns:BalanceMayorProveedoresPorCodigoProveedorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <http:operation location="/ObtenerBalanceMayorProveedoresPorCodigoProveedor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMayorProveedoresPorCodigoProveedorHttpPost" type="tns:BalanceMayorProveedoresPorCodigoProveedorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceMayorProveedoresPorCodigoProveedor">
      <http:operation location="/ObtenerBalanceMayorProveedoresPorCodigoProveedor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceMayorProveedoresPorCodigoProveedor">
    <wsdl:port name="BalanceMayorProveedoresPorCodigoProveedorSoap" binding="tns:BalanceMayorProveedoresPorCodigoProveedorSoap">
      <soap:address location="http://localhost:1390/BalanceMayorProveedoresPorCodigoProveedor.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMayorProveedoresPorCodigoProveedorSoap12" binding="tns:BalanceMayorProveedoresPorCodigoProveedorSoap12">
      <soap12:address location="http://localhost:1390/BalanceMayorProveedoresPorCodigoProveedor.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMayorProveedoresPorCodigoProveedorHttpGet" binding="tns:BalanceMayorProveedoresPorCodigoProveedorHttpGet">
      <http:address location="http://localhost:1390/BalanceMayorProveedoresPorCodigoProveedor.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMayorProveedoresPorCodigoProveedorHttpPost" binding="tns:BalanceMayorProveedoresPorCodigoProveedorHttpPost">
      <http:address location="http://localhost:1390/BalanceMayorProveedoresPorCodigoProveedor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>