Balance/BalanceCuentasCorrientesGestionJudicial().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceCuentasCorrientesGestionJudicial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceCuentasCorrientesGestionJudicialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceCuentasCorrientesGestionJudicialResult" type="tns:ArrayOfDatosCuentaCorriente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaCorriente" nillable="true" type="tns:DatosCuentaCorriente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaCorriente" nillable="true" type="tns:ArrayOfDatosCuentaCorriente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceCuentasCorrientesGestionJudicial" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceCuentasCorrientesGestionJudicialResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorriente" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceCuentasCorrientesGestionJudicialHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorriente" />
  </wsdl:message>
  <wsdl:portType name="BalanceCuentasCorrientesGestionJudicialSoap">
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <wsdl:input message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceCuentasCorrientesGestionJudicialHttpGet">
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <wsdl:input message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceCuentasCorrientesGestionJudicialHttpPost">
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <wsdl:input message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceCuentasCorrientesGestionJudicialHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceCuentasCorrientesGestionJudicialSoap" type="tns:BalanceCuentasCorrientesGestionJudicialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceCuentasCorrientesGestionJudicial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentasCorrientesGestionJudicialSoap12" type="tns:BalanceCuentasCorrientesGestionJudicialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceCuentasCorrientesGestionJudicial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentasCorrientesGestionJudicialHttpGet" type="tns:BalanceCuentasCorrientesGestionJudicialHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <http:operation location="/ObtenerBalanceCuentasCorrientesGestionJudicial" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceCuentasCorrientesGestionJudicialHttpPost" type="tns:BalanceCuentasCorrientesGestionJudicialHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceCuentasCorrientesGestionJudicial">
      <http:operation location="/ObtenerBalanceCuentasCorrientesGestionJudicial" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceCuentasCorrientesGestionJudicial">
    <wsdl:port name="BalanceCuentasCorrientesGestionJudicialSoap" binding="tns:BalanceCuentasCorrientesGestionJudicialSoap">
      <soap:address location="http://localhost:1390/BalanceCuentasCorrientesGestionJudicial.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentasCorrientesGestionJudicialSoap12" binding="tns:BalanceCuentasCorrientesGestionJudicialSoap12">
      <soap12:address location="http://localhost:1390/BalanceCuentasCorrientesGestionJudicial.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentasCorrientesGestionJudicialHttpGet" binding="tns:BalanceCuentasCorrientesGestionJudicialHttpGet">
      <http:address location="http://localhost:1390/BalanceCuentasCorrientesGestionJudicial.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceCuentasCorrientesGestionJudicialHttpPost" binding="tns:BalanceCuentasCorrientesGestionJudicialHttpPost">
      <http:address location="http://localhost:1390/BalanceCuentasCorrientesGestionJudicial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>