Balance/BalanceMovimientosCuentasCorrientes().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerBalanceMovimientosCuentasCorrientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerBalanceMovimientosCuentasCorrientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerBalanceMovimientosCuentasCorrientesResult" type="tns:ArrayOfDatosMovimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosMovimiento" nillable="true" type="tns:DatosMovimiento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_recibos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_asientos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_facturas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debitos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_creditos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="neto_libro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosMovimiento" nillable="true" type="tns:ArrayOfDatosMovimiento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceMovimientosCuentasCorrientes" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerBalanceMovimientosCuentasCorrientesResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesHttpGetIn">
  	<wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosMovimiento" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesHttpPostIn">
  	<wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerBalanceMovimientosCuentasCorrientesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosMovimiento" />
  </wsdl:message>
  <wsdl:portType name="BalanceMovimientosCuentasCorrientesSoap">
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <wsdl:input message="tns:ObtenerBalanceMovimientosCuentasCorrientesSoapIn" />
      <wsdl:output message="tns:ObtenerBalanceMovimientosCuentasCorrientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceMovimientosCuentasCorrientesHttpGet">
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <wsdl:input message="tns:ObtenerBalanceMovimientosCuentasCorrientesHttpGetIn" />
      <wsdl:output message="tns:ObtenerBalanceMovimientosCuentasCorrientesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BalanceMovimientosCuentasCorrientesHttpPost">
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <wsdl:input message="tns:ObtenerBalanceMovimientosCuentasCorrientesHttpPostIn" />
      <wsdl:output message="tns:ObtenerBalanceMovimientosCuentasCorrientesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BalanceMovimientosCuentasCorrientesSoap" type="tns:BalanceMovimientosCuentasCorrientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceMovimientosCuentasCorrientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMovimientosCuentasCorrientesSoap12" type="tns:BalanceMovimientosCuentasCorrientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerBalanceMovimientosCuentasCorrientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMovimientosCuentasCorrientesHttpGet" type="tns:BalanceMovimientosCuentasCorrientesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <http:operation location="/ObtenerBalanceMovimientosCuentasCorrientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BalanceMovimientosCuentasCorrientesHttpPost" type="tns:BalanceMovimientosCuentasCorrientesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerBalanceMovimientosCuentasCorrientes">
      <http:operation location="/ObtenerBalanceMovimientosCuentasCorrientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceMovimientosCuentasCorrientes">
    <wsdl:port name="BalanceMovimientosCuentasCorrientesSoap" binding="tns:BalanceMovimientosCuentasCorrientesSoap">
      <soap:address location="http://localhost:1390/BalanceMovimientosCuentasCorrientes.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMovimientosCuentasCorrientesSoap12" binding="tns:BalanceMovimientosCuentasCorrientesSoap12">
      <soap12:address location="http://localhost:1390/BalanceMovimientosCuentasCorrientes.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMovimientosCuentasCorrientesHttpGet" binding="tns:BalanceMovimientosCuentasCorrientesHttpGet">
      <http:address location="http://localhost:1390/BalanceMovimientosCuentasCorrientes.asmx" />
    </wsdl:port>
    <wsdl:port name="BalanceMovimientosCuentasCorrientesHttpPost" binding="tns:BalanceMovimientosCuentasCorrientesHttpPost">
      <http:address location="http://localhost:1390/BalanceMovimientosCuentasCorrientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>