Listador deudas/ListadorDeudas().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoDeudas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lista_parcial" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoDeudasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoDeudasResult" type="tns:ArrayOfDatosDeuda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosDeuda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosDeuda" nillable="true" type="tns:DatosDeuda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosDeuda">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="neto_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosDeuda" nillable="true" type="tns:ArrayOfDatosDeuda" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoDeudasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudas" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasHttpGetIn">
  	<wsdl:part name="acepta_fecha" type="s:string" />
  	<wsdl:part name="lista_parcial" type="s:short" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDeuda" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasHttpPostIn">
    <wsdl:part name="acepta_fecha" type="s:string" />
  	<wsdl:part name="lista_parcial" type="s:short" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDeuda" />
  </wsdl:message>
  <wsdl:portType name="ListadorDeudasSoap">
    <wsdl:operation name="ObtenerListadoDeudas">
      <wsdl:input message="tns:ObtenerListadoDeudasSoapIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorDeudasHttpGet">
    <wsdl:operation name="ObtenerListadoDeudas">
      <wsdl:input message="tns:ObtenerListadoDeudasHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorDeudasHttpPost">
    <wsdl:operation name="ObtenerListadoDeudas">
      <wsdl:input message="tns:ObtenerListadoDeudasHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorDeudasSoap" type="tns:ListadorDeudasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudas">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasSoap12" type="tns:ListadorDeudasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudas">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasHttpGet" type="tns:ListadorDeudasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoDeudas">
      <http:operation location="/ObtenerListadoDeudas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasHttpPost" type="tns:ListadorDeudasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoDeudas">
      <http:operation location="/ObtenerListadoDeudas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorDeudas">
    <wsdl:port name="ListadorDeudasSoap" binding="tns:ListadorDeudasSoap">
      <soap:address location="http://localhost:1390/ListadorDeudas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasSoap12" binding="tns:ListadorDeudasSoap12">
      <soap12:address location="http://localhost:1390/ListadorDeudas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasHttpGet" binding="tns:ListadorDeudasHttpGet">
      <http:address location="http://localhost:1390/ListadorDeudas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasHttpPost" binding="tns:ListadorDeudasHttpPost">
      <http:address location="http://localhost:1390/ListadorDeudas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>