DeudoresQueExcedenTope.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoDeudores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="tope_monto" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_tope" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_tope" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_tope" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoDeudoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoDeudoresResult" type="tns:ArrayOfDatosDeudor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosDeudor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosDeudor" nillable="true" type="tns:DatosDeudor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosDeudor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosDeudor" nillable="true" type="tns:ArrayOfDatosDeudor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoDeudoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudoresHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tope_monto" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="dia_tope" type="s:short" />
    <wsdl:part name="mes_tope" type="s:short" />
    <wsdl:part name="anio_tope" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDeudor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudoresHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tope_monto" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="dia_tope" type="s:short" />
    <wsdl:part name="mes_tope" type="s:short" />
    <wsdl:part name="anio_tope" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDeudor" />
  </wsdl:message>
  <wsdl:portType name="DeudoresQueExcedenTopeSoap">
    <wsdl:operation name="ObtenerListadoDeudores">
      <wsdl:input message="tns:ObtenerListadoDeudoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoDeudoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DeudoresQueExcedenTopeHttpGet">
    <wsdl:operation name="ObtenerListadoDeudores">
      <wsdl:input message="tns:ObtenerListadoDeudoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoDeudoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DeudoresQueExcedenTopeHttpPost">
    <wsdl:operation name="ObtenerListadoDeudores">
      <wsdl:input message="tns:ObtenerListadoDeudoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoDeudoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeudoresQueExcedenTopeSoap" type="tns:DeudoresQueExcedenTopeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeudoresQueExcedenTopeSoap12" type="tns:DeudoresQueExcedenTopeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeudoresQueExcedenTopeHttpGet" type="tns:DeudoresQueExcedenTopeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoDeudores">
      <http:operation location="/ObtenerListadoDeudores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeudoresQueExcedenTopeHttpPost" type="tns:DeudoresQueExcedenTopeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoDeudores">
      <http:operation location="/ObtenerListadoDeudores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeudoresQueExcedenTope">
    <wsdl:port name="DeudoresQueExcedenTopeSoap" binding="tns:DeudoresQueExcedenTopeSoap">
      <soap:address location="http://localhost:1390/DeudoresQueExcedenTope.asmx" />
    </wsdl:port>
    <wsdl:port name="DeudoresQueExcedenTopeSoap12" binding="tns:DeudoresQueExcedenTopeSoap12">
      <soap12:address location="http://localhost:1390/DeudoresQueExcedenTope.asmx" />
    </wsdl:port>
    <wsdl:port name="DeudoresQueExcedenTopeHttpGet" binding="tns:DeudoresQueExcedenTopeHttpGet">
      <http:address location="http://localhost:1390/DeudoresQueExcedenTope.asmx" />
    </wsdl:port>
    <wsdl:port name="DeudoresQueExcedenTopeHttpPost" binding="tns:DeudoresQueExcedenTopeHttpPost">
      <http:address location="http://localhost:1390/DeudoresQueExcedenTope.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>