EmisionCartasPorte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="EmitirCartaPorte">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" name="kilos_brutos" type="s:short" />
          	<s:element minOccurs="1" maxOccurs="1" name="propio" type="s:short" />
          	<s:element minOccurs="1" maxOccurs="1" name="condicion_iva_transportista" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parte1_cuit" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="parte2_cuit" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="parte3_cuit" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="domicilio_transportista" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="provincia_transportista" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="nombre_transportista" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="primera_carta_porte_libre" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="localidad_destino" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="partido_destino" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="provincia_destino" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirCartaPorteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirCartaPorteResult" type="tns:DatosEmision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosEmision">
        <s:sequence>
       	  <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
       	  <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
       	  <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="factura_numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos_brutos" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos_tara" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugar_entrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domicilio_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_transportista" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosEmision" nillable="true" type="tns:DatosEmision" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmitirCartaPorteSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirCartaPorte" />
  </wsdl:message>
  <wsdl:message name="EmitirCartaPorteSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirCartaPorteResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirCartaPorteHttpGetIn">
    <wsdl:part name="kilos_brutos" type="s:short" />
    <wsdl:part name="propio" type="s:short" />
    <wsdl:part name="condicion_iva_transportista" type="s:string" />
    <wsdl:part name="parte1_cuit" type="s:short" />
    <wsdl:part name="parte2_cuit" type="s:short" />
    <wsdl:part name="parte3_cuit" type="s:short" />
    <wsdl:part name="domicilio_transportista" type="s:string" />
    <wsdl:part name="provincia_transportista" type="s:string" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero" type="s:integer" />
    <wsdl:part name="nombre_transportista" type="s:string" />
    <wsdl:part name="primera_carta_porte_libre" type="s:short" />
    <wsdl:part name="localidad_destino" type="s:string" />
    <wsdl:part name="partido_destino" type="s:short" />
    <wsdl:part name="provincia_destino" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirCartaPorteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:message name="EmitirCartaPorteHttpPostIn">
    <wsdl:part name="kilos_brutos" type="s:short" />
    <wsdl:part name="propio" type="s:short" />
    <wsdl:part name="condicion_iva_transportista" type="s:string" />
    <wsdl:part name="parte1_cuit" type="s:short" />
    <wsdl:part name="parte2_cuit" type="s:short" />
    <wsdl:part name="parte3_cuit" type="s:short" />
    <wsdl:part name="domicilio_transportista" type="s:string" />
    <wsdl:part name="provincia_transportista" type="s:string" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero" type="s:integer" />
    <wsdl:part name="nombre_transportista" type="s:string" />
    <wsdl:part name="primera_carta_porte_libre" type="s:short" />
    <wsdl:part name="localidad_destino" type="s:string" />
    <wsdl:part name="partido_destino" type="s:short" />
    <wsdl:part name="provincia_destino" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirCartaPorteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:portType name="EmisionCartasPorteSoap">
    <wsdl:operation name="EmitirCartaPorte">
      <wsdl:input message="tns:EmitirCartaPorteSoapIn" />
      <wsdl:output message="tns:EmitirCartaPorteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionCartasPorteHttpGet">
    <wsdl:operation name="EmitirCartaPorte">
      <wsdl:input message="tns:EmitirCartaPorteHttpGetIn" />
      <wsdl:output message="tns:EmitirCartaPorteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionCartasPorteHttpPost">
    <wsdl:operation name="EmitirCartaPorte">
      <wsdl:input message="tns:EmitirCartaPorteHttpPostIn" />
      <wsdl:output message="tns:EmitirCartaPorteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmisionCartasPorteSoap" type="tns:EmisionCartasPorteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirCartaPorte">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/EmitirCartaPorte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionCartasPorteSoap12" type="tns:EmisionCartasPorteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirCartaPorte">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/EmitirCartaPorte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionCartasPorteHttpGet" type="tns:EmisionCartasPorteHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EmitirCartaPorte">
      <http:operation location="/EmitirCartaPorte" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionCartasPorteHttpPost" type="tns:EmisionCartasPorteHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EmitirCartaPorte">
      <http:operation location="/EmitirCartaPorte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmisionCartasPorte">
    <wsdl:port name="EmisionCartasPorteSoap" binding="tns:EmisionCartasPorteSoap">
      <soap:address location="http://localhost:1390/EmisionCartasPorte.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionCartasPorteSoap12" binding="tns:EmisionCartasPorteSoap12">
      <soap12:address location="http://localhost:1390/EmisionCartasPorte.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionCartasPorteHttpGet" binding="tns:EmisionCartasPorteHttpGet">
      <http:address location="http://localhost:1390/EmisionCartasPorte.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionCartasPorteHttpPost" binding="tns:EmisionCartasPorteHttpPost">
      <http:address location="http://localhost:1390/EmisionCartasPorte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>