EndosoChequesEnCartera.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="EndosarCheque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha_sistema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_receptor" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_receptor" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cheque" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndosarChequeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EndosarChequeResult" type="tns:DatosCheque" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosCheque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_firmante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_firmante" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosCheque" nillable="true" type="tns:DatosCheque" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EndosarChequeSoapIn">
    <wsdl:part name="parameters" element="tns:EndosarCheque" />
  </wsdl:message>
  <wsdl:message name="EndosarChequeSoapOut">
    <wsdl:part name="parameters" element="tns:EndosarChequeResponse" />
  </wsdl:message>
  <wsdl:message name="EndosarChequeHttpGetIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tipo_receptor" type="s:short" />
    <wsdl:part name="codigo_receptor" type="s:short" />
    <wsdl:part name="numero_cheque" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="EndosarChequeHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosCheque" />
  </wsdl:message>
  <wsdl:message name="EndosarChequeHttpPostIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tipo_receptor" type="s:short" />
    <wsdl:part name="codigo_receptor" type="s:short" />
    <wsdl:part name="numero_cheque" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="EndosarChequeHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosCheque" />
  </wsdl:message>
  <wsdl:portType name="EndosoChequesEnCarteraSoap">
    <wsdl:operation name="EndosarCheque">
      <wsdl:input message="tns:EndosarChequeSoapIn" />
      <wsdl:output message="tns:EndosarChequeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EndosoChequesEnCarteraHttpGet">
    <wsdl:operation name="EndosarCheque">
      <wsdl:input message="tns:EndosarChequeHttpGetIn" />
      <wsdl:output message="tns:EndosarChequeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EndosoChequesEnCarteraHttpPost">
    <wsdl:operation name="EndosarCheque">
      <wsdl:input message="tns:EndosarChequeHttpPostIn" />
      <wsdl:output message="tns:EndosarChequeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndosoChequesEnCarteraSoap" type="tns:EndosoChequesEnCarteraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EndosarCheque">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/EndosarCheque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EndosoChequesEnCarteraSoap12" type="tns:EndosoChequesEnCarteraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EndosarCheque">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/EndosarCheque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EndosoChequesEnCarteraHttpGet" type="tns:EndosoChequesEnCarteraHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EndosarCheque">
      <http:operation location="/EndosarCheque" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EndosoChequesEnCarteraHttpPost" type="tns:EndosoChequesEnCarteraHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EndosarCheque">
      <http:operation location="/EndosarCheque" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EndosoChequesEnCartera">
    <wsdl:port name="EndosoChequesEnCarteraSoap" binding="tns:EndosoChequesEnCarteraSoap">
      <soap:address location="http://localhost:1390/EndosoChequesEnCartera.asmx" />
    </wsdl:port>
    <wsdl:port name="EndosoChequesEnCarteraSoap12" binding="tns:EndosoChequesEnCarteraSoap12">
      <soap12:address location="http://localhost:1390/EndosoChequesEnCartera.asmx" />
    </wsdl:port>
    <wsdl:port name="EndosoChequesEnCarteraHttpGet" binding="tns:EndosoChequesEnCarteraHttpGet">
      <http:address location="http://localhost:1390/EndosoChequesEnCartera.asmx" />
    </wsdl:port>
    <wsdl:port name="EndosoChequesEnCarteraHttpPost" binding="tns:EndosoChequesEnCarteraHttpPost">
      <http:address location="http://localhost:1390/EndosoChequesEnCartera.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>