ExcelParaInformeOnca.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoOnca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoOncaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoOncaResult" type="tns:ArrayOfDatosOnca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosOnca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosOnca" nillable="true" type="tns:DatosOnca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosOnca">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="articulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="basico" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="adicional" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosOnca" nillable="true" type="tns:ArrayOfDatosOnca" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoOncaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoOnca" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoOncaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoOncaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoOncaHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoOncaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosOnca" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoOncaHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoOncaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosOnca" />
  </wsdl:message>
  <wsdl:portType name="ExcelParaInformeOncaSoap">
    <wsdl:operation name="ObtenerListadoOnca">
      <wsdl:input message="tns:ObtenerListadoOncaSoapIn" />
      <wsdl:output message="tns:ObtenerListadoOncaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaInformeOncaHttpGet">
    <wsdl:operation name="ObtenerListadoOnca">
      <wsdl:input message="tns:ObtenerListadoOncaHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoOncaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaInformeOncaHttpPost">
    <wsdl:operation name="ObtenerListadoOnca">
      <wsdl:input message="tns:ObtenerListadoOncaHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoOncaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelParaInformeOncaSoap" type="tns:ExcelParaInformeOncaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoOnca">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoOnca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeOncaSoap12" type="tns:ExcelParaInformeOncaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoOnca">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoOnca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeOncaHttpGet" type="tns:ExcelParaInformeOncaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoOnca">
      <http:operation location="/ObtenerListadoOnca" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeOncaHttpPost" type="tns:ExcelParaInformeOncaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoOnca">
      <http:operation location="/ObtenerListadoOnca" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelParaInformeOnca">
    <wsdl:port name="ExcelParaInformeOncaSoap" binding="tns:ExcelParaInformeOncaSoap">
      <soap:address location="http://localhost:1390/ExcelParaInformeOnca.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeOncaSoap12" binding="tns:ExcelParaInformeOncaSoap12">
      <soap12:address location="http://localhost:1390/ExcelParaInformeOnca.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeOncaHttpGet" binding="tns:ExcelParaInformeOncaHttpGet">
      <http:address location="http://localhost:1390/ExcelParaInformeOnca.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeOncaHttpPost" binding="tns:ExcelParaInformeOncaHttpPost">
      <http:address location="http://localhost:1390/ExcelParaInformeOnca.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>