FacturacionManualFletes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="FacturarFlete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="gravado_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="percepcion_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ing_brutos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autorizo" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacturarFleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacturarFleteResult" type="tns:DatosFlete" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosFlete">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="patente_camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad_kilos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosFlete" nillable="true" type="tns:DatosFlete" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FacturarFleteSoapIn">
    <wsdl:part name="parameters" element="tns:FacturarFlete" />
  </wsdl:message>
  <wsdl:message name="FacturarFleteSoapOut">
    <wsdl:part name="parameters" element="tns:FacturarFleteResponse" />
  </wsdl:message>
  <wsdl:message name="FacturarFleteHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="gravado_total" type="s:string" />
    <wsdl:part name="percepcion_total" type="s:string" />
    <wsdl:part name="ing_brutos" type="s:string" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="autorizo" type="s:short" />
  </wsdl:message>
  <wsdl:message name="FacturarFleteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosFlete" />
  </wsdl:message>
  <wsdl:message name="FacturarFleteHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="gravado_total" type="s:string" />
    <wsdl:part name="percepcion_total" type="s:string" />
    <wsdl:part name="ing_brutos" type="s:string" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="autorizo" type="s:short" />
  </wsdl:message>
  <wsdl:message name="FacturarFleteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosFlete" />
  </wsdl:message>
  <wsdl:portType name="FacturacionManualFletesSoap">
    <wsdl:operation name="FacturarFlete">
      <wsdl:input message="tns:FacturarFleteSoapIn" />
      <wsdl:output message="tns:FacturarFleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacturacionManualFletesHttpGet">
    <wsdl:operation name="FacturarFlete">
      <wsdl:input message="tns:FacturarFleteHttpGetIn" />
      <wsdl:output message="tns:FacturarFleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacturacionManualFletesHttpPost">
    <wsdl:operation name="FacturarFlete">
      <wsdl:input message="tns:FacturarFleteHttpPostIn" />
      <wsdl:output message="tns:FacturarFleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturacionManualFletesSoap" type="tns:FacturacionManualFletesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FacturarFlete">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/FacturarFlete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionManualFletesSoap12" type="tns:FacturacionManualFletesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FacturarFlete">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/FacturarFlete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionManualFletesHttpGet" type="tns:FacturacionManualFletesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FacturarFlete">
      <http:operation location="/FacturarFlete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionManualFletesHttpPost" type="tns:FacturacionManualFletesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FacturarFlete">
      <http:operation location="/FacturarFlete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturacionManualFletes">
    <wsdl:port name="FacturacionManualFletesSoap" binding="tns:FacturacionManualFletesSoap">
      <soap:address location="http://localhost:1390/FacturacionManualFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionManualFletesSoap12" binding="tns:FacturacionManualFletesSoap12">
      <soap12:address location="http://localhost:1390/FacturacionManualFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionManualFletesHttpGet" binding="tns:FacturacionManualFletesHttpGet">
      <http:address location="http://localhost:1390/FacturacionManualFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionManualFletesHttpPost" binding="tns:FacturacionManualFletesHttpPost">
      <http:address location="http://localhost:1390/FacturacionManualFletes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>