ImpresorCarteraDocumentosACobrar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCarteraDocumentosACobrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="desde_numero" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="hasta_numero" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="desde_cliente" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="hasta_cliente" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde_vencimiento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde_vencimiento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde_vencimiento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta_vencimiento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta_vencimiento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta_vencimiento" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCarteraDocumentosACobrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCarteraDocumentosACobrarResult" type="tns:ArrayOfDatosCartera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCartera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCartera" nillable="true" type="tns:DatosCartera" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCartera">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_firma" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_firma" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_firma" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cobrado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCartera" nillable="true" type="tns:ArrayOfDatosCartera" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCarteraDocumentosACobrar" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCarteraDocumentosACobrarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarHttpGetIn">
    <wsdl:part name="desde_numero" type="s:integer" />
    <wsdl:part name="hasta_numero" type="s:integer" />
    <wsdl:part name="desde_cliente" type="s:short" />
    <wsdl:part name="hasta_cliente" type="s:short" />
    <wsdl:part name="dia_desde_vencimiento" type="s:short" />
    <wsdl:part name="mes_desde_vencimiento" type="s:short" />
    <wsdl:part name="anio_desde_vencimiento" type="s:short" />
    <wsdl:part name="dia_hasta_vencimiento" type="s:short" />
    <wsdl:part name="mes_hasta_vencimiento" type="s:short" />
    <wsdl:part name="anio_hasta_vencimiento" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCartera" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarHttpPostIn">
    <wsdl:part name="desde_numero" type="s:integer" />
    <wsdl:part name="hasta_numero" type="s:integer" />
    <wsdl:part name="desde_cliente" type="s:short" />
    <wsdl:part name="hasta_cliente" type="s:short" />
    <wsdl:part name="dia_desde_vencimiento" type="s:short" />
    <wsdl:part name="mes_desde_vencimiento" type="s:short" />
    <wsdl:part name="anio_desde_vencimiento" type="s:short" />
    <wsdl:part name="dia_hasta_vencimiento" type="s:short" />
    <wsdl:part name="mes_hasta_vencimiento" type="s:short" />
    <wsdl:part name="anio_hasta_vencimiento" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCarteraDocumentosACobrarHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCartera" />
  </wsdl:message>
  <wsdl:portType name="ImpresorCarteraDocumentosACobrarSoap">
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <wsdl:input message="tns:ObtenerListadoCarteraDocumentosACobrarSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCarteraDocumentosACobrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresorCarteraDocumentosACobrarHttpGet">
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <wsdl:input message="tns:ObtenerListadoCarteraDocumentosACobrarHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCarteraDocumentosACobrarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresorCarteraDocumentosACobrarHttpPost">
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <wsdl:input message="tns:ObtenerListadoCarteraDocumentosACobrarHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCarteraDocumentosACobrarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresorCarteraDocumentosACobrarSoap" type="tns:ImpresorCarteraDocumentosACobrarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCarteraDocumentosACobrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorCarteraDocumentosACobrarSoap12" type="tns:ImpresorCarteraDocumentosACobrarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCarteraDocumentosACobrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorCarteraDocumentosACobrarHttpGet" type="tns:ImpresorCarteraDocumentosACobrarHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <http:operation location="/ObtenerListadoCarteraDocumentosACobrar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorCarteraDocumentosACobrarHttpPost" type="tns:ImpresorCarteraDocumentosACobrarHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCarteraDocumentosACobrar">
      <http:operation location="/ObtenerListadoCarteraDocumentosACobrar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresorCarteraDocumentosACobrar">
    <wsdl:port name="ImpresorCarteraDocumentosACobrarSoap" binding="tns:ImpresorCarteraDocumentosACobrarSoap">
      <soap:address location="http://localhost:1390/ImpresorCarteraDocumentosACobrar.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorCarteraDocumentosACobrarSoap12" binding="tns:ImpresorCarteraDocumentosACobrarSoap12">
      <soap12:address location="http://localhost:1390/ImpresorCarteraDocumentosACobrar.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorCarteraDocumentosACobrarHttpGet" binding="tns:ImpresorCarteraDocumentosACobrarHttpGet">
      <http:address location="http://localhost:1390/ImpresorCarteraDocumentosACobrar.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorCarteraDocumentosACobrarHttpPost" binding="tns:ImpresorCarteraDocumentosACobrarHttpPost">
      <http:address location="http://localhost:1390/ImpresorCarteraDocumentosACobrar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>