LimpiezaEstadisticas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="LimpiarEstadisticas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiarEstadisticasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LimpiarEstadisticasResult" type="tns:DatosEstadistica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosEstadistica">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="borradoCorrecto" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosEstadistica" nillable="true" type="tns:DatosEstadistica" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LimpiarEstadisticasSoapIn">
    <wsdl:part name="parameters" element="tns:LimpiarEstadisticas" />
  </wsdl:message>
  <wsdl:message name="LimpiarEstadisticasSoapOut">
    <wsdl:part name="parameters" element="tns:LimpiarEstadisticasResponse" />
  </wsdl:message>
  <wsdl:message name="LimpiarEstadisticasHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarEstadisticasHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosEstadistica" />
  </wsdl:message>
  <wsdl:message name="LimpiarEstadisticasHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarEstadisticasHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosEstadistica" />
  </wsdl:message>
  <wsdl:portType name="LimpiezaEstadisticasSoap">
    <wsdl:operation name="LimpiarEstadisticas">
      <wsdl:input message="tns:LimpiarEstadisticasSoapIn" />
      <wsdl:output message="tns:LimpiarEstadisticasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiezaEstadisticasHttpGet">
    <wsdl:operation name="LimpiarEstadisticas">
      <wsdl:input message="tns:LimpiarEstadisticasHttpGetIn" />
      <wsdl:output message="tns:LimpiarEstadisticasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiezaEstadisticasHttpPost">
    <wsdl:operation name="LimpiarEstadisticas">
      <wsdl:input message="tns:LimpiarEstadisticasHttpPostIn" />
      <wsdl:output message="tns:LimpiarEstadisticasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LimpiezaEstadisticasSoap" type="tns:LimpiezaEstadisticasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarEstadisticas">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/LimpiarEstadisticas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaEstadisticasSoap12" type="tns:LimpiezaEstadisticasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarEstadisticas">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/LimpiarEstadisticas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaEstadisticasHttpGet" type="tns:LimpiezaEstadisticasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LimpiarEstadisticas">
      <http:operation location="/LimpiarEstadisticas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaEstadisticasHttpPost" type="tns:LimpiezaEstadisticasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LimpiarEstadisticas">
      <http:operation location="/LimpiarEstadisticas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LimpiezaEstadisticas">
    <wsdl:port name="LimpiezaEstadisticasSoap" binding="tns:LimpiezaEstadisticasSoap">
      <soap:address location="http://localhost:1390/LimpiezaEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaEstadisticasSoap12" binding="tns:LimpiezaEstadisticasSoap12">
      <soap12:address location="http://localhost:1390/LimpiezaEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaEstadisticasHttpGet" binding="tns:LimpiezaEstadisticasHttpGet">
      <http:address location="http://localhost:1390/LimpiezaEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaEstadisticasHttpPost" binding="tns:LimpiezaEstadisticasHttpPost">
      <http:address location="http://localhost:1390/LimpiezaEstadisticas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>