LimpiaMercaderiaAEntregarDonaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="LimpiarMercaderiaAEntregarDonaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes_buscado" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_buscado" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiarMercaderiaAEntregarDonacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LimpiarMercaderiaAEntregarDonacionesResult" type="tns:DatosMercaderiaAEntregarDonaciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosMercaderiaAEntregarDonaciones">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="borradoCorrecto" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosMercaderiaAEntregarDonaciones" nillable="true" type="tns:DatosMercaderiaAEntregarDonaciones" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesSoapIn">
    <wsdl:part name="parameters" element="tns:LimpiarMercaderiaAEntregarDonaciones" />
  </wsdl:message>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesSoapOut">
    <wsdl:part name="parameters" element="tns:LimpiarMercaderiaAEntregarDonacionesResponse" />
  </wsdl:message>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesHttpGetIn">
    <wsdl:part name="mes_buscado" type="s:short" />
    <wsdl:part name="anio_buscado" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosMercaderiaAEntregarDonaciones" />
  </wsdl:message>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesHttpPostIn">
    <wsdl:part name="mes_buscado" type="s:short" />
    <wsdl:part name="anio_buscado" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarMercaderiaAEntregarDonacionesHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosMercaderiaAEntregarDonaciones" />
  </wsdl:message>
  <wsdl:portType name="LimpiaMercaderiaAEntregarDonacionesSoap">
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <wsdl:input message="tns:LimpiarMercaderiaAEntregarDonacionesSoapIn" />
      <wsdl:output message="tns:LimpiarMercaderiaAEntregarDonacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiaMercaderiaAEntregarDonacionesHttpGet">
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <wsdl:input message="tns:LimpiarMercaderiaAEntregarDonacionesHttpGetIn" />
      <wsdl:output message="tns:LimpiarMercaderiaAEntregarDonacionesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiaMercaderiaAEntregarDonacionesHttpPost">
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <wsdl:input message="tns:LimpiarMercaderiaAEntregarDonacionesHttpPostIn" />
      <wsdl:output message="tns:LimpiarMercaderiaAEntregarDonacionesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LimpiaMercaderiaAEntregarDonacionesSoap" type="tns:LimpiaMercaderiaAEntregarDonacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/LimpiarMercaderiaAEntregarDonaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiaMercaderiaAEntregarDonacionesSoap12" type="tns:LimpiaMercaderiaAEntregarDonacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/LimpiarMercaderiaAEntregarDonaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiaMercaderiaAEntregarDonacionesHttpGet" type="tns:LimpiaMercaderiaAEntregarDonacionesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <http:operation location="/LimpiarMercaderiaAEntregarDonaciones" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiaMercaderiaAEntregarDonacionesHttpPost" type="tns:LimpiaMercaderiaAEntregarDonacionesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LimpiarMercaderiaAEntregarDonaciones">
      <http:operation location="/LimpiarMercaderiaAEntregarDonaciones" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LimpiaMercaderiaAEntregarDonaciones">
    <wsdl:port name="LimpiaMercaderiaAEntregarDonacionesSoap" binding="tns:LimpiaMercaderiaAEntregarDonacionesSoap">
      <soap:address location="http://localhost:1390/LimpiaMercaderiaAEntregarDonaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiaMercaderiaAEntregarDonacionesSoap12" binding="tns:LimpiaMercaderiaAEntregarDonacionesSoap12">
      <soap12:address location="http://localhost:1390/LimpiaMercaderiaAEntregarDonaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiaMercaderiaAEntregarDonacionesHttpGet" binding="tns:LimpiaMercaderiaAEntregarDonacionesHttpGet">
      <http:address location="http://localhost:1390/LimpiaMercaderiaAEntregarDonaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiaMercaderiaAEntregarDonacionesHttpPost" binding="tns:LimpiaMercaderiaAEntregarDonacionesHttpPost">
      <http:address location="http://localhost:1390/LimpiaMercaderiaAEntregarDonaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>