LiquidacionComisionVendedores((.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="LiquidarComisionVendedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:float" />
          	<s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:float" />
          	<s:element minOccurs="0" maxOccurs="1" name="recibo_buscado" type="s:integer" />
          	<s:element minOccurs="0" maxOccurs="1" name="desde_zona" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="hasta_zona" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="desde_dia" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="desde_mes" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="desde_anio" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="hasta_dia" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="hasta_mes" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="hasta_anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LiquidarComisionVendedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LiquidarComisionVendedoresResult" type="tns:ArrayOfDatosVendedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosVendedor" nillable="true" type="tns:DatosVendedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="marca_linea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marca_linea1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="neto_cobrado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_linea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_cobrado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_calculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="porciento_comision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosVendedor" nillable="true" type="tns:ArrayOfDatosVendedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LiquidarComisionVendedoresSoapIn">
    <wsdl:part name="parameters" element="tns:LiquidarComisionVendedores" />
  </wsdl:message>
  <wsdl:message name="LiquidarComisionVendedoresSoapOut">
    <wsdl:part name="parameters" element="tns:LiquidarComisionVendedoresResponse" />
  </wsdl:message>
  <wsdl:message name="LiquidarComisionVendedoresHttpGetIn">
    <wsdl:part name="iva_basico" type="s:short" />
    <wsdl:part name="iva_adicional" type="s:short" />
    <wsdl:part name="recibo_buscado" type="s:integer" />
    <wsdl:part name="desde_zona" type="s:short" />
    <wsdl:part name="hasta_zona" type="s:short" />
    <wsdl:part name="desde_dia" type="s:short" />
    <wsdl:part name="desde_mes" type="s:short" />
    <wsdl:part name="desde_anio" type="s:short" />
    <wsdl:part name="hasta_dia" type="s:short" />
    <wsdl:part name="hasta_mes" type="s:short" />
    <wsdl:part name="hasta_anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LiquidarComisionVendedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosVendedor" />
  </wsdl:message>
  <wsdl:message name="LiquidarComisionVendedoresHttpPostIn">
    <wsdl:part name="iva_basico" type="s:short" />
    <wsdl:part name="iva_adicional" type="s:short" />
    <wsdl:part name="recibo_buscado" type="s:integer" />
    <wsdl:part name="desde_zona" type="s:short" />
    <wsdl:part name="hasta_zona" type="s:short" />
    <wsdl:part name="desde_dia" type="s:short" />
    <wsdl:part name="desde_mes" type="s:short" />
    <wsdl:part name="desde_anio" type="s:short" />
    <wsdl:part name="hasta_dia" type="s:short" />
    <wsdl:part name="hasta_mes" type="s:short" />
    <wsdl:part name="hasta_anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LiquidarComisionVendedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosVendedor" />
  </wsdl:message>
  <wsdl:portType name="LiquidacionComisionVendedoresSoap">
    <wsdl:operation name="LiquidarComisionVendedores">
      <wsdl:input message="tns:LiquidarComisionVendedoresSoapIn" />
      <wsdl:output message="tns:LiquidarComisionVendedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LiquidacionComisionVendedoresHttpGet">
    <wsdl:operation name="LiquidarComisionVendedores">
      <wsdl:input message="tns:LiquidarComisionVendedoresHttpGetIn" />
      <wsdl:output message="tns:LiquidarComisionVendedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LiquidacionComisionVendedoresHttpPost">
    <wsdl:operation name="LiquidarComisionVendedores">
      <wsdl:input message="tns:LiquidarComisionVendedoresHttpPostIn" />
      <wsdl:output message="tns:LiquidarComisionVendedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiquidacionComisionVendedoresSoap" type="tns:LiquidacionComisionVendedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiquidarComisionVendedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/LiquidarComisionVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiquidacionComisionVendedoresSoap12" type="tns:LiquidacionComisionVendedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiquidarComisionVendedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/LiquidarComisionVendedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiquidacionComisionVendedoresHttpGet" type="tns:LiquidacionComisionVendedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LiquidarComisionVendedores">
      <http:operation location="/LiquidarComisionVendedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiquidacionComisionVendedoresHttpPost" type="tns:LiquidacionComisionVendedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LiquidarComisionVendedores">
      <http:operation location="/LiquidarComisionVendedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiquidacionComisionVendedores">
    <wsdl:port name="LiquidacionComisionVendedoresSoap" binding="tns:LiquidacionComisionVendedoresSoap">
      <soap:address location="http://localhost:1390/LiquidacionComisionVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="LiquidacionComisionVendedoresSoap12" binding="tns:LiquidacionComisionVendedoresSoap12">
      <soap12:address location="http://localhost:1390/LiquidacionComisionVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="LiquidacionComisionVendedoresHttpGet" binding="tns:LiquidacionComisionVendedoresHttpGet">
      <http:address location="http://localhost:1390/LiquidacionComisionVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="LiquidacionComisionVendedoresHttpPost" binding="tns:LiquidacionComisionVendedoresHttpPost">
      <http:address location="http://localhost:1390/LiquidacionComisionVendedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>