ListadoCajaOrdenMayor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCajaOrdenMayor">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" name="abre_cuenta" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCajaOrdenMayorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCajaOrdenMayorResult" type="tns:ArrayOfDatosCajaOrdenMayor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCajaOrdenMayor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCajaOrdenMayor" nillable="true" type="tns:DatosCajaOrdenMayor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCajaOrdenMayor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="deudor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento_deudor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCajaOrdenMayor" nillable="true" type="tns:ArrayOfDatosCajaOrdenMayor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCajaOrdenMayor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCajaOrdenMayorResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorHttpGetIn">
  	<wsdl:part name="abre_cuenta" type="s:long" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCajaOrdenMayor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorHttpPostIn">
  	<wsdl:part name="abre_cuenta" type="s:long" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCajaOrdenMayorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCajaOrdenMayor" />
  </wsdl:message>
  <wsdl:portType name="ListadoCajaOrdenMayorSoap">
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <wsdl:input message="tns:ObtenerListadoCajaOrdenMayorSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCajaOrdenMayorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoCajaOrdenMayorHttpGet">
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <wsdl:input message="tns:ObtenerListadoCajaOrdenMayorHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCajaOrdenMayorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoCajaOrdenMayorHttpPost">
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <wsdl:input message="tns:ObtenerListadoCajaOrdenMayorHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCajaOrdenMayorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoCajaOrdenMayorSoap" type="tns:ListadoCajaOrdenMayorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCajaOrdenMayor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenMayorSoap12" type="tns:ListadoCajaOrdenMayorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCajaOrdenMayor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenMayorHttpGet" type="tns:ListadoCajaOrdenMayorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <http:operation location="/ObtenerListadoCajaOrdenMayor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenMayorHttpPost" type="tns:ListadoCajaOrdenMayorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCajaOrdenMayor">
      <http:operation location="/ObtenerListadoCajaOrdenMayor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoCajaOrdenMayor">
    <wsdl:port name="ListadoCajaOrdenMayorSoap" binding="tns:ListadoCajaOrdenMayorSoap">
      <soap:address location="http://localhost:1390/ListadoCajaOrdenMayor.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenMayorSoap12" binding="tns:ListadoCajaOrdenMayorSoap12">
      <soap12:address location="http://localhost:1390/ListadoCajaOrdenMayor.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenMayorHttpGet" binding="tns:ListadoCajaOrdenMayorHttpGet">
      <http:address location="http://localhost:1390/ListadoCajaOrdenMayor.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenMayorHttpPost" binding="tns:ListadoCajaOrdenMayorHttpPost">
      <http:address location="http://localhost:1390/ListadoCajaOrdenMayor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>