ListadorCuentasProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasProveedoresResult" type="tns:ArrayOfDatosCuentaProveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaProveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaProveedor" nillable="true" type="tns:DatosCuentaProveedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaProveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaProveedor" nillable="true" type="tns:ArrayOfDatosCuentaProveedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasProveedoresHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasProveedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaProveedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasProveedoresHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasProveedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaProveedor" />
  </wsdl:message>
  <wsdl:portType name="ListadorCuentasProveedoresSoap">
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasProveedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasProveedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasProveedoresHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasProveedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasProveedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasProveedoresHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasProveedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasProveedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorCuentasProveedoresSoap" type="tns:ListadorCuentasProveedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasProveedoresSoap12" type="tns:ListadorCuentasProveedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasProveedoresHttpGet" type="tns:ListadorCuentasProveedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <http:operation location="/ObtenerListadoCuentasProveedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasProveedoresHttpPost" type="tns:ListadorCuentasProveedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasProveedores">
      <http:operation location="/ObtenerListadoCuentasProveedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorCuentasProveedores">
    <wsdl:port name="ListadorCuentasProveedoresSoap" binding="tns:ListadorCuentasProveedoresSoap">
      <soap:address location="http://localhost:1390/ListadorCuentasProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasProveedoresSoap12" binding="tns:ListadorCuentasProveedoresSoap12">
      <soap12:address location="http://localhost:1390/ListadorCuentasProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasProveedoresHttpGet" binding="tns:ListadorCuentasProveedoresHttpGet">
      <http:address location="http://localhost:1390/ListadorCuentasProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasProveedoresHttpPost" binding="tns:ListadorCuentasProveedoresHttpPost">
      <http:address location="http://localhost:1390/ListadorCuentasProveedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>