ListadorCuentasAcreedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasAcreedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ceros_si" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasAcreedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasAcreedoresResult" type="tns:ArrayOfDatosCuentaAcreedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaAcreedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaAcreedor" nillable="true" type="tns:DatosCuentaAcreedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaAcreedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaAcreedor" nillable="true" type="tns:ArrayOfDatosCuentaAcreedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasAcreedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasAcreedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="ceros_si" type="s:boolean" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaAcreedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="ceros_si" type="s:boolean" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasAcreedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaAcreedor" />
  </wsdl:message>
  <wsdl:portType name="ListadorCuentasAcreedoresSoap">
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <wsdl:input message="tns:ObtenerListadoCuentasAcreedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasAcreedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasAcreedoresHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <wsdl:input message="tns:ObtenerListadoCuentasAcreedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasAcreedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasAcreedoresHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <wsdl:input message="tns:ObtenerListadoCuentasAcreedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasAcreedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorCuentasAcreedoresSoap" type="tns:ListadorCuentasAcreedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasAcreedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasAcreedoresSoap12" type="tns:ListadorCuentasAcreedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasAcreedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasAcreedoresHttpGet" type="tns:ListadorCuentasAcreedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <http:operation location="/ObtenerListadoCuentasAcreedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasAcreedoresHttpPost" type="tns:ListadorCuentasAcreedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasAcreedores">
      <http:operation location="/ObtenerListadoCuentasAcreedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorCuentasAcreedores">
    <wsdl:port name="ListadorCuentasAcreedoresSoap" binding="tns:ListadorCuentasAcreedoresSoap">
      <soap:address location="http://localhost:1390/ListadorCuentasAcreedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasAcreedoresSoap12" binding="tns:ListadorCuentasAcreedoresSoap12">
      <soap12:address location="http://localhost:1390/ListadorCuentasAcreedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasAcreedoresHttpGet" binding="tns:ListadorCuentasAcreedoresHttpGet">
      <http:address location="http://localhost:1390/ListadorCuentasAcreedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasAcreedoresHttpPost" binding="tns:ListadorCuentasAcreedoresHttpPost">
      <http:address location="http://localhost:1390/ListadorCuentasAcreedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>