ListadoChequesRechazados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoChequesRechazados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_desde" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_hasta" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente_desde" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente_hasta" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoChequesRechazadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoChequesRechazadosResult" type="tns:ArrayOfDatosChequesRechazados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosChequesRechazados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosChequesRechazados" nillable="true" type="tns:DatosChequesRechazados" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosChequesRechazados">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_firmante" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosChequesRechazados" nillable="true" type="tns:ArrayOfDatosChequesRechazados" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoChequesRechazadosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoChequesRechazados" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoChequesRechazadosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoChequesRechazadosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoChequesRechazadosHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero_desde" type="s:integer" />
    <wsdl:part name="numero_hasta" type="s:integer" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="cliente_desde" type="s:integer" />
    <wsdl:part name="cliente_hasta" type="s:integer" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoChequesRechazadosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRechazados" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoChequesRechazadosHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero_desde" type="s:integer" />
    <wsdl:part name="numero_hasta" type="s:integer" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="cliente_desde" type="s:integer" />
    <wsdl:part name="cliente_hasta" type="s:integer" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoChequesRechazadosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRechazados" />
  </wsdl:message>
  <wsdl:portType name="ListadoChequesRechazadosSoap">
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoChequesRechazadosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoChequesRechazadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoChequesRechazadosHttpGet">
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoChequesRechazadosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoChequesRechazadosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoChequesRechazadosHttpPost">
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoChequesRechazadosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoChequesRechazadosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoChequesRechazadosSoap" type="tns:ListadoChequesRechazadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoChequesRechazados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoChequesRechazadosSoap12" type="tns:ListadoChequesRechazadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoChequesRechazados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoChequesRechazadosHttpGet" type="tns:ListadoChequesRechazadosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <http:operation location="/ObtenerListadoChequesRechazados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoChequesRechazadosHttpPost" type="tns:ListadoChequesRechazadosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoChequesRechazados">
      <http:operation location="/ObtenerListadoChequesRechazados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoChequesRechazados">
    <wsdl:port name="ListadoChequesRechazadosSoap" binding="tns:ListadoChequesRechazadosSoap">
      <soap:address location="http://localhost:1390/ListadoChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoChequesRechazadosSoap12" binding="tns:ListadoChequesRechazadosSoap12">
      <soap12:address location="http://localhost:1390/ListadoChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoChequesRechazadosHttpGet" binding="tns:ListadoChequesRechazadosHttpGet">
      <http:address location="http://localhost:1390/ListadoChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoChequesRechazadosHttpPost" binding="tns:ListadoChequesRechazadosHttpPost">
      <http:address location="http://localhost:1390/ListadoChequesRechazados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>