ListadoHarinaVendida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoHarinaVendida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoHarinaVendidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoHarinaVendidaResult" type="tns:ArrayOfDatosHarinaVendida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosHarinaVendida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosHarinaVendida" nillable="true" type="tns:DatosHarinaVendida" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosHarinaVendida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosHarinaVendida" nillable="true" type="tns:ArrayOfDatosHarinaVendida" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoHarinaVendidaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoHarinaVendida" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoHarinaVendidaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoHarinaVendidaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoHarinaVendidaHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoHarinaVendidaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosHarinaVendida" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoHarinaVendidaHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoHarinaVendidaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosHarinaVendida" />
  </wsdl:message>
  <wsdl:portType name="ListadoHarinaVendidaSoap">
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <wsdl:input message="tns:ObtenerListadoHarinaVendidaSoapIn" />
      <wsdl:output message="tns:ObtenerListadoHarinaVendidaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoHarinaVendidaHttpGet">
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <wsdl:input message="tns:ObtenerListadoHarinaVendidaHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoHarinaVendidaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoHarinaVendidaHttpPost">
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <wsdl:input message="tns:ObtenerListadoHarinaVendidaHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoHarinaVendidaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoHarinaVendidaSoap" type="tns:ListadoHarinaVendidaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoHarinaVendida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoHarinaVendidaSoap12" type="tns:ListadoHarinaVendidaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoHarinaVendida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoHarinaVendidaHttpGet" type="tns:ListadoHarinaVendidaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <http:operation location="/ObtenerListadoHarinaVendida" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoHarinaVendidaHttpPost" type="tns:ListadoHarinaVendidaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoHarinaVendida">
      <http:operation location="/ObtenerListadoHarinaVendida" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoHarinaVendida">
    <wsdl:port name="ListadoHarinaVendidaSoap" binding="tns:ListadoHarinaVendidaSoap">
      <soap:address location="http://localhost:1390/ListadoHarinaVendida.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoHarinaVendidaSoap12" binding="tns:ListadoHarinaVendidaSoap12">
      <soap12:address location="http://localhost:1390/ListadoHarinaVendida.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoHarinaVendidaHttpGet" binding="tns:ListadoHarinaVendidaHttpGet">
      <http:address location="http://localhost:1390/ListadoHarinaVendida.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoHarinaVendidaHttpPost" binding="tns:ListadoHarinaVendidaHttpPost">
      <http:address location="http://localhost:1390/ListadoHarinaVendida.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>