ListadorDeudasChequesRechazados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoDeudasChequesRechazados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoDeudasChequesRechazadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoDeudasChequesRechazadosResult" type="tns:ArrayOfDatosChequesRechazados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosChequesRechazados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosChequesRechazados" nillable="true" type="tns:DatosChequesRechazados" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosChequesRechazados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_cheque" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_cheque" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_cheque" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_firmante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_firmante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bolsas" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="neto_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosChequesRechazados" nillable="true" type="tns:ArrayOfDatosChequesRechazados" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudasChequesRechazados" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDeudasChequesRechazadosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosHttpGetIn">
  	<wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRechazados" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosHttpPostIn">
    <wsdl:part name="fecha" type="s:string" />
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDeudasChequesRechazadosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRechazados" />
  </wsdl:message>
  <wsdl:portType name="ListadorDeudasChequesRechazadosSoap">
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoDeudasChequesRechazadosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasChequesRechazadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorDeudasChequesRechazadosHttpGet">
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoDeudasChequesRechazadosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasChequesRechazadosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorDeudasChequesRechazadosHttpPost">
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <wsdl:input message="tns:ObtenerListadoDeudasChequesRechazadosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoDeudasChequesRechazadosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorDeudasChequesRechazadosSoap" type="tns:ListadorDeudasChequesRechazadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudasChequesRechazados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasChequesRechazadosSoap12" type="tns:ListadorDeudasChequesRechazadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDeudasChequesRechazados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasChequesRechazadosHttpGet" type="tns:ListadorDeudasChequesRechazadosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <http:operation location="/ObtenerListadoDeudasChequesRechazados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorDeudasChequesRechazadosHttpPost" type="tns:ListadorDeudasChequesRechazadosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoDeudasChequesRechazados">
      <http:operation location="/ObtenerListadoDeudasChequesRechazados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorDeudasChequesRechazados">
    <wsdl:port name="ListadorDeudasChequesRechazadosSoap" binding="tns:ListadorDeudasChequesRechazadosSoap">
      <soap:address location="http://localhost:1390/ListadorDeudasChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasChequesRechazadosSoap12" binding="tns:ListadorDeudasChequesRechazadosSoap12">
      <soap12:address location="http://localhost:1390/ListadorDeudasChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasChequesRechazadosHttpGet" binding="tns:ListadorDeudasChequesRechazadosHttpGet">
      <http:address location="http://localhost:1390/ListadorDeudasChequesRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorDeudasChequesRechazadosHttpPost" binding="tns:ListadorDeudasChequesRechazadosHttpPost">
      <http:address location="http://localhost:1390/ListadorDeudasChequesRechazados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>