ListaKardex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListaKardex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="desde_articulo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="hasta_articulo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="deposito" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="hoja_numero" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListaKardexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListaKardexResult" type="tns:ArrayOfDatosKardex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosKardex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosKardex" nillable="true" type="tns:DatosKardex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosKardex">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosKardex" nillable="true" type="tns:ArrayOfDatosKardex" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListaKardexSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListaKardex" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaKardexSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListaKardexResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaKardexHttpGetIn">
  	<wsdl:part name="desde_articulo" type="s:short" />
  	<wsdl:part name="hasta_articulo" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="deposito" type="s:short" />
    <wsdl:part name="hoja_numero" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaKardexHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosKardex" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaKardexHttpPostIn">
    <wsdl:part name="desde_articulo" type="s:short" />
  	<wsdl:part name="hasta_articulo" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="deposito" type="s:short" />
    <wsdl:part name="hoja_numero" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaKardexHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosKardex" />
  </wsdl:message>
  <wsdl:portType name="ListaKardexSoap">
    <wsdl:operation name="ObtenerListaKardex">
      <wsdl:input message="tns:ObtenerListaKardexSoapIn" />
      <wsdl:output message="tns:ObtenerListaKardexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListaKardexHttpGet">
    <wsdl:operation name="ObtenerListaKardex">
      <wsdl:input message="tns:ObtenerListaKardexHttpGetIn" />
      <wsdl:output message="tns:ObtenerListaKardexHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListaKardexHttpPost">
    <wsdl:operation name="ObtenerListaKardex">
      <wsdl:input message="tns:ObtenerListaKardexHttpPostIn" />
      <wsdl:output message="tns:ObtenerListaKardexHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListaKardexSoap" type="tns:ListaKardexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaKardex">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListaKardex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListaKardexSoap12" type="tns:ListaKardexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaKardex">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListaKardex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListaKardexHttpGet" type="tns:ListaKardexHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListaKardex">
      <http:operation location="/ObtenerListaKardex" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListaKardexHttpPost" type="tns:ListaKardexHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListaKardex">
      <http:operation location="/ObtenerListaKardex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListaKardex">
    <wsdl:port name="ListaKardexSoap" binding="tns:ListaKardexSoap">
      <soap:address location="http://localhost:1390/ListaKardex.asmx" />
    </wsdl:port>
    <wsdl:port name="ListaKardexSoap12" binding="tns:ListaKardexSoap12">
      <soap12:address location="http://localhost:1390/ListaKardex.asmx" />
    </wsdl:port>
    <wsdl:port name="ListaKardexHttpGet" binding="tns:ListaKardexHttpGet">
      <http:address location="http://localhost:1390/ListaKardex.asmx" />
    </wsdl:port>
    <wsdl:port name="ListaKardexHttpPost" binding="tns:ListaKardexHttpPost">
      <http:address location="http://localhost:1390/ListaKardex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>