NotaDeCreditoSinRemitoConPedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="RealizarNotaCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_pedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_envases" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_bolsas" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_serie_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="autorizo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_camion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarNotaCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarNotaCreditoResult" type="tns:DatosNotaCredito" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosNotaCredito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="pendiente_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pendiente_entrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="patente_camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad_kilos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosNotaCredito" nillable="true" type="tns:DatosNotaCredito" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizarNotaCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarNotaCredito" />
  </wsdl:message>
  <wsdl:message name="RealizarNotaCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarNotaCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarNotaCreditoHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="acepta_pedido" type="s:string" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
    <wsdl:part name="acepta_serie_factura" type="s:string" />
    <wsdl:part name="acepta_factura" type="s:integer" />
    <wsdl:part name="autorizo" type="s:short" />
    <wsdl:part name="patente_camion" type="s:string" />
    <wsdl:part name="patente_acoplado" type="s:string" />
    <wsdl:part name="empresa_transportista" type="s:string" />
    <wsdl:part name="conductor" type="s:string" />
    <wsdl:part name="registro_conductor" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
  </wsdl:message>
  <wsdl:message name="RealizarNotaCreditoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosNotaCredito" />
  </wsdl:message>
  <wsdl:message name="RealizarNotaCreditoHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="acepta_pedido" type="s:string" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
    <wsdl:part name="acepta_serie_factura" type="s:string" />
    <wsdl:part name="acepta_factura" type="s:integer" />
    <wsdl:part name="autorizo" type="s:short" />
    <wsdl:part name="patente_camion" type="s:string" />
    <wsdl:part name="patente_acoplado" type="s:string" />
    <wsdl:part name="empresa_transportista" type="s:string" />
    <wsdl:part name="conductor" type="s:string" />
    <wsdl:part name="registro_conductor" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
  </wsdl:message>
  <wsdl:message name="RealizarNotaCreditoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosNotaCredito" />
  </wsdl:message>
  <wsdl:portType name="NotaDeCreditoSinRemitoConPedidosSoap">
    <wsdl:operation name="RealizarNotaCredito">
      <wsdl:input message="tns:RealizarNotaCreditoSoapIn" />
      <wsdl:output message="tns:RealizarNotaCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotaDeCreditoSinRemitoConPedidosHttpGet">
    <wsdl:operation name="RealizarNotaCredito">
      <wsdl:input message="tns:RealizarNotaCreditoHttpGetIn" />
      <wsdl:output message="tns:RealizarNotaCreditoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotaDeCreditoSinRemitoConPedidosHttpPost">
    <wsdl:operation name="RealizarNotaCredito">
      <wsdl:input message="tns:RealizarNotaCreditoHttpPostIn" />
      <wsdl:output message="tns:RealizarNotaCreditoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotaDeCreditoSinRemitoConPedidosSoap" type="tns:NotaDeCreditoSinRemitoConPedidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarNotaCredito">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/RealizarNotaCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotaDeCreditoSinRemitoConPedidosSoap12" type="tns:NotaDeCreditoSinRemitoConPedidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarNotaCredito">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/RealizarNotaCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotaDeCreditoSinRemitoConPedidosHttpGet" type="tns:NotaDeCreditoSinRemitoConPedidosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RealizarNotaCredito">
      <http:operation location="/RealizarNotaCredito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotaDeCreditoSinRemitoConPedidosHttpPost" type="tns:NotaDeCreditoSinRemitoConPedidosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RealizarNotaCredito">
      <http:operation location="/RealizarNotaCredito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotaDeCreditoSinRemitoConPedidos">
    <wsdl:port name="NotaDeCreditoSinRemitoConPedidosSoap" binding="tns:NotaDeCreditoSinRemitoConPedidosSoap">
      <soap:address location="http://localhost:1390/NotaDeCreditoSinRemitoConPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="NotaDeCreditoSinRemitoConPedidosSoap12" binding="tns:NotaDeCreditoSinRemitoConPedidosSoap12">
      <soap12:address location="http://localhost:1390/NotaDeCreditoSinRemitoConPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="NotaDeCreditoSinRemitoConPedidosHttpGet" binding="tns:NotaDeCreditoSinRemitoConPedidosHttpGet">
      <http:address location="http://localhost:1390/NotaDeCreditoSinRemitoConPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="NotaDeCreditoSinRemitoConPedidosHttpPost" binding="tns:NotaDeCreditoSinRemitoConPedidosHttpPost">
      <http:address location="http://localhost:1390/NotaDeCreditoSinRemitoConPedidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>