TransferenciasDentroDeudasClientes((.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="TransferirImporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante_debe" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante_debe" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante_haber" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante_haber" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_transferir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferirImporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferirImporteResult" type="tns:DatosTransferencia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosTransferencia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_transferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante_debe" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante_debe" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante_haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante_haber" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante_haber" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_transferido" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bolsas" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="neto_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosTransferencia" nillable="true" type="tns:DatosTransferencia" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransferirImporteSoapIn">
    <wsdl:part name="parameters" element="tns:TransferirImporte" />
  </wsdl:message>
  <wsdl:message name="TransferirImporteSoapOut">
    <wsdl:part name="parameters" element="tns:TransferirImporteResponse" />
  </wsdl:message>
  <wsdl:message name="TransferirImporteHttpGetIn">
    <wsdl:part name="acepta_fecha" type="s:string" />
    <wsdl:part name="cliente_desde" type="s:short" />
    <wsdl:part name="tipo_comprobante_debe" type="s:short" />
    <wsdl:part name="numero_comprobante_debe" type="s:integer" />
    <wsdl:part name="tipo_comprobante_haber" type="s:short" />
    <wsdl:part name="numero_comprobante_haber" type="s:integer" />
    <wsdl:part name="importe_transferir" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferirImporteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosTransferencia" />
  </wsdl:message>
  <wsdl:message name="TransferirImporteHttpPostIn">
    <wsdl:part name="acepta_fecha" type="s:string" />
    <wsdl:part name="cliente_desde" type="s:short" />
    <wsdl:part name="tipo_comprobante_debe" type="s:short" />
    <wsdl:part name="numero_comprobante_debe" type="s:integer" />
    <wsdl:part name="tipo_comprobante_haber" type="s:short" />
    <wsdl:part name="numero_comprobante_haber" type="s:integer" />
    <wsdl:part name="importe_transferir" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferirImporteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosTransferencia" />
  </wsdl:message>
  <wsdl:portType name="TransferenciasDentroDeudasClientesSoap">
    <wsdl:operation name="TransferirImporte">
      <wsdl:input message="tns:TransferirImporteSoapIn" />
      <wsdl:output message="tns:TransferirImporteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TransferenciasDentroDeudasClientesHttpGet">
    <wsdl:operation name="TransferirImporte">
      <wsdl:input message="tns:TransferirImporteHttpGetIn" />
      <wsdl:output message="tns:TransferirImporteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TransferenciasDentroDeudasClientesHttpPost">
    <wsdl:operation name="TransferirImporte">
      <wsdl:input message="tns:TransferirImporteHttpPostIn" />
      <wsdl:output message="tns:TransferirImporteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransferenciasDentroDeudasClientesSoap" type="tns:TransferenciasDentroDeudasClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransferirImporte">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/TransferirImporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransferenciasDentroDeudasClientesSoap12" type="tns:TransferenciasDentroDeudasClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransferirImporte">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/TransferirImporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransferenciasDentroDeudasClientesHttpGet" type="tns:TransferenciasDentroDeudasClientesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TransferirImporte">
      <http:operation location="/TransferirImporte" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransferenciasDentroDeudasClientesHttpPost" type="tns:TransferenciasDentroDeudasClientesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TransferirImporte">
      <http:operation location="/TransferirImporte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferenciasDentroDeudasClientes">
    <wsdl:port name="TransferenciasDentroDeudasClientesSoap" binding="tns:TransferenciasDentroDeudasClientesSoap">
      <soap:address location="http://localhost:1390/TransferenciasDentroDeudasClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="TransferenciasDentroDeudasClientesSoap12" binding="tns:TransferenciasDentroDeudasClientesSoap12">
      <soap12:address location="http://localhost:1390/TransferenciasDentroDeudasClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="TransferenciasDentroDeudasClientesHttpGet" binding="tns:TransferenciasDentroDeudasClientesHttpGet">
      <http:address location="http://localhost:1390/TransferenciasDentroDeudasClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="TransferenciasDentroDeudasClientesHttpPost" binding="tns:TransferenciasDentroDeudasClientesHttpPost">
      <http:address location="http://localhost:1390/TransferenciasDentroDeudasClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>