Debitos/DebitosCreditosVarios().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="RealizarCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tasa_iva" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="gravado_total" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="excento_total" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="ing_brutos" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarCreditoResult" type="tns:DatosCredito" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosCredito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosCredito" nillable="true" type="tns:DatosCredito" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizarCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarCredito" />
  </wsdl:message>
  <wsdl:message name="RealizarCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarCreditoHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tipo_comprobante" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:short" />
    <wsdl:part name="tasa_iva" type="s:float" />
    <wsdl:part name="importe_total" type="s:double" />
    <wsdl:part name="gravado_total" type="s:double" />
    <wsdl:part name="excento_total" type="s:double" />
    <wsdl:part name="iva_basico" type="s:double" />
    <wsdl:part name="ing_brutos" type="s:double" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="condicion" type="s:short" />
  </wsdl:message>
  <wsdl:message name="RealizarCreditoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosCredito" />
  </wsdl:message>
  <wsdl:message name="RealizarCreditoHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="tipo_comprobante" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:short" />
    <wsdl:part name="tasa_iva" type="s:float" />
    <wsdl:part name="importe_total" type="s:double" />
    <wsdl:part name="gravado_total" type="s:double" />
    <wsdl:part name="excento_total" type="s:double" />
    <wsdl:part name="iva_basico" type="s:double" />
    <wsdl:part name="ing_brutos" type="s:double" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="condicion" type="s:short" />
  </wsdl:message>
  <wsdl:message name="RealizarCreditoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosCredito" />
  </wsdl:message>
  <wsdl:portType name="DebitosCreditosVariosSoap">
    <wsdl:operation name="RealizarCredito">
      <wsdl:input message="tns:RealizarCreditoSoapIn" />
      <wsdl:output message="tns:RealizarCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DebitosCreditosVariosHttpGet">
    <wsdl:operation name="RealizarCredito">
      <wsdl:input message="tns:RealizarCreditoHttpGetIn" />
      <wsdl:output message="tns:RealizarCreditoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DebitosCreditosVariosHttpPost">
    <wsdl:operation name="RealizarCredito">
      <wsdl:input message="tns:RealizarCreditoHttpPostIn" />
      <wsdl:output message="tns:RealizarCreditoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DebitosCreditosVariosSoap" type="tns:DebitosCreditosVariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarCredito">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/RealizarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DebitosCreditosVariosSoap12" type="tns:DebitosCreditosVariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarCredito">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/RealizarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DebitosCreditosVariosHttpGet" type="tns:DebitosCreditosVariosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RealizarCredito">
      <http:operation location="/RealizarCredito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DebitosCreditosVariosHttpPost" type="tns:DebitosCreditosVariosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RealizarCredito">
      <http:operation location="/RealizarCredito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DebitosCreditosVarios">
    <wsdl:port name="DebitosCreditosVariosSoap" binding="tns:DebitosCreditosVariosSoap">
      <soap:address location="http://localhost:1390/DebitosCreditosVarios.asmx" />
    </wsdl:port>
    <wsdl:port name="DebitosCreditosVariosSoap12" binding="tns:DebitosCreditosVariosSoap12">
      <soap12:address location="http://localhost:1390/DebitosCreditosVarios.asmx" />
    </wsdl:port>
    <wsdl:port name="DebitosCreditosVariosHttpGet" binding="tns:DebitosCreditosVariosHttpGet">
      <http:address location="http://localhost:1390/DebitosCreditosVarios.asmx" />
    </wsdl:port>
    <wsdl:port name="DebitosCreditosVariosHttpPost" binding="tns:DebitosCreditosVariosHttpPost">
      <http:address location="http://localhost:1390/DebitosCreditosVarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>