Listado/ListadoElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoElemento">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" name="abre_cuenta" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_desde" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_hasta" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente_desde" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente_hasta" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="wempresa" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_mes_anio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contabilizar_si" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="wdia" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="wmayor" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_hojas" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoElementoResult" type="tns:ArrayOfDatosChequesRecibidos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosChequesRecibidos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosChequesRecibidos" nillable="true" type="tns:DatosChequesRecibidos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosChequesRecibidos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="lugar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_firmante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tenedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="percepciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_gravado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cobro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signo_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bolsas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signo_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signo_3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="promedio" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_90" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_60" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_30" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_0" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="capitulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sub_capitulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rubro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sub_rubro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion_cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_factura" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_factura" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_bruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exento_linea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="no_inscripto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_retenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cuenta" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="deudor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="complemento_deudor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="importe_uno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="importe_dos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="importe_tres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosChequesRecibidos" nillable="true" type="tns:ArrayOfDatosChequesRecibidos" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero_desde" type="s:integer" />
    <wsdl:part name="numero_hasta" type="s:integer" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="cliente_desde" type="s:integer" />
    <wsdl:part name="cliente_hasta" type="s:integer" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="wempresa" type="s:short" />
    <wsdl:part name="acepta_mes_anio" type="s:string" />
    <wsdl:part name="contabilizar_si" type="s:short" />
    <wsdl:part name="wdia" type="s:short" />
    <wsdl:part name="wmayor" type="s:short" />
    <wsdl:part name="cuenta_hojas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRecibidos" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="numero_desde" type="s:integer" />
    <wsdl:part name="numero_hasta" type="s:integer" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="cliente_desde" type="s:integer" />
    <wsdl:part name="cliente_hasta" type="s:integer" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="wempresa" type="s:short" />
    <wsdl:part name="acepta_mes_anio" type="s:string" />
    <wsdl:part name="contabilizar_si" type="s:short" />
    <wsdl:part name="wdia" type="s:short" />
    <wsdl:part name="wmayor" type="s:short" />
    <wsdl:part name="cuenta_hojas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosChequesRecibidos" />
  </wsdl:message>
  <wsdl:portType name="ListadoElementoSoap">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoElementoHttpGet">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoElementoHttpPost">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoElementoSoap" type="tns:ListadoElementoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoElementoSoap12" type="tns:ListadoElementoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoElementoHttpGet" type="tns:ListadoElementoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoElementoHttpPost" type="tns:ListadoElementoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoElemento">
    <wsdl:port name="ListadoElementoSoap" binding="tns:ListadoElementoSoap">
      <soap:address location="http://localhost:1390/ListadoElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoElementoSoap12" binding="tns:ListadoElementoSoap12">
      <soap12:address location="http://localhost:1390/ListadoElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoElementoHttpGet" binding="tns:ListadoElementoHttpGet">
      <http:address location="http://localhost:1390/ListadoElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoElementoHttpPost" binding="tns:ListadoElementoHttpPost">
      <http:address location="http://localhost:1390/ListadoElemento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>