Listado/ListadoCajaOrdenIngresosEgresos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoIngresosEgresos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoIngresosEgresosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoIngresosEgresosResult" type="tns:ArrayOfDatosIngresoEgreso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosIngresoEgreso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosIngresoEgreso" nillable="true" type="tns:DatosIngresoEgreso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosIngresoEgreso">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipo_saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosIngresoEgreso" nillable="true" type="tns:ArrayOfDatosIngresoEgreso" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoIngresosEgresosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoIngresosEgresos" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoIngresosEgresosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoIngresosEgresosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoIngresosEgresosHttpGetIn">
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoIngresosEgresosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosIngresoEgreso" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoIngresosEgresosHttpPostIn">
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoIngresosEgresosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosIngresoEgreso" />
  </wsdl:message>
  <wsdl:portType name="ListadoCajaOrdenIngresosEgresosSoap">
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <wsdl:input message="tns:ObtenerListadoIngresosEgresosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoIngresosEgresosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoCajaOrdenIngresosEgresosHttpGet">
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <wsdl:input message="tns:ObtenerListadoIngresosEgresosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoIngresosEgresosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoCajaOrdenIngresosEgresosHttpPost">
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <wsdl:input message="tns:ObtenerListadoIngresosEgresosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoIngresosEgresosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoCajaOrdenIngresosEgresosSoap" type="tns:ListadoCajaOrdenIngresosEgresosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoIngresosEgresos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenIngresosEgresosSoap12" type="tns:ListadoCajaOrdenIngresosEgresosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoIngresosEgresos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenIngresosEgresosHttpGet" type="tns:ListadoCajaOrdenIngresosEgresosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <http:operation location="/ObtenerListadoIngresosEgresos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoCajaOrdenIngresosEgresosHttpPost" type="tns:ListadoCajaOrdenIngresosEgresosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoIngresosEgresos">
      <http:operation location="/ObtenerListadoIngresosEgresos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoCajaOrdenIngresosEgresos">
    <wsdl:port name="ListadoCajaOrdenIngresosEgresosSoap" binding="tns:ListadoCajaOrdenIngresosEgresosSoap">
      <soap:address location="http://localhost:1390/ListadoCajaOrdenIngresosEgresos.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenIngresosEgresosSoap12" binding="tns:ListadoCajaOrdenIngresosEgresosSoap12">
      <soap12:address location="http://localhost:1390/ListadoCajaOrdenIngresosEgresos.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenIngresosEgresosHttpGet" binding="tns:ListadoCajaOrdenIngresosEgresosHttpGet">
      <http:address location="http://localhost:1390/ListadoCajaOrdenIngresosEgresos.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoCajaOrdenIngresosEgresosHttpPost" binding="tns:ListadoCajaOrdenIngresosEgresosHttpPost">
      <http:address location="http://localhost:1390/ListadoCajaOrdenIngresosEgresos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>