Listado/ListadoLibroIvaComprasEnlaceExcel().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoLibroIva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acepta_mes_anio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_hojas" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoLibroIvaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoLibroIvaResult" type="tns:ArrayOfDatosLibroIva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosLibroIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosLibroIva" nillable="true" type="tns:DatosLibroIva" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosLibroIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_factura" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_factura" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_bruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exento_linea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="no_inscripto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_retenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosLibroIva" nillable="true" type="tns:ArrayOfDatosLibroIva" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoLibroIvaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoLibroIva" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroIvaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoLibroIvaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroIvaHttpGetIn">
    <wsdl:part name="acepta_mes_anio" type="s:string" />
    <wsdl:part name="cuenta_hojas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroIvaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosLibroIva" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroIvaHttpPostIn">
    <wsdl:part name="acepta_mes_anio" type="s:string" />
    <wsdl:part name="cuenta_hojas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroIvaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosLibroIva" />
  </wsdl:message>
  <wsdl:portType name="ListadoLibroIvaComprasEnlaceExcelSoap">
    <wsdl:operation name="ObtenerListadoLibroIva">
      <wsdl:input message="tns:ObtenerListadoLibroIvaSoapIn" />
      <wsdl:output message="tns:ObtenerListadoLibroIvaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoLibroIvaComprasEnlaceExcelHttpGet">
    <wsdl:operation name="ObtenerListadoLibroIva">
      <wsdl:input message="tns:ObtenerListadoLibroIvaHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoLibroIvaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoLibroIvaComprasEnlaceExcelHttpPost">
    <wsdl:operation name="ObtenerListadoLibroIva">
      <wsdl:input message="tns:ObtenerListadoLibroIvaHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoLibroIvaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoLibroIvaComprasEnlaceExcelSoap" type="tns:ListadoLibroIvaComprasEnlaceExcelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoLibroIva">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoLibroIva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoLibroIvaComprasEnlaceExcelSoap12" type="tns:ListadoLibroIvaComprasEnlaceExcelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoLibroIva">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoLibroIva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoLibroIvaComprasEnlaceExcelHttpGet" type="tns:ListadoLibroIvaComprasEnlaceExcelHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoLibroIva">
      <http:operation location="/ObtenerListadoLibroIva" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoLibroIvaComprasEnlaceExcelHttpPost" type="tns:ListadoLibroIvaComprasEnlaceExcelHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoLibroIva">
      <http:operation location="/ObtenerListadoLibroIva" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoLibroIvaComprasEnlaceExcel">
    <wsdl:port name="ListadoLibroIvaComprasEnlaceExcelSoap" binding="tns:ListadoLibroIvaComprasEnlaceExcelSoap">
      <soap:address location="http://localhost:1390/ListadoLibroIvaComprasEnlaceExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoLibroIvaComprasEnlaceExcelSoap12" binding="tns:ListadoLibroIvaComprasEnlaceExcelSoap12">
      <soap12:address location="http://localhost:1390/ListadoLibroIvaComprasEnlaceExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoLibroIvaComprasEnlaceExcelHttpGet" binding="tns:ListadoLibroIvaComprasEnlaceExcelHttpGet">
      <http:address location="http://localhost:1390/ListadoLibroIvaComprasEnlaceExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoLibroIvaComprasEnlaceExcelHttpPost" binding="tns:ListadoLibroIvaComprasEnlaceExcelHttpPost">
      <http:address location="http://localhost:1390/ListadoLibroIvaComprasEnlaceExcel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>