Listado/ListadoComisionesPorVendedorMesSalidaExcel().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoComisionesPorVendedorMesSalidaExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoComisionesPorVendedorMesSalidaExcelResult" type="tns:ArrayOfDatosComision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosComision">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosComision" nillable="true" type="tns:DatosComision" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosComision">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_vendedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total_rendido" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="total_pagado" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosComision" nillable="true" type="tns:ArrayOfDatosComision" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcel" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosComision" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosComision" />
  </wsdl:message>
  <wsdl:portType name="ListadoComisionesPorVendedorMesSalidaExcelSoap">
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <wsdl:input message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelSoapIn" />
      <wsdl:output message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoComisionesPorVendedorMesSalidaExcelHttpGet">
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <wsdl:input message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoComisionesPorVendedorMesSalidaExcelHttpPost">
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <wsdl:input message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoComisionesPorVendedorMesSalidaExcelHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoComisionesPorVendedorMesSalidaExcelSoap" type="tns:ListadoComisionesPorVendedorMesSalidaExcelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoComisionesPorVendedorMesSalidaExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoComisionesPorVendedorMesSalidaExcelSoap12" type="tns:ListadoComisionesPorVendedorMesSalidaExcelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoComisionesPorVendedorMesSalidaExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoComisionesPorVendedorMesSalidaExcelHttpGet" type="tns:ListadoComisionesPorVendedorMesSalidaExcelHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <http:operation location="/ObtenerListadoComisionesPorVendedorMesSalidaExcel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoComisionesPorVendedorMesSalidaExcelHttpPost" type="tns:ListadoComisionesPorVendedorMesSalidaExcelHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoComisionesPorVendedorMesSalidaExcel">
      <http:operation location="/ObtenerListadoComisionesPorVendedorMesSalidaExcel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoComisionesPorVendedorMesSalidaExcel">
    <wsdl:port name="ListadoComisionesPorVendedorMesSalidaExcelSoap" binding="tns:ListadoComisionesPorVendedorMesSalidaExcelSoap">
      <soap:address location="http://localhost:1390/ListadoComisionesPorVendedorMesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoComisionesPorVendedorMesSalidaExcelSoap12" binding="tns:ListadoComisionesPorVendedorMesSalidaExcelSoap12">
      <soap12:address location="http://localhost:1390/ListadoComisionesPorVendedorMesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoComisionesPorVendedorMesSalidaExcelHttpGet" binding="tns:ListadoComisionesPorVendedorMesSalidaExcelHttpGet">
      <http:address location="http://localhost:1390/ListadoComisionesPorVendedorMesSalidaExcel.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoComisionesPorVendedorMesSalidaExcelHttpPost" binding="tns:ListadoComisionesPorVendedorMesSalidaExcelHttpPost">
      <http:address location="http://localhost:1390/ListadoComisionesPorVendedorMesSalidaExcel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>