Cuentas/CuentaBolsasPorPantalla().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ContarBolsas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContarBolsasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContarBolsasResult" type="tns:ArrayOfDatosCuentaBolsa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaBolsa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaBolsa" nillable="true" type="tns:DatosCuentaBolsa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaBolsa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaBolsa" nillable="true" type="tns:ArrayOfDatosCuentaBolsa" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ContarBolsasSoapIn">
    <wsdl:part name="parameters" element="tns:ContarBolsas" />
  </wsdl:message>
  <wsdl:message name="ContarBolsasSoapOut">
    <wsdl:part name="parameters" element="tns:ContarBolsasResponse" />
  </wsdl:message>
  <wsdl:message name="ContarBolsasHttpGetIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ContarBolsasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaBolsa" />
  </wsdl:message>
  <wsdl:message name="ContarBolsasHttpPostIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ContarBolsasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaBolsa" />
  </wsdl:message>
  <wsdl:portType name="CuentaBolsasPorPantallaSoap">
    <wsdl:operation name="ContarBolsas">
      <wsdl:input message="tns:ContarBolsasSoapIn" />
      <wsdl:output message="tns:ContarBolsasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentaBolsasPorPantallaHttpGet">
    <wsdl:operation name="ContarBolsas">
      <wsdl:input message="tns:ContarBolsasHttpGetIn" />
      <wsdl:output message="tns:ContarBolsasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentaBolsasPorPantallaHttpPost">
    <wsdl:operation name="ContarBolsas">
      <wsdl:input message="tns:ContarBolsasHttpPostIn" />
      <wsdl:output message="tns:ContarBolsasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentaBolsasPorPantallaSoap" type="tns:CuentaBolsasPorPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContarBolsas">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ContarBolsas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentaBolsasPorPantallaSoap12" type="tns:CuentaBolsasPorPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContarBolsas">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ContarBolsas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentaBolsasPorPantallaHttpGet" type="tns:CuentaBolsasPorPantallaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ContarBolsas">
      <http:operation location="/ContarBolsas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentaBolsasPorPantallaHttpPost" type="tns:CuentaBolsasPorPantallaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ContarBolsas">
      <http:operation location="/ContarBolsas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentaBolsasPorPantalla">
    <wsdl:port name="CuentaBolsasPorPantallaSoap" binding="tns:CuentaBolsasPorPantallaSoap">
      <soap:address location="http://localhost:1390/CuentaBolsasPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentaBolsasPorPantallaSoap12" binding="tns:CuentaBolsasPorPantallaSoap12">
      <soap12:address location="http://localhost:1390/CuentaBolsasPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentaBolsasPorPantallaHttpGet" binding="tns:CuentaBolsasPorPantallaHttpGet">
      <http:address location="http://localhost:1390/CuentaBolsasPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentaBolsasPorPantallaHttpPost" binding="tns:CuentaBolsasPorPantallaHttpPost">
      <http:address location="http://localhost:1390/CuentaBolsasPorPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>