Cuentas/CuentasOtrosDeudoresPorPantalla().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasOtrosDeudores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasOtrosDeudoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasOtrosDeudoresResult" type="tns:ArrayOfDatosCuentaOtrosDeudores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaOtrosDeudores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaOtrosDeudores" nillable="true" type="tns:DatosCuentaOtrosDeudores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaOtrosDeudores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaOtrosDeudores" nillable="true" type="tns:ArrayOfDatosCuentaOtrosDeudores" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasOtrosDeudores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasOtrosDeudoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresHttpGetIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaOtrosDeudores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresHttpPostIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasOtrosDeudoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaOtrosDeudores" />
  </wsdl:message>
  <wsdl:portType name="CuentasOtrosDeudoresPorPantallaSoap">
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <wsdl:input message="tns:ObtenerListadoCuentasOtrosDeudoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasOtrosDeudoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasOtrosDeudoresPorPantallaHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <wsdl:input message="tns:ObtenerListadoCuentasOtrosDeudoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasOtrosDeudoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasOtrosDeudoresPorPantallaHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <wsdl:input message="tns:ObtenerListadoCuentasOtrosDeudoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasOtrosDeudoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentasOtrosDeudoresPorPantallaSoap" type="tns:CuentasOtrosDeudoresPorPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasOtrosDeudores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasOtrosDeudoresPorPantallaSoap12" type="tns:CuentasOtrosDeudoresPorPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasOtrosDeudores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasOtrosDeudoresPorPantallaHttpGet" type="tns:CuentasOtrosDeudoresPorPantallaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <http:operation location="/ObtenerListadoCuentasOtrosDeudores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasOtrosDeudoresPorPantallaHttpPost" type="tns:CuentasOtrosDeudoresPorPantallaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasOtrosDeudores">
      <http:operation location="/ObtenerListadoCuentasOtrosDeudores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentasOtrosDeudoresPorPantalla">
    <wsdl:port name="CuentasOtrosDeudoresPorPantallaSoap" binding="tns:CuentasOtrosDeudoresPorPantallaSoap">
      <soap:address location="http://localhost:1390/CuentasOtrosDeudoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasOtrosDeudoresPorPantallaSoap12" binding="tns:CuentasOtrosDeudoresPorPantallaSoap12">
      <soap12:address location="http://localhost:1390/CuentasOtrosDeudoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasOtrosDeudoresPorPantallaHttpGet" binding="tns:CuentasOtrosDeudoresPorPantallaHttpGet">
      <http:address location="http://localhost:1390/CuentasOtrosDeudoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasOtrosDeudoresPorPantallaHttpPost" binding="tns:CuentasOtrosDeudoresPorPantallaHttpPost">
      <http:address location="http://localhost:1390/CuentasOtrosDeudoresPorPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>