Cuentas/CuentasCorrientesVendedoresPorPantalla().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasCorrientesVendedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasCorrientesVendedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasCorrientesVendedoresResult" type="tns:ArrayOfDatosCuentaCorrienteVendedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaCorrienteVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaCorrienteVendedor" nillable="true" type="tns:DatosCuentaCorrienteVendedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaCorrienteVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaCorrienteVendedor" nillable="true" type="tns:ArrayOfDatosCuentaCorrienteVendedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasCorrientesVendedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasCorrientesVendedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresHttpGetIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorrienteVendedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresHttpPostIn">
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesVendedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorrienteVendedor" />
  </wsdl:message>
  <wsdl:portType name="CuentasCorrientesVendedoresPorPantallaSoap">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesVendedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesVendedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasCorrientesVendedoresPorPantallaHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesVendedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesVendedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasCorrientesVendedoresPorPantallaHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesVendedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesVendedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentasCorrientesVendedoresPorPantallaSoap" type="tns:CuentasCorrientesVendedoresPorPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasCorrientesVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesVendedoresPorPantallaSoap12" type="tns:CuentasCorrientesVendedoresPorPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasCorrientesVendedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesVendedoresPorPantallaHttpGet" type="tns:CuentasCorrientesVendedoresPorPantallaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <http:operation location="/ObtenerListadoCuentasCorrientesVendedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesVendedoresPorPantallaHttpPost" type="tns:CuentasCorrientesVendedoresPorPantallaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesVendedores">
      <http:operation location="/ObtenerListadoCuentasCorrientesVendedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentasCorrientesVendedoresPorPantalla">
    <wsdl:port name="CuentasCorrientesVendedoresPorPantallaSoap" binding="tns:CuentasCorrientesVendedoresPorPantallaSoap">
      <soap:address location="http://localhost:1390/CuentasCorrientesVendedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesVendedoresPorPantallaSoap12" binding="tns:CuentasCorrientesVendedoresPorPantallaSoap12">
      <soap12:address location="http://localhost:1390/CuentasCorrientesVendedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesVendedoresPorPantallaHttpGet" binding="tns:CuentasCorrientesVendedoresPorPantallaHttpGet">
      <http:address location="http://localhost:1390/CuentasCorrientesVendedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesVendedoresPorPantallaHttpPost" binding="tns:CuentasCorrientesVendedoresPorPantallaHttpPost">
      <http:address location="http://localhost:1390/CuentasCorrientesVendedoresPorPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>