Cuentas/CuentasCorrientesProveedoresPorPantalla().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasCorrientesProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasCorrientesProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasCorrientesProveedoresResult" type="tns:ArrayOfDatosCuentaCorrienteProveedores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaCorrienteProveedores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaCorrienteProveedores" nillable="true" type="tns:DatosCuentaCorrienteProveedores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaCorrienteProveedores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaCorrienteProveedores" nillable="true" type="tns:ArrayOfDatosCuentaCorrienteProveedores" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasCorrientesProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasCorrientesProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresHttpGetIn">
    <wsdl:part name="acepta_nombre" type="s:string" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorrienteProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresHttpPostIn">
    <wsdl:part name="acepta_nombre" type="s:string" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasCorrientesProveedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorrienteProveedores" />
  </wsdl:message>
  <wsdl:portType name="CuentasCorrientesProveedoresPorPantallaSoap">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesProveedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesProveedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasCorrientesProveedoresPorPantallaHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesProveedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesProveedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasCorrientesProveedoresPorPantallaHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <wsdl:input message="tns:ObtenerListadoCuentasCorrientesProveedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasCorrientesProveedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentasCorrientesProveedoresPorPantallaSoap" type="tns:CuentasCorrientesProveedoresPorPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasCorrientesProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesProveedoresPorPantallaSoap12" type="tns:CuentasCorrientesProveedoresPorPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasCorrientesProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesProveedoresPorPantallaHttpGet" type="tns:CuentasCorrientesProveedoresPorPantallaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <http:operation location="/ObtenerListadoCuentasCorrientesProveedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasCorrientesProveedoresPorPantallaHttpPost" type="tns:CuentasCorrientesProveedoresPorPantallaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasCorrientesProveedores">
      <http:operation location="/ObtenerListadoCuentasCorrientesProveedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentasCorrientesProveedoresPorPantalla">
    <wsdl:port name="CuentasCorrientesProveedoresPorPantallaSoap" binding="tns:CuentasCorrientesProveedoresPorPantallaSoap">
      <soap:address location="http://localhost:1390/CuentasCorrientesProveedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesProveedoresPorPantallaSoap12" binding="tns:CuentasCorrientesProveedoresPorPantallaSoap12">
      <soap12:address location="http://localhost:1390/CuentasCorrientesProveedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesProveedoresPorPantallaHttpGet" binding="tns:CuentasCorrientesProveedoresPorPantallaHttpGet">
      <http:address location="http://localhost:1390/CuentasCorrientesProveedoresPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasCorrientesProveedoresPorPantallaHttpPost" binding="tns:CuentasCorrientesProveedoresPorPantallaHttpPost">
      <http:address location="http://localhost:1390/CuentasCorrientesProveedoresPorPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>