Cuentas/CuentasElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="acepta_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="indice" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasElementoResult" type="tns:ArrayOfDatosCuentaElemento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaElemento" nillable="true" type="tns:DatosCuentaElemento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_item" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaElemento" nillable="true" type="tns:ArrayOfDatosCuentaElemento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasElementoHttpGetIn">
    <wsdl:part name="acepta_nombre" type="s:string" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="indice" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasElementoHttpPostIn">
    <wsdl:part name="acepta_nombre" type="s:string" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="indice" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaElemento" />
  </wsdl:message>
  <wsdl:portType name="CuentasElementoPorPantallaSoap">
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <wsdl:input message="tns:ObtenerListadoCuentasElementoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasElementoPorPantallaHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <wsdl:input message="tns:ObtenerListadoCuentasElementoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CuentasElementoPorPantallaHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <wsdl:input message="tns:ObtenerListadoCuentasElementoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CuentasElementoPorPantallaSoap" type="tns:CuentasElementoPorPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasElementoPorPantallaSoap12" type="tns:CuentasElementoPorPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasElementoPorPantallaHttpGet" type="tns:CuentasElementoPorPantallaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <http:operation location="/ObtenerListadoCuentasElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CuentasElementoPorPantallaHttpPost" type="tns:CuentasElementoPorPantallaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasElemento">
      <http:operation location="/ObtenerListadoCuentasElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentasElementoPorPantalla">
    <wsdl:port name="CuentasElementoPorPantallaSoap" binding="tns:CuentasElementoPorPantallaSoap">
      <soap:address location="http://localhost:1390/CuentasElementoPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasElementoPorPantallaSoap12" binding="tns:CuentasElementoPorPantallaSoap12">
      <soap12:address location="http://localhost:1390/CuentasElementoPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasElementoPorPantallaHttpGet" binding="tns:CuentasElementoPorPantallaHttpGet">
      <http:address location="http://localhost:1390/CuentasElementoPorPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="CuentasElementoPorPantallaHttpPost" binding="tns:CuentasElementoPorPantallaHttpPost">
      <http:address location="http://localhost:1390/CuentasElementoPorPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>