ABM/AMB Restantes/AbmFletes().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AltaFlete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_flete" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="texto_flete" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaFleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaFleteResult" type="tns:DatosAlta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosAlta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="altaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosAlta" nillable="true" type="tns:DatosAlta" />
      <s:element name="ModificacionFlete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_flete" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="texto_flete" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificacionFleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificacionFleteResult" type="tns:DatosModificacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosModificacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modificacionExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosModificacion" nillable="true" type="tns:DatosModificacion" />
      <s:element name="BajaFlete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_flete" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaFleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaFleteResult" type="tns:DatosBaja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBaja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBaja" nillable="true" type="tns:DatosBaja" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaFleteSoapIn">
    <wsdl:part name="parameters" element="tns:AltaFlete" />
  </wsdl:message>
  <wsdl:message name="AltaFleteSoapOut">
    <wsdl:part name="parameters" element="tns:AltaFleteResponse" />
  </wsdl:message>
  <wsdl:message name="AltaFleteHttpGetIn">
    <wsdl:part name="codigo_flete" type="s:short" />
    <wsdl:part name="texto_flete" type="s:string" />
    <wsdl:part name="importe" type="s:float" />
  </wsdl:message>
  <wsdl:message name="AltaFleteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="AltaFleteHttpPostIn">
    <wsdl:part name="codigo_flete" type="s:short" />
    <wsdl:part name="texto_flete" type="s:string" />
    <wsdl:part name="importe" type="s:float" />
  </wsdl:message>
  <wsdl:message name="AltaFleteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteSoapIn">
    <wsdl:part name="parameters" element="tns:ModificacionFlete" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteSoapOut">
    <wsdl:part name="parameters" element="tns:ModificacionFleteResponse" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteHttpGetIn">
    <wsdl:part name="codigo_flete" type="s:short" />
    <wsdl:part name="texto_flete" type="s:string" />
    <wsdl:part name="importe" type="s:float" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteHttpPostIn">
    <wsdl:part name="codigo_flete" type="s:short" />
    <wsdl:part name="texto_flete" type="s:string" />
    <wsdl:part name="importe" type="s:float" />
  </wsdl:message>
  <wsdl:message name="ModificacionFleteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
   <wsdl:message name="BajaFleteSoapIn">
    <wsdl:part name="parameters" element="tns:BajaFlete" />
  </wsdl:message>
  <wsdl:message name="BajaFleteSoapOut">
    <wsdl:part name="parameters" element="tns:BajaFleteResponse" />
  </wsdl:message>
  <wsdl:message name="BajaFleteHttpGetIn">
    <wsdl:part name="codigo_cliente" type="s:short" />
  </wsdl:message>
  <wsdl:message name="BajaFleteHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:message name="BajaFleteHttpPostIn">
    <wsdl:part name="codigo_cliente" type="s:short" />
  </wsdl:message>
  <wsdl:message name="BajaFleteHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:portType name="AbmFletesSoap">
    <wsdl:operation name="AltaFlete">
      <wsdl:input message="tns:AltaFleteSoapIn" />
      <wsdl:output message="tns:AltaFleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <wsdl:input message="tns:ModificacionFleteSoapIn" />
      <wsdl:output message="tns:ModificacionFleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <wsdl:input message="tns:BajaFleteSoapIn" />
      <wsdl:output message="tns:BajaFleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmFletesHttpGet">
    <wsdl:operation name="AltaFlete">
      <wsdl:input message="tns:AltaFleteHttpGetIn" />
      <wsdl:output message="tns:AltaFleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <wsdl:input message="tns:ModificacionFleteHttpGetIn" />
      <wsdl:output message="tns:ModificacionFleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <wsdl:input message="tns:BajaFleteHttpGetIn" />
      <wsdl:output message="tns:BajaFleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmFletesHttpPost">
    <wsdl:operation name="AltaFlete">
      <wsdl:input message="tns:AltaFleteHttpPostIn" />
      <wsdl:output message="tns:AltaFleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <wsdl:input message="tns:ModificacionFleteHttpPostIn" />
      <wsdl:output message="tns:ModificacionFleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <wsdl:input message="tns:BajaFleteHttpPostIn" />
      <wsdl:output message="tns:BajaFleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbmFletesSoap" type="tns:AbmFletesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaFlete">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AltaFlete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ModificacionFlete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/BajaFlete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmFletesSoap12" type="tns:AbmFletesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaFlete">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AltaFlete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ModificacionFlete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/BajaFlete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmFletesHttpGet" type="tns:AbmFletesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AltaFlete">
      <http:operation location="/AltaFlete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <http:operation location="/ModificacionFlete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <http:operation location="/BajaFlete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmFletesHttpPost" type="tns:AbmFletesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AltaFlete">
      <http:operation location="/AltaFlete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionFlete">
      <http:operation location="/ModificacionFlete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaFlete">
      <http:operation location="/BajaFlete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbmFletes">
    <wsdl:port name="AbmFletesSoap" binding="tns:AbmFletesSoap">
      <soap:address location="http://localhost:1390/AbmFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmFletesSoap12" binding="tns:AbmFletesSoap12">
      <soap12:address location="http://localhost:1390/AbmFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmFletesHttpGet" binding="tns:AbmFletesHttpGet">
      <http:address location="http://localhost:1390/AbmFletes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmFletesHttpPost" binding="tns:AbmFletesHttpPost">
      <http:address location="http://localhost:1390/AbmFletes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>