Limpieza/LimpiezaLibroRecibos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="LimpiarLibroRecibos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LimpiarLibroRecibosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LimpiarLibroRecibosResult" type="tns:DatosLibroRecibos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosLibroRecibos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="borradoCorrecto" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosLibroRecibos" nillable="true" type="tns:DatosLibroRecibos" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LimpiarLibroRecibosSoapIn">
    <wsdl:part name="parameters" element="tns:LimpiarLibroRecibos" />
  </wsdl:message>
  <wsdl:message name="LimpiarLibroRecibosSoapOut">
    <wsdl:part name="parameters" element="tns:LimpiarLibroRecibosResponse" />
  </wsdl:message>
  <wsdl:message name="LimpiarLibroRecibosHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarLibroRecibosHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosLibroRecibos" />
  </wsdl:message>
  <wsdl:message name="LimpiarLibroRecibosHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="LimpiarLibroRecibosHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosLibroRecibos" />
  </wsdl:message>
  <wsdl:portType name="LimpiezaLibroRecibosSoap">
    <wsdl:operation name="LimpiarLibroRecibos">
      <wsdl:input message="tns:LimpiarLibroRecibosSoapIn" />
      <wsdl:output message="tns:LimpiarLibroRecibosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiezaLibroRecibosHttpGet">
    <wsdl:operation name="LimpiarLibroRecibos">
      <wsdl:input message="tns:LimpiarLibroRecibosHttpGetIn" />
      <wsdl:output message="tns:LimpiarLibroRecibosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LimpiezaLibroRecibosHttpPost">
    <wsdl:operation name="LimpiarLibroRecibos">
      <wsdl:input message="tns:LimpiarLibroRecibosHttpPostIn" />
      <wsdl:output message="tns:LimpiarLibroRecibosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LimpiezaLibroRecibosSoap" type="tns:LimpiezaLibroRecibosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarLibroRecibos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/LimpiarLibroRecibos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaLibroRecibosSoap12" type="tns:LimpiezaLibroRecibosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimpiarLibroRecibos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/LimpiarLibroRecibos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaLibroRecibosHttpGet" type="tns:LimpiezaLibroRecibosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LimpiarLibroRecibos">
      <http:operation location="/LimpiarLibroRecibos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LimpiezaLibroRecibosHttpPost" type="tns:LimpiezaLibroRecibosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LimpiarLibroRecibos">
      <http:operation location="/LimpiarLibroRecibos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LimpiezaLibroRecibos">
    <wsdl:port name="LimpiezaLibroRecibosSoap" binding="tns:LimpiezaLibroRecibosSoap">
      <soap:address location="http://localhost:1390/LimpiezaLibroRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaLibroRecibosSoap12" binding="tns:LimpiezaLibroRecibosSoap12">
      <soap12:address location="http://localhost:1390/LimpiezaLibroRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaLibroRecibosHttpGet" binding="tns:LimpiezaLibroRecibosHttpGet">
      <http:address location="http://localhost:1390/LimpiezaLibroRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="LimpiezaLibroRecibosHttpPost" binding="tns:LimpiezaLibroRecibosHttpPost">
      <http:address location="http://localhost:1390/LimpiezaLibroRecibos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>