Baja/BajaLibroOrdenesPago().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="BajaOrdenPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dia_libro_reten" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_libro_reten" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_libro_reten" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_libro_reten" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_tipo_calculo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="pagos" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="deduccion" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="retenciones" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaOrdenPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaOrdenPagoResult" type="tns:DatosBajaOrdenPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBajaOrdenPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBajaOrdenPago" nillable="true" type="tns:DatosBajaOrdenPago" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BajaOrdenPagoSoapIn">
    <wsdl:part name="parameters" element="tns:BajaOrdenPago" />
  </wsdl:message>
  <wsdl:message name="BajaOrdenPagoSoapOut">
    <wsdl:part name="parameters" element="tns:BajaOrdenPagoResponse" />
  </wsdl:message>
  <wsdl:message name="BajaOrdenPagoHttpGetIn">
    <wsdl:part name="dia_libro_reten" type="s:short" />
    <wsdl:part name="mes_libro_reten" type="s:short" />
    <wsdl:part name="anio_libro_reten" type="s:short" />
    <wsdl:part name="numero_libro_reten" type="s:integer" />
    <wsdl:part name="acepta_tipo_calculo" type="s:short" />
    <wsdl:part name="pagos" type="s:double" />
    <wsdl:part name="deduccion" type="s:double" />
    <wsdl:part name="retenciones" type="s:double" />
  </wsdl:message>
  <wsdl:message name="BajaOrdenPagoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBajaOrdenPago" />
  </wsdl:message>
  <wsdl:message name="BajaOrdenPagoHttpPostIn">
    <wsdl:part name="dia_libro_reten" type="s:short" />
    <wsdl:part name="mes_libro_reten" type="s:short" />
    <wsdl:part name="anio_libro_reten" type="s:short" />
    <wsdl:part name="numero_libro_reten" type="s:integer" />
    <wsdl:part name="acepta_tipo_calculo" type="s:short" />
    <wsdl:part name="pagos" type="s:double" />
    <wsdl:part name="deduccion" type="s:double" />
    <wsdl:part name="retenciones" type="s:double" />
  </wsdl:message>
  <wsdl:message name="BajaOrdenPagoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBajaOrdenPago" />
  </wsdl:message>
  <wsdl:portType name="BajaLibroOrdenesPagoSoap">
    <wsdl:operation name="BajaOrdenPago">
      <wsdl:input message="tns:BajaOrdenPagoSoapIn" />
      <wsdl:output message="tns:BajaOrdenPagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BajaLibroOrdenesPagoHttpGet">
    <wsdl:operation name="BajaOrdenPago">
      <wsdl:input message="tns:BajaOrdenPagoHttpGetIn" />
      <wsdl:output message="tns:BajaOrdenPagoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BajaLibroOrdenesPagoHttpPost">
    <wsdl:operation name="BajaOrdenPago">
      <wsdl:input message="tns:BajaOrdenPagoHttpPostIn" />
      <wsdl:output message="tns:BajaOrdenPagoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BajaLibroOrdenesPagoSoap" type="tns:BajaLibroOrdenesPagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BajaOrdenPago">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/BajaOrdenPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaLibroOrdenesPagoSoap12" type="tns:BajaLibroOrdenesPagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BajaOrdenPago">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/BajaOrdenPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaLibroOrdenesPagoHttpGet" type="tns:BajaLibroOrdenesPagoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BajaOrdenPago">
      <http:operation location="/BajaOrdenPago" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaLibroOrdenesPagoHttpPost" type="tns:BajaLibroOrdenesPagoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BajaOrdenPago">
      <http:operation location="/BajaOrdenPago" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BajaLibroOrdenesPago">
    <wsdl:port name="BajaLibroOrdenesPagoSoap" binding="tns:BajaLibroOrdenesPagoSoap">
      <soap:address location="http://localhost:1390/BajaLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaLibroOrdenesPagoSoap12" binding="tns:BajaLibroOrdenesPagoSoap12">
      <soap12:address location="http://localhost:1390/BajaLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaLibroOrdenesPagoHttpGet" binding="tns:BajaLibroOrdenesPagoHttpGet">
      <http:address location="http://localhost:1390/BajaLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaLibroOrdenesPagoHttpPost" binding="tns:BajaLibroOrdenesPagoHttpPost">
      <http:address location="http://localhost:1390/BajaLibroOrdenesPago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>