Baja/BajaChequesEndosadosNoRechazados().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="DarBajaCheque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha_sistema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DarBajaChequeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DarBajaChequeResult" type="tns:DatosBaja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBaja">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBaja" nillable="true" type="tns:DatosBaja" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DarBajaChequeSoapIn">
    <wsdl:part name="parameters" element="tns:DarBajaCheque" />
  </wsdl:message>
  <wsdl:message name="DarBajaChequeSoapOut">
    <wsdl:part name="parameters" element="tns:DarBajaChequeResponse" />
  </wsdl:message>
  <wsdl:message name="DarBajaChequeHttpGetIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="DarBajaChequeHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:message name="DarBajaChequeHttpPostIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="DarBajaChequeHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:portType name="BajaChequesEndosadosNoRechazadosSoap">
    <wsdl:operation name="DarBajaCheque">
      <wsdl:input message="tns:DarBajaChequeSoapIn" />
      <wsdl:output message="tns:DarBajaChequeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BajaChequesEndosadosNoRechazadosHttpGet">
    <wsdl:operation name="DarBajaCheque">
      <wsdl:input message="tns:DarBajaChequeHttpGetIn" />
      <wsdl:output message="tns:DarBajaChequeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BajaChequesEndosadosNoRechazadosHttpPost">
    <wsdl:operation name="DarBajaCheque">
      <wsdl:input message="tns:DarBajaChequeHttpPostIn" />
      <wsdl:output message="tns:DarBajaChequeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BajaChequesEndosadosNoRechazadosSoap" type="tns:BajaChequesEndosadosNoRechazadosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DarBajaCheque">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/DarBajaCheque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaChequesEndosadosNoRechazadosSoap12" type="tns:BajaChequesEndosadosNoRechazadosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DarBajaCheque">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/DarBajaCheque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaChequesEndosadosNoRechazadosHttpGet" type="tns:BajaChequesEndosadosNoRechazadosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DarBajaCheque">
      <http:operation location="/DarBajaCheque" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BajaChequesEndosadosNoRechazadosHttpPost" type="tns:BajaChequesEndosadosNoRechazadosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DarBajaCheque">
      <http:operation location="/DarBajaCheque" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BajaChequesEndosadosNoRechazados">
    <wsdl:port name="BajaChequesEndosadosNoRechazadosSoap" binding="tns:BajaChequesEndosadosNoRechazadosSoap">
      <soap:address location="http://localhost:1390/BajaChequesEndosadosNoRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaChequesEndosadosNoRechazadosSoap12" binding="tns:BajaChequesEndosadosNoRechazadosSoap12">
      <soap12:address location="http://localhost:1390/BajaChequesEndosadosNoRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaChequesEndosadosNoRechazadosHttpGet" binding="tns:BajaChequesEndosadosNoRechazadosHttpGet">
      <http:address location="http://localhost:1390/BajaChequesEndosadosNoRechazados.asmx" />
    </wsdl:port>
    <wsdl:port name="BajaChequesEndosadosNoRechazadosHttpPost" binding="tns:BajaChequesEndosadosNoRechazadosHttpPost">
      <http:address location="http://localhost:1390/BajaChequesEndosadosNoRechazados.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>