Impresion/ImpresionElemento/DetalleRetencionesLibroOrdenesPago().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerDetalleRetencionesOrdenesPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_buscado" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleRetencionesOrdenesPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDetalleRetencionesOrdenesPagoResult" type="tns:ArrayOfDatosRetencion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosRetencion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosRetencion" nillable="true" type="tns:DatosRetencion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosRetencion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="retencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_calculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosRetencion" nillable="true" type="tns:ArrayOfDatosRetencion" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleRetencionesOrdenesPago" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleRetencionesOrdenesPagoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoHttpGetIn">
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="codigo" type="s:short" />
    <wsdl:part name="tipo_buscado" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosRetencion" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoHttpPostIn">
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="codigo" type="s:short" />
    <wsdl:part name="tipo_buscado" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleRetencionesOrdenesPagoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosRetencion" />
  </wsdl:message>
  <wsdl:portType name="DetalleRetencionesLibroOrdenesPagoSoap">
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <wsdl:input message="tns:ObtenerDetalleRetencionesOrdenesPagoSoapIn" />
      <wsdl:output message="tns:ObtenerDetalleRetencionesOrdenesPagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DetalleRetencionesLibroOrdenesPagoHttpGet">
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <wsdl:input message="tns:ObtenerDetalleRetencionesOrdenesPagoHttpGetIn" />
      <wsdl:output message="tns:ObtenerDetalleRetencionesOrdenesPagoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DetalleRetencionesLibroOrdenesPagoHttpPost">
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <wsdl:input message="tns:ObtenerDetalleRetencionesOrdenesPagoHttpPostIn" />
      <wsdl:output message="tns:ObtenerDetalleRetencionesOrdenesPagoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DetalleRetencionesLibroOrdenesPagoSoap" type="tns:DetalleRetencionesLibroOrdenesPagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerDetalleRetencionesOrdenesPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DetalleRetencionesLibroOrdenesPagoSoap12" type="tns:DetalleRetencionesLibroOrdenesPagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerDetalleRetencionesOrdenesPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DetalleRetencionesLibroOrdenesPagoHttpGet" type="tns:DetalleRetencionesLibroOrdenesPagoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <http:operation location="/ObtenerDetalleRetencionesOrdenesPago" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DetalleRetencionesLibroOrdenesPagoHttpPost" type="tns:DetalleRetencionesLibroOrdenesPagoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerDetalleRetencionesOrdenesPago">
      <http:operation location="/ObtenerDetalleRetencionesOrdenesPago" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DetalleRetencionesLibroOrdenesPago">
    <wsdl:port name="DetalleRetencionesLibroOrdenesPagoSoap" binding="tns:DetalleRetencionesLibroOrdenesPagoSoap">
      <soap:address location="http://localhost:1390/DetalleRetencionesLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="DetalleRetencionesLibroOrdenesPagoSoap12" binding="tns:DetalleRetencionesLibroOrdenesPagoSoap12">
      <soap12:address location="http://localhost:1390/DetalleRetencionesLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="DetalleRetencionesLibroOrdenesPagoHttpGet" binding="tns:DetalleRetencionesLibroOrdenesPagoHttpGet">
      <http:address location="http://localhost:1390/DetalleRetencionesLibroOrdenesPago.asmx" />
    </wsdl:port>
    <wsdl:port name="DetalleRetencionesLibroOrdenesPagoHttpPost" binding="tns:DetalleRetencionesLibroOrdenesPagoHttpPost">
      <http:address location="http://localhost:1390/DetalleRetencionesLibroOrdenesPago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>