Impresion/ImpresionElemento/DuplicadoOrdenesPagoYComprobanteRetenciones().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoDuplicadosOrdenesPago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="primera_orden_libre" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="primer_certif_iva_libre" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_certif_iva_vigente" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="primer_certif_bru_libre" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="primer_certif_gan_libre" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="primer_certif_suss_libre" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_tipo_calculo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_declaracion" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_declaracion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="sin_personal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_retenido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retencion_ganancias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="neto_ganancias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retencion_iva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="retencion_suss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pago_anterior" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pago_efectivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pago_cheques_terceros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoDuplicadosOrdenesPagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoDuplicadosOrdenesPagoResult" type="tns:ArrayOfDatosDuplicado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosDuplicado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosDuplicado" nillable="true" type="tns:DatosDuplicado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosDuplicado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="numero_orden" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_beneficiario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_calculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_neto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_bruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_ganancias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_suss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total_retenciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_anterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_efectivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_cheques_terceros" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total_pagado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pago_acumulado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deduccion_acumulado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="retenciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="porcentaje_exento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosDuplicado" nillable="true" type="tns:ArrayOfDatosDuplicado" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDuplicadosOrdenesPago" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoDuplicadosOrdenesPagoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoHttpGetIn">
    <wsdl:part name="primera_orden_libre" type="s:integer" />
    <wsdl:part name="primer_certif_iva_libre" type="s:integer" />
    <wsdl:part name="anio_certif_iva_vigente" type="s:short" />
    <wsdl:part name="primer_certif_bru_libre" type="s:integer" />
    <wsdl:part name="primer_certif_gan_libre" type="s:integer" />
    <wsdl:part name="primer_certif_suss_libre" type="s:integer" />
    <wsdl:part name="tipo" type="s:short" />
    <wsdl:part name="codigo" type="s:short" />
    <wsdl:part name="acepta_tipo_calculo" type="s:short" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="mes_declaracion" type="s:short" />
    <wsdl:part name="anio_declaracion" type="s:short" />
    <wsdl:part name="sin_personal" type="s:short" />
    <wsdl:part name="importe_retenido" type="s:string" />
    <wsdl:part name="retencion_ganancias" type="s:string" />
    <wsdl:part name="neto_ganancias" type="s:string" />
    <wsdl:part name="retencion_iva" type="s:string" />
    <wsdl:part name="retencion_suss" type="s:string" />
    <wsdl:part name="pago_anterior" type="s:string" />
    <wsdl:part name="pago_efectivo" type="s:string" />
    <wsdl:part name="pago_cheques_terceros" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDuplicado" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoHttpPostIn">
    <wsdl:part name="primera_orden_libre" type="s:integer" />
    <wsdl:part name="primer_certif_iva_libre" type="s:integer" />
    <wsdl:part name="anio_certif_iva_vigente" type="s:short" />
    <wsdl:part name="primer_certif_bru_libre" type="s:integer" />
    <wsdl:part name="primer_certif_gan_libre" type="s:integer" />
    <wsdl:part name="primer_certif_suss_libre" type="s:integer" />
    <wsdl:part name="tipo" type="s:short" />
    <wsdl:part name="codigo" type="s:short" />
    <wsdl:part name="acepta_tipo_calculo" type="s:short" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="mes_declaracion" type="s:short" />
    <wsdl:part name="anio_declaracion" type="s:short" />
    <wsdl:part name="sin_personal" type="s:short" />
    <wsdl:part name="importe_retenido" type="s:string" />
    <wsdl:part name="retencion_ganancias" type="s:string" />
    <wsdl:part name="neto_ganancias" type="s:string" />
    <wsdl:part name="retencion_iva" type="s:string" />
    <wsdl:part name="retencion_suss" type="s:string" />
    <wsdl:part name="pago_anterior" type="s:string" />
    <wsdl:part name="pago_efectivo" type="s:string" />
    <wsdl:part name="pago_cheques_terceros" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoDuplicadosOrdenesPagoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosDuplicado" />
  </wsdl:message>
  <wsdl:portType name="DuplicadoOrdenesPagoYComprobanteRetencionesSoap">
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <wsdl:input message="tns:ObtenerListadoDuplicadosOrdenesPagoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoDuplicadosOrdenesPagoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpGet">
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <wsdl:input message="tns:ObtenerListadoDuplicadosOrdenesPagoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoDuplicadosOrdenesPagoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpPost">
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <wsdl:input message="tns:ObtenerListadoDuplicadosOrdenesPagoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoDuplicadosOrdenesPagoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DuplicadoOrdenesPagoYComprobanteRetencionesSoap" type="tns:DuplicadoOrdenesPagoYComprobanteRetencionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDuplicadosOrdenesPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuplicadoOrdenesPagoYComprobanteRetencionesSoap12" type="tns:DuplicadoOrdenesPagoYComprobanteRetencionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoDuplicadosOrdenesPago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpGet" type="tns:DuplicadoOrdenesPagoYComprobanteRetencionesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <http:operation location="/ObtenerListadoDuplicadosOrdenesPago" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpPost" type="tns:DuplicadoOrdenesPagoYComprobanteRetencionesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoDuplicadosOrdenesPago">
      <http:operation location="/ObtenerListadoDuplicadosOrdenesPago" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuplicadoOrdenesPagoYComprobanteRetenciones">
    <wsdl:port name="DuplicadoOrdenesPagoYComprobanteRetencionesSoap" binding="tns:DuplicadoOrdenesPagoYComprobanteRetencionesSoap">
      <soap:address location="http://localhost:1390/DuplicadoOrdenesPagoYComprobanteRetenciones.asmx" />
    </wsdl:port>
    <wsdl:port name="DuplicadoOrdenesPagoYComprobanteRetencionesSoap12" binding="tns:DuplicadoOrdenesPagoYComprobanteRetencionesSoap12">
      <soap12:address location="http://localhost:1390/DuplicadoOrdenesPagoYComprobanteRetenciones.asmx" />
    </wsdl:port>
    <wsdl:port name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpGet" binding="tns:DuplicadoOrdenesPagoYComprobanteRetencionesHttpGet">
      <http:address location="http://localhost:1390/DuplicadoOrdenesPagoYComprobanteRetenciones.asmx" />
    </wsdl:port>
    <wsdl:port name="DuplicadoOrdenesPagoYComprobanteRetencionesHttpPost" binding="tns:DuplicadoOrdenesPagoYComprobanteRetencionesHttpPost">
      <http:address location="http://localhost:1390/DuplicadoOrdenesPagoYComprobanteRetenciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>