Impresion/ImpresionElemento/ImpresionTotalesMovimientosStockMensual().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoTotalesMovimientosStockMensual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="desde_articulo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="hasta_articulo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="deposito" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoTotalesMovimientosStockMensualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoTotalesMovimientosStockMensualResult" type="tns:ArrayOfDatosMovimientoStockMensual" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosMovimientoStockMensual">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosMovimientoStockMensual" nillable="true" type="tns:DatosMovimientoStockMensual" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosMovimientoStockMensual">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="monto_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosMovimientoStockMensual" nillable="true" type="tns:ArrayOfDatosMovimientoStockMensual" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoTotalesMovimientosStockMensual" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoTotalesMovimientosStockMensualResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualHttpGetIn">
    <wsdl:part name="desde_articulo" type="s:short" />
    <wsdl:part name="hasta_articulo" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="deposito" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosMovimientoStockMensual" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualHttpPostIn">
    <wsdl:part name="desde_articulo" type="s:short" />
    <wsdl:part name="hasta_articulo" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="deposito" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoTotalesMovimientosStockMensualHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosMovimientoStockMensual" />
  </wsdl:message>
  <wsdl:portType name="ImpresionTotalesMovimientosStockMensualSoap">
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <wsdl:input message="tns:ObtenerListadoTotalesMovimientosStockMensualSoapIn" />
      <wsdl:output message="tns:ObtenerListadoTotalesMovimientosStockMensualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionTotalesMovimientosStockMensualHttpGet">
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <wsdl:input message="tns:ObtenerListadoTotalesMovimientosStockMensualHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoTotalesMovimientosStockMensualHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionTotalesMovimientosStockMensualHttpPost">
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <wsdl:input message="tns:ObtenerListadoTotalesMovimientosStockMensualHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoTotalesMovimientosStockMensualHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresionTotalesMovimientosStockMensualSoap" type="tns:ImpresionTotalesMovimientosStockMensualSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoTotalesMovimientosStockMensual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionTotalesMovimientosStockMensualSoap12" type="tns:ImpresionTotalesMovimientosStockMensualSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoTotalesMovimientosStockMensual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionTotalesMovimientosStockMensualHttpGet" type="tns:ImpresionTotalesMovimientosStockMensualHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <http:operation location="/ObtenerListadoTotalesMovimientosStockMensual" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionTotalesMovimientosStockMensualHttpPost" type="tns:ImpresionTotalesMovimientosStockMensualHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoTotalesMovimientosStockMensual">
      <http:operation location="/ObtenerListadoTotalesMovimientosStockMensual" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionTotalesMovimientosStockMensual">
    <wsdl:port name="ImpresionTotalesMovimientosStockMensualSoap" binding="tns:ImpresionTotalesMovimientosStockMensualSoap">
      <soap:address location="http://localhost:1390/ImpresionTotalesMovimientosStockMensual.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionTotalesMovimientosStockMensualSoap12" binding="tns:ImpresionTotalesMovimientosStockMensualSoap12">
      <soap12:address location="http://localhost:1390/ImpresionTotalesMovimientosStockMensual.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionTotalesMovimientosStockMensualHttpGet" binding="tns:ImpresionTotalesMovimientosStockMensualHttpGet">
      <http:address location="http://localhost:1390/ImpresionTotalesMovimientosStockMensual.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionTotalesMovimientosStockMensualHttpPost" binding="tns:ImpresionTotalesMovimientosStockMensualHttpPost">
      <http:address location="http://localhost:1390/ImpresionTotalesMovimientosStockMensual.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>