Impresion/ImpresionElemento/ImpresionLibroBancos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoLibroBancos">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="0" maxOccurs="1" name="banco_a_trabajar" type="s:short" />
          	<s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoLibroBancosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoLibroBancosResult" type="tns:ArrayOfDatosBanco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosBanco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosBanco" nillable="true" type="tns:DatosBanco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosBanco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="leyenda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_haber" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_linea" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosBanco" nillable="true" type="tns:ArrayOfDatosBanco" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoLibroBancosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoLibroBancos" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroBancosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoLibroBancosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroBancosHttpGetIn">
    <wsdl:part name="banco_a_trabajar" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroBancosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBanco" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroBancosHttpPostIn">
    <wsdl:part name="banco_a_trabajar" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoLibroBancosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosBanco" />
  </wsdl:message>
  <wsdl:portType name="ImpresionLibroBancosSoap">
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <wsdl:input message="tns:ObtenerListadoLibroBancosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoLibroBancosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionLibroBancosHttpGet">
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <wsdl:input message="tns:ObtenerListadoLibroBancosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoLibroBancosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionLibroBancosHttpPost">
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <wsdl:input message="tns:ObtenerListadoLibroBancosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoLibroBancosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresionLibroBancosSoap" type="tns:ImpresionLibroBancosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoLibroBancos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionLibroBancosSoap12" type="tns:ImpresionLibroBancosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoLibroBancos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionLibroBancosHttpGet" type="tns:ImpresionLibroBancosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <http:operation location="/ObtenerListadoLibroBancos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionLibroBancosHttpPost" type="tns:ImpresionLibroBancosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoLibroBancos">
      <http:operation location="/ObtenerListadoLibroBancos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionLibroBancos">
    <wsdl:port name="ImpresionLibroBancosSoap" binding="tns:ImpresionLibroBancosSoap">
      <soap:address location="http://localhost:1390/ImpresionLibroBancos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionLibroBancosSoap12" binding="tns:ImpresionLibroBancosSoap12">
      <soap12:address location="http://localhost:1390/ImpresionLibroBancos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionLibroBancosHttpGet" binding="tns:ImpresionLibroBancosHttpGet">
      <http:address location="http://localhost:1390/ImpresionLibroBancos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionLibroBancosHttpPost" binding="tns:ImpresionLibroBancosHttpPost">
      <http:address location="http://localhost:1390/ImpresionLibroBancos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>