Impresion/ImpresionElemento/ImpresionFacturaCredito().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoFacturaCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numero_factura" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoFacturaCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoFacturaCreditoResult" type="tns:ArrayOfDatosFacturaCredito" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosFacturaCredito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosFacturaCredito" nillable="true" type="tns:DatosFacturaCredito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosFacturaCredito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="importe_remito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_1" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_2" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_3" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosFacturaCredito" nillable="true" type="tns:ArrayOfDatosFacturaCredito" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoFacturaCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoFacturaCredito" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoFacturaCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoFacturaCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoFacturaCreditoHttpGetIn">
    <wsdl:part name="numero_factura" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoFacturaCreditoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosFacturaCredito" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoFacturaCreditoHttpPostIn">
    <wsdl:part name="numero_factura" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoFacturaCreditoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosFacturaCredito" />
  </wsdl:message>
  <wsdl:portType name="ImpresionFacturaCreditoSoap">
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <wsdl:input message="tns:ObtenerListadoFacturaCreditoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoFacturaCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionFacturaCreditoHttpGet">
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <wsdl:input message="tns:ObtenerListadoFacturaCreditoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoFacturaCreditoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionFacturaCreditoHttpPost">
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <wsdl:input message="tns:ObtenerListadoFacturaCreditoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoFacturaCreditoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresionFacturaCreditoSoap" type="tns:ImpresionFacturaCreditoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoFacturaCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionFacturaCreditoSoap12" type="tns:ImpresionFacturaCreditoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoFacturaCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionFacturaCreditoHttpGet" type="tns:ImpresionFacturaCreditoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <http:operation location="/ObtenerListadoFacturaCredito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionFacturaCreditoHttpPost" type="tns:ImpresionFacturaCreditoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoFacturaCredito">
      <http:operation location="/ObtenerListadoFacturaCredito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionFacturaCredito">
    <wsdl:port name="ImpresionFacturaCreditoSoap" binding="tns:ImpresionFacturaCreditoSoap">
      <soap:address location="http://localhost:1390/ImpresionFacturaCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionFacturaCreditoSoap12" binding="tns:ImpresionFacturaCreditoSoap12">
      <soap12:address location="http://localhost:1390/ImpresionFacturaCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionFacturaCreditoHttpGet" binding="tns:ImpresionFacturaCreditoHttpGet">
      <http:address location="http://localhost:1390/ImpresionFacturaCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionFacturaCreditoHttpPost" binding="tns:ImpresionFacturaCreditoHttpPost">
      <http:address location="http://localhost:1390/ImpresionFacturaCredito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>