Listador estadistica/ListadorEstadisticas(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoEstadisticas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoEstadisticasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoEstadisticasResult" type="tns:ArrayOfDatosEstadistica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosEstadistica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosEstadistica" nillable="true" type="tns:DatosEstadistica" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosEstadistica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosEstadistica" nillable="true" type="tns:ArrayOfDatosEstadistica" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoEstadisticasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoEstadisticas" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoEstadisticasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoEstadisticasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoEstadisticasHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoEstadisticasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosEstadistica" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoEstadisticasHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoEstadisticasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosEstadistica" />
  </wsdl:message>
  <wsdl:portType name="ListadorEstadisticasSoap">
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <wsdl:input message="tns:ObtenerListadoEstadisticasSoapIn" />
      <wsdl:output message="tns:ObtenerListadoEstadisticasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorEstadisticasHttpGet">
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <wsdl:input message="tns:ObtenerListadoEstadisticasHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoEstadisticasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorEstadisticasHttpPost">
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <wsdl:input message="tns:ObtenerListadoEstadisticasHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoEstadisticasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorEstadisticasSoap" type="tns:ListadorEstadisticasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoEstadisticas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorEstadisticasSoap12" type="tns:ListadorEstadisticasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoEstadisticas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorEstadisticasHttpGet" type="tns:ListadorEstadisticasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <http:operation location="/ObtenerListadoEstadisticas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorEstadisticasHttpPost" type="tns:ListadorEstadisticasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoEstadisticas">
      <http:operation location="/ObtenerListadoEstadisticas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorEstadisticas">
    <wsdl:port name="ListadorEstadisticasSoap" binding="tns:ListadorEstadisticasSoap">
      <soap:address location="http://localhost:1390/ListadorEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorEstadisticasSoap12" binding="tns:ListadorEstadisticasSoap12">
      <soap12:address location="http://localhost:1390/ListadorEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorEstadisticasHttpGet" binding="tns:ListadorEstadisticasHttpGet">
      <http:address location="http://localhost:1390/ListadorEstadisticas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorEstadisticasHttpPost" binding="tns:ListadorEstadisticasHttpPost">
      <http:address location="http://localhost:1390/ListadorEstadisticas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>