Listador Archivo/ListadorArchivoProveedores().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoProveedoresResult" type="tns:ArrayOfDatosProveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosProveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosProveedor" nillable="true" type="tns:DatosProveedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosProveedor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_direccion" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ing_brutos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ult_oper" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosProveedor" nillable="true" type="tns:ArrayOfDatosProveedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoProveedoresHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoProveedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosProveedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoProveedoresHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoProveedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosProveedor" />
  </wsdl:message>
  <wsdl:portType name="ListadorArchivoProveedoresSoap">
    <wsdl:operation name="ObtenerListadoProveedores">
      <wsdl:input message="tns:ObtenerListadoProveedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoProveedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorArchivoProveedoresHttpGet">
    <wsdl:operation name="ObtenerListadoProveedores">
      <wsdl:input message="tns:ObtenerListadoProveedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoProveedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorArchivoProveedoresHttpPost">
    <wsdl:operation name="ObtenerListadoProveedores">
      <wsdl:input message="tns:ObtenerListadoProveedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoProveedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorArchivoProveedoresSoap" type="tns:ListadorArchivoProveedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoProveedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorArchivoProveedoresSoap12" type="tns:ListadorArchivoProveedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoProveedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorArchivoProveedoresHttpGet" type="tns:ListadorArchivoProveedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoProveedores">
      <http:operation location="/ObtenerListadoProveedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorArchivoProveedoresHttpPost" type="tns:ListadorArchivoProveedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoProveedores">
      <http:operation location="/ObtenerListadoProveedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorArchivoProveedores">
    <wsdl:port name="ListadorArchivoProveedoresSoap" binding="tns:ListadorArchivoProveedoresSoap">
      <soap:address location="http://localhost:1390/ListadorArchivoProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorArchivoProveedoresSoap12" binding="tns:ListadorArchivoProveedoresSoap12">
      <soap12:address location="http://localhost:1390/ListadorArchivoProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorArchivoProveedoresHttpGet" binding="tns:ListadorArchivoProveedoresHttpGet">
      <http:address location="http://localhost:1390/ListadorArchivoProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorArchivoProveedoresHttpPost" binding="tns:ListadorArchivoProveedoresHttpPost">
      <http:address location="http://localhost:1390/ListadorArchivoProveedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>