Anulacion/AnulacionFacturasMercaderiaNoEntregada().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AnularFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_flete" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_envases" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="conforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_precio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_basico" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="serie_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="ratifica_percepcion" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnularFacturaResult" type="tns:DatosFactura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosFactura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosFactura" nillable="true" type="tns:DatosFactura" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnularFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:AnularFactura" />
  </wsdl:message>
  <wsdl:message name="AnularFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:AnularFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="AnularFacturaHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="tipo_precio" type="s:string" />
    <wsdl:part name="precio_basico" type="s:float" />
    <wsdl:part name="serie_factura" type="s:string" />
    <wsdl:part name="factura" type="s:integer" />
    <wsdl:part name="ratifica_percepcion" type="s:double" />
  </wsdl:message>
  <wsdl:message name="AnularFacturaHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosFactura" />
  </wsdl:message>
  <wsdl:message name="AnularFacturaHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="tipo_precio" type="s:string" />
    <wsdl:part name="precio_basico" type="s:float" />
    <wsdl:part name="serie_factura" type="s:string" />
    <wsdl:part name="factura" type="s:integer" />
    <wsdl:part name="ratifica_percepcion" type="s:double" />
  </wsdl:message>
  <wsdl:message name="AnularFacturaHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosFactura" />
  </wsdl:message>
  <wsdl:portType name="AnulacionFacturasMercaderiaNoEntregadaSoap">
    <wsdl:operation name="AnularFactura">
      <wsdl:input message="tns:AnularFacturaSoapIn" />
      <wsdl:output message="tns:AnularFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AnulacionFacturasMercaderiaNoEntregadaHttpGet">
    <wsdl:operation name="AnularFactura">
      <wsdl:input message="tns:AnularFacturaHttpGetIn" />
      <wsdl:output message="tns:AnularFacturaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AnulacionFacturasMercaderiaNoEntregadaHttpPost">
    <wsdl:operation name="AnularFactura">
      <wsdl:input message="tns:AnularFacturaHttpPostIn" />
      <wsdl:output message="tns:AnularFacturaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnulacionFacturasMercaderiaNoEntregadaSoap" type="tns:AnulacionFacturasMercaderiaNoEntregadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnularFactura">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AnularFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionFacturasMercaderiaNoEntregadaSoap12" type="tns:AnulacionFacturasMercaderiaNoEntregadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnularFactura">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AnularFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionFacturasMercaderiaNoEntregadaHttpGet" type="tns:AnulacionFacturasMercaderiaNoEntregadaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AnularFactura">
      <http:operation location="/AnularFactura" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionFacturasMercaderiaNoEntregadaHttpPost" type="tns:AnulacionFacturasMercaderiaNoEntregadaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AnularFactura">
      <http:operation location="/AnularFactura" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnulacionFacturasMercaderiaNoEntregada">
    <wsdl:port name="AnulacionFacturasMercaderiaNoEntregadaSoap" binding="tns:AnulacionFacturasMercaderiaNoEntregadaSoap">
      <soap:address location="http://localhost:1390/AnulacionFacturasMercaderiaNoEntregada.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionFacturasMercaderiaNoEntregadaSoap12" binding="tns:AnulacionFacturasMercaderiaNoEntregadaSoap12">
      <soap12:address location="http://localhost:1390/AnulacionFacturasMercaderiaNoEntregada.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionFacturasMercaderiaNoEntregadaHttpGet" binding="tns:AnulacionFacturasMercaderiaNoEntregadaHttpGet">
      <http:address location="http://localhost:1390/AnulacionFacturasMercaderiaNoEntregada.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionFacturasMercaderiaNoEntregadaHttpPost" binding="tns:AnulacionFacturasMercaderiaNoEntregadaHttpPost">
      <http:address location="http://localhost:1390/AnulacionFacturasMercaderiaNoEntregada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>