Anulacion/AnulacionElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AnularElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acepta_numero" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_pedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_bolsas" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="acepta_remito" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_camion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_flete" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_envases" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="conforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_precio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_basico" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="serie_factura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="ratifica_percepcion" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_bolsas" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnularElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnularElementoResult" type="tns:DatosElemento" />
            <s:element minOccurs="0" maxOccurs="1" name="AnularRemitoResult" type="tns:DatosRemito" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="anulacionExitosa" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="pendiente_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pendiente_entrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="patente_camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad_kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_factura" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosElemento" nillable="true" type="tns:DatosElemento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnularElementoSoapIn">
    <wsdl:part name="parameters" element="tns:AnularElemento" />
  </wsdl:message>
  <wsdl:message name="AnularElementoSoapOut">
    <wsdl:part name="parameters" element="tns:AnularElementoResponse" />
  </wsdl:message>
  <wsdl:message name="AnularElementoHttpGetIn">
    <wsdl:part name="acepta_numero" type="s:integer" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="tipo_precio" type="s:string" />
    <wsdl:part name="precio_basico" type="s:float" />
    <wsdl:part name="serie_factura" type="s:string" />
    <wsdl:part name="factura" type="s:integer" />
    <wsdl:part name="ratifica_percepcion" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="AnularElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosElemento" />
  </wsdl:message>
  <wsdl:message name="AnularElementoHttpPostIn">
    <wsdl:part name="acepta_numero" type="s:integer" />
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="acepta_pedido" type="s:string" />
    <wsdl:part name="acepta_factura" type="s:integer" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
    <wsdl:part name="acepta_remito" type="s:short" />
    <wsdl:part name="patente_camion" type="s:string" />
    <wsdl:part name="patente_acoplado" type="s:string" />
    <wsdl:part name="empresa_transportista" type="s:string" />
    <wsdl:part name="conductor" type="s:string" />
    <wsdl:part name="registro_conductor" type="s:string" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="tipo_precio" type="s:string" />
    <wsdl:part name="precio_basico" type="s:float" />
    <wsdl:part name="serie_factura" type="s:string" />
    <wsdl:part name="factura" type="s:integer" />
    <wsdl:part name="ratifica_percepcion" type="s:double" />
    <wsdl:part name="factura_envases" type="s:short" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
  </wsdl:message>
  <wsdl:message name="AnularElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosElemento" />
  </wsdl:message>
  <wsdl:portType name="AnulacionElementosSoap">
    <wsdl:operation name="AnularElemento">
      <wsdl:input message="tns:AnularElementoSoapIn" />
      <wsdl:output message="tns:AnularElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AnulacionElementosHttpGet">
    <wsdl:operation name="AnularElemento">
      <wsdl:input message="tns:AnularElementoHttpGetIn" />
      <wsdl:output message="tns:AnularElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AnulacionElementosHttpPost">
    <wsdl:operation name="AnularElemento">
      <wsdl:input message="tns:AnularElementoHttpPostIn" />
      <wsdl:output message="tns:AnularElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnulacionElementosSoap" type="tns:AnulacionElementosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnularElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AnularElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionElementosSoap12" type="tns:AnulacionElementosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnularElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AnularElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionElementosHttpGet" type="tns:AnulacionElementosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AnularElemento">
      <http:operation location="/AnularElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionElementosHttpPost" type="tns:AnulacionElementosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AnularElemento">
      <http:operation location="/AnularElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnulacionElementos">
    <wsdl:port name="AnulacionElementosSoap" binding="tns:AnulacionElementosSoap">
      <soap:address location="http://localhost:1390/AnulacionElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionElementosSoap12" binding="tns:AnulacionElementosSoap12">
      <soap12:address location="http://localhost:1390/AnulacionElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionElementosHttpGet" binding="tns:AnulacionElementosHttpGet">
      <http:address location="http://localhost:1390/AnulacionElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionElementosHttpPost" binding="tns:AnulacionElementosHttpPost">
      <http:address location="http://localhost:1390/AnulacionElementos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>