ABM/AMB Archivos/AbmArchivoElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AltaElemento">
        <s:complexType>
          <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_elemento" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_direccion_elemento" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="localidad_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_provincia_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_postal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuit_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ing_brutos_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ultima_oper_elemento" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion_iva_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_documento_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_documento_elemento" type="s:long" />

            <s:element minOccurs="0" maxOccurs="1" name="marca_ing_brutos_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_ing_bruto" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_ing_bruto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_ganancias_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_ganancias" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_ganancias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_iva_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_iva" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_iva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_suss_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_suss" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_suss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_flete_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="credito_elemento" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="calificacion_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="exento_ingresos_brutos_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="localidad_domicilio_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="partido_domicilio_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia_domicilio_elemento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_factura" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_descuento" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaElementoResult" type="tns:DatosAlta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosAlta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="altaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosAlta" nillable="true" type="tns:DatosAlta" />
      <s:element name="ModificacionElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nro_direccion_elemento" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="localidad_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_provincia_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_postal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuit_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ing_brutos_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ultima_oper_elemento" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion_iva_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_documento_elemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_documento_elemento" type="s:long" />

            <s:element minOccurs="0" maxOccurs="1" name="marca_ing_brutos_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_ing_bruto" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_ing_bruto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_ganancias_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_ganancias" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_ganancias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_iva_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_iva" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_iva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_suss_exento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="porciento_exencion_suss" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_exencion_suss" type="s:string" />
	    <s:element minOccurs="0" maxOccurs="1" name="zona_flete_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="credito_elemento" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="calificacion_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="exento_ingresos_brutos_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="localidad_domicilio_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="partido_domicilio_elemento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia_domicilio_elemento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_factura" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_descuento" type="s:double" />

          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificacionElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificacionElementoResult" type="tns:DatosModificacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosModificacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modificacionExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosModificacion" nillable="true" type="tns:DatosModificacion" />
      <s:element name="BajaElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_elemento" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaElementoResult" type="tns:DatosBaja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBaja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBaja" nillable="true" type="tns:DatosBaja" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaElementoSoapIn">
    <wsdl:part name="parameters" element="tns:AltaElemento" />
  </wsdl:message>
  <wsdl:message name="AltaElementoSoapOut">
    <wsdl:part name="parameters" element="tns:AltaElementoResponse" />
  </wsdl:message>
  <wsdl:message name="AltaElementoHttpGetIn">
<wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="apellido_elemento" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="direccion_elemento" type="s:string" />
    <wsdl:part name="nro_direccion_elemento" type="s:integer" />
    <wsdl:part name="localidad_elemento" type="s:string" />
    <wsdl:part name="provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_postal" type="s:short" />
    <wsdl:part name="telefono_elemento" type="s:string" />
    <wsdl:part name="cuit_elemento" type="s:string" />
    <wsdl:part name="ing_brutos_elemento" type="s:string" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="ultima_oper_elemento" type="s:integer" />
    <wsdl:part name="condicion_iva_elemento" type="s:short" />
    <wsdl:part name="tipo_documento_elemento" type="s:string" />
    <wsdl:part name="numero_documento_elemento" type="s:long" />

    <wsdl:part name="marca_ing_brutos_exento" type="s:short" />

    <wsdl:part name="porciento_exencion_ing_bruto" type="s:short" />
    <wsdl:part name="fecha_exencion_ing_bruto" type="s:string" />
    <wsdl:part name="marca_ganancias_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ganancias" type="s:short" />
    <wsdl:part name="fecha_exencion_ganancias" type="s:string" />
    <wsdl:part name="marca_iva_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_iva" type="s:short" />
    <wsdl:part name="fecha_exencion_iva" type="s:string" />
    <wsdl:part name="marca_suss_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_suss" type="s:short" />
    <wsdl:part name="fecha_exencion_suss" type="s:string" />

    <wsdl:part name="zona_flete_elemento" type="s:short" />
    <wsdl:part name="credito_elemento" type="s:long" />
    <wsdl:part name="calificacion_elemento" type="s:short" />
    <wsdl:part name="exento_ingresos_brutos_elemento" type="s:short" />
    <wsdl:part name="localidad_domicilio_elemento" type="s:short" />
    <wsdl:part name="partido_domicilio_elemento" type="s:short" />
    <wsdl:part name="provincia_domicilio_elemento" type="s:short" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />

  </wsdl:message>
  <wsdl:message name="AltaElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="AltaElementoHttpPostIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="apellido_elemento" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="direccion_elemento" type="s:string" />
    <wsdl:part name="nro_direccion_elemento" type="s:integer" />
    <wsdl:part name="localidad_elemento" type="s:string" />
    <wsdl:part name="provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_postal" type="s:short" />
    <wsdl:part name="telefono_elemento" type="s:string" />
    <wsdl:part name="cuit_elemento" type="s:string" />
    <wsdl:part name="ing_brutos_elemento" type="s:string" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="ultima_oper_elemento" type="s:integer" />
    <wsdl:part name="condicion_iva_elemento" type="s:short" />
    <wsdl:part name="tipo_documento_elemento" type="s:string" />
    <wsdl:part name="numero_documento_elemento" type="s:long" />
    <wsdl:part name="marca_ing_brutos_exento" type="s:short" />

    <wsdl:part name="porciento_exencion_ing_bruto" type="s:short" />
    <wsdl:part name="fecha_exencion_ing_bruto" type="s:string" />
    <wsdl:part name="marca_ganancias_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ganancias" type="s:short" />
    <wsdl:part name="fecha_exencion_ganancias" type="s:string" />
    <wsdl:part name="marca_iva_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_iva" type="s:short" />
    <wsdl:part name="fecha_exencion_iva" type="s:string" />
    <wsdl:part name="marca_suss_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_suss" type="s:short" />
    <wsdl:part name="fecha_exencion_suss" type="s:string" />

    <wsdl:part name="credito_elemento" type="s:long" />
    <wsdl:part name="calificacion_elemento" type="s:short" />
    <wsdl:part name="exento_ingresos_brutos_elemento" type="s:short" />
    <wsdl:part name="localidad_domicilio_elemento" type="s:short" />
    <wsdl:part name="partido_domicilio_elemento" type="s:short" />
    <wsdl:part name="provincia_domicilio_elemento" type="s:short" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />

  </wsdl:message>
  <wsdl:message name="AltaElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="ModificacionElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificacionElemento" />
  </wsdl:message>
  <wsdl:message name="ModificacionElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificacionElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificacionElementoHttpGetIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="apellido_elemento" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="direccion_elemento" type="s:string" />
    <wsdl:part name="nro_direccion_elemento" type="s:integer" />
    <wsdl:part name="localidad_elemento" type="s:string" />
    <wsdl:part name="provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_postal" type="s:short" />
    <wsdl:part name="telefono_elemento" type="s:string" />
    <wsdl:part name="cuit_elemento" type="s:string" />
    <wsdl:part name="ing_brutos_elemento" type="s:string" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="ultima_oper_elemento" type="s:integer" />
    <wsdl:part name="condicion_iva_elemento" type="s:short" />
    <wsdl:part name="tipo_documento_elemento" type="s:string" />
    <wsdl:part name="numero_documento_elemento" type="s:long" />
    <wsdl:part name="zona_flete_elemento" type="s:short" />
    <wsdl:part name="credito_elemento" type="s:long" />
    <wsdl:part name="calificacion_elemento" type="s:short" />
    <wsdl:part name="exento_ingresos_brutos_elemento" type="s:short" />
    <wsdl:part name="localidad_domicilio_elemento" type="s:short" />
    <wsdl:part name="partido_domicilio_elemento" type="s:short" />
    <wsdl:part name="provincia_domicilio_elemento" type="s:short" />
    <wsdl:part name="marca_ing_brutos_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ing_bruto" type="s:short" />
    <wsdl:part name="fecha_exencion_ing_bruto" type="s:string" />
    <wsdl:part name="marca_ganancias_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ganancias" type="s:short" />
    <wsdl:part name="fecha_exencion_ganancias" type="s:string" />
    <wsdl:part name="marca_iva_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_iva" type="s:short" />
    <wsdl:part name="fecha_exencion_iva" type="s:string" />
    <wsdl:part name="marca_suss_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_suss" type="s:short" />
    <wsdl:part name="fecha_exencion_suss" type="s:string" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />

  </wsdl:message>
  <wsdl:message name="ModificacionElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
  <wsdl:message name="ModificacionElementoHttpPostIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="apellido_elemento" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="direccion_elemento" type="s:string" />
    <wsdl:part name="nro_direccion_elemento" type="s:integer" />
    <wsdl:part name="localidad_elemento" type="s:string" />
    <wsdl:part name="provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_provincia_elemento" type="s:string" />
    <wsdl:part name="codigo_postal" type="s:short" />
    <wsdl:part name="telefono_elemento" type="s:string" />
    <wsdl:part name="cuit_elemento" type="s:string" />
    <wsdl:part name="ing_brutos_elemento" type="s:string" />
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="ultima_oper_elemento" type="s:integer" />
    <wsdl:part name="condicion_iva_elemento" type="s:short" />
    <wsdl:part name="tipo_documento_elemento" type="s:string" />
    <wsdl:part name="numero_documento_elemento" type="s:long" />
    <wsdl:part name="zona_flete_elemento" type="s:short" />
    <wsdl:part name="credito_elemento" type="s:long" />
    <wsdl:part name="calificacion_elemento" type="s:short" />
    <wsdl:part name="exento_ingresos_brutos_elemento" type="s:short" />
    <wsdl:part name="localidad_domicilio_elemento" type="s:short" />
    <wsdl:part name="partido_domicilio_elemento" type="s:short" />
    <wsdl:part name="provincia_domicilio_elemento" type="s:short" />
    <wsdl:part name="marca_ing_brutos_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ing_bruto" type="s:short" />
    <wsdl:part name="fecha_exencion_ing_bruto" type="s:string" />
    <wsdl:part name="marca_ganancias_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_ganancias" type="s:short" />
    <wsdl:part name="fecha_exencion_ganancias" type="s:string" />
    <wsdl:part name="marca_iva_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_iva" type="s:short" />
    <wsdl:part name="fecha_exencion_iva" type="s:string" />
    <wsdl:part name="marca_suss_exento" type="s:short" />
    <wsdl:part name="porciento_exencion_suss" type="s:short" />
    <wsdl:part name="fecha_exencion_suss" type="s:string" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />

  </wsdl:message>
  <wsdl:message name="ModificacionElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
   <wsdl:message name="BajaElementoSoapIn">
    <wsdl:part name="parameters" element="tns:BajaElemento" />
  </wsdl:message>
  <wsdl:message name="BajaElementoSoapOut">
    <wsdl:part name="parameters" element="tns:BajaElementoResponse" />
  </wsdl:message>
  <wsdl:message name="BajaElementoHttpGetIn">
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />

  </wsdl:message>
  <wsdl:message name="BajaElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:message name="BajaElementoHttpPostIn">
    <wsdl:part name="codigo_elemento" type="s:short" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_elemento" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_elemento" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />

  </wsdl:message>
  <wsdl:message name="BajaElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:portType name="AbmArchivoElementoesSoap">
    <wsdl:operation name="AltaElemento">
      <wsdl:input message="tns:AltaElementoSoapIn" />
      <wsdl:output message="tns:AltaElementoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <wsdl:input message="tns:ModificacionElementoSoapIn" />
      <wsdl:output message="tns:ModificacionElementoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <wsdl:input message="tns:BajaElementoSoapIn" />
      <wsdl:output message="tns:BajaElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoElementoesHttpGet">
    <wsdl:operation name="AltaElemento">
      <wsdl:input message="tns:AltaElementoHttpGetIn" />
      <wsdl:output message="tns:AltaElementoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <wsdl:input message="tns:ModificacionElementoHttpGetIn" />
      <wsdl:output message="tns:ModificacionElementoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <wsdl:input message="tns:BajaElementoHttpGetIn" />
      <wsdl:output message="tns:BajaElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoElementoesHttpPost">
    <wsdl:operation name="AltaElemento">
      <wsdl:input message="tns:AltaElementoHttpPostIn" />
      <wsdl:output message="tns:AltaElementoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <wsdl:input message="tns:ModificacionElementoHttpPostIn" />
      <wsdl:output message="tns:ModificacionElementoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <wsdl:input message="tns:BajaElementoHttpPostIn" />
      <wsdl:output message="tns:BajaElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbmArchivoElementoesSoap" type="tns:AbmArchivoElementoesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AltaElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ModificacionElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/BajaElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoElementoesSoap12" type="tns:AbmArchivoElementoesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AltaElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ModificacionElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/BajaElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoElementoesHttpGet" type="tns:AbmArchivoElementoesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AltaElemento">
      <http:operation location="/AltaElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <http:operation location="/ModificacionElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <http:operation location="/BajaElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoElementoesHttpPost" type="tns:AbmArchivoElementoesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AltaElemento">
      <http:operation location="/AltaElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionElemento">
      <http:operation location="/ModificacionElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaElemento">
      <http:operation location="/BajaElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbmArchivoElementoes">
    <wsdl:port name="AbmArchivoElementoesSoap" binding="tns:AbmArchivoElementoesSoap">
      <soap:address location="http://localhost:1390/AbmArchivoElementoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoElementoesSoap12" binding="tns:AbmArchivoElementoesSoap12">
      <soap12:address location="http://localhost:1390/AbmArchivoElementoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoElementoesHttpGet" binding="tns:AbmArchivoElementoesHttpGet">
      <http:address location="http://localhost:1390/AbmArchivoElementoes.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoElementoesHttpPost" binding="tns:AbmArchivoElementoesHttpPost">
      <http:address location="http://localhost:1390/AbmArchivoElementoes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>