ABM/AMB Archivos/AbmArchivoCreditosRecibosInterrumpidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AltaCreditoReciboInterrumpido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCreditoReciboInterrumpidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaCreditoReciboInterrumpidoResult" type="tns:DatosAlta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosAlta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="altaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosAlta" nillable="true" type="tns:DatosAlta" />
      <s:element name="ModificacionCreditoReciboInterrumpido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificacionCreditoReciboInterrumpidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificacionCreditoReciboInterrumpidoResult" type="tns:DatosModificacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosModificacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modificacionExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosModificacion" nillable="true" type="tns:DatosModificacion" />
      <s:element name="BajaCreditoReciboInterrumpido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_factura" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_factura" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaCreditoReciboInterrumpidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaCreditoReciboInterrumpidoResult" type="tns:DatosBaja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBaja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBaja" nillable="true" type="tns:DatosBaja" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaCreditoReciboInterrumpidoSoapIn">
    <wsdl:part name="parameters" element="tns:AltaCreditoReciboInterrumpido" />
  </wsdl:message>
  <wsdl:message name="AltaCreditoReciboInterrumpidoSoapOut">
    <wsdl:part name="parameters" element="tns:AltaCreditoReciboInterrumpidoResponse" />
  </wsdl:message>
  <wsdl:message name="AltaCreditoReciboInterrumpidoHttpGetIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AltaCreditoReciboInterrumpidoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="AltaCreditoReciboInterrumpidoHttpPostIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AltaCreditoReciboInterrumpidoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificacionCreditoReciboInterrumpido" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificacionCreditoReciboInterrumpidoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoHttpGetIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoHttpPostIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
    <wsdl:part name="importe_total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificacionCreditoReciboInterrumpidoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
   <wsdl:message name="BajaCreditoReciboInterrumpidoSoapIn">
    <wsdl:part name="parameters" element="tns:BajaCreditoReciboInterrumpido" />
  </wsdl:message>
  <wsdl:message name="BajaCreditoReciboInterrumpidoSoapOut">
    <wsdl:part name="parameters" element="tns:BajaCreditoReciboInterrumpidoResponse" />
  </wsdl:message>
  <wsdl:message name="BajaCreditoReciboInterrumpidoHttpGetIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
  </wsdl:message>
  <wsdl:message name="BajaCreditoReciboInterrumpidoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:message name="BajaCreditoReciboInterrumpidoHttpPostIn">
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="iva_adicional" type="s:string" />
    <wsdl:part name="nombre_cliente" type="s:string" />
    <wsdl:part name="numero_recibo" type="s:integer" />
    <wsdl:part name="numero_cliente" type="s:integer" />
    <wsdl:part name="dia_factura" type="s:short" />
    <wsdl:part name="mes_factura" type="s:short" />
    <wsdl:part name="anio_factura" type="s:short" />
  </wsdl:message>
  <wsdl:message name="BajaCreditoReciboInterrumpidoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:portType name="AbmArchivoCreditosRecibosInterrumpidosSoap">
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <wsdl:input message="tns:AltaCreditoReciboInterrumpidoSoapIn" />
      <wsdl:output message="tns:AltaCreditoReciboInterrumpidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <wsdl:input message="tns:ModificacionCreditoReciboInterrumpidoSoapIn" />
      <wsdl:output message="tns:ModificacionCreditoReciboInterrumpidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <wsdl:input message="tns:BajaCreditoReciboInterrumpidoSoapIn" />
      <wsdl:output message="tns:BajaCreditoReciboInterrumpidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoCreditosRecibosInterrumpidosHttpGet">
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <wsdl:input message="tns:AltaCreditoReciboInterrumpidoHttpGetIn" />
      <wsdl:output message="tns:AltaCreditoReciboInterrumpidoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <wsdl:input message="tns:ModificacionCreditoReciboInterrumpidoHttpGetIn" />
      <wsdl:output message="tns:ModificacionCreditoReciboInterrumpidoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <wsdl:input message="tns:BajaCreditoReciboInterrumpidoHttpGetIn" />
      <wsdl:output message="tns:BajaCreditoReciboInterrumpidoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoCreditosRecibosInterrumpidosHttpPost">
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <wsdl:input message="tns:AltaCreditoReciboInterrumpidoHttpPostIn" />
      <wsdl:output message="tns:AltaCreditoReciboInterrumpidoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <wsdl:input message="tns:ModificacionCreditoReciboInterrumpidoHttpPostIn" />
      <wsdl:output message="tns:ModificacionCreditoReciboInterrumpidoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <wsdl:input message="tns:BajaCreditoReciboInterrumpidoHttpPostIn" />
      <wsdl:output message="tns:BajaCreditoReciboInterrumpidoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbmArchivoCreditosRecibosInterrumpidosSoap" type="tns:AbmArchivoCreditosRecibosInterrumpidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AltaCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ModificacionCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/BajaCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoCreditosRecibosInterrumpidosSoap12" type="tns:AbmArchivoCreditosRecibosInterrumpidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AltaCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ModificacionCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/BajaCreditoReciboInterrumpido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoCreditosRecibosInterrumpidosHttpGet" type="tns:AbmArchivoCreditosRecibosInterrumpidosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <http:operation location="/AltaCreditoReciboInterrumpido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <http:operation location="/ModificacionCreditoReciboInterrumpido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <http:operation location="/BajaCreditoReciboInterrumpido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoCreditosRecibosInterrumpidosHttpPost" type="tns:AbmArchivoCreditosRecibosInterrumpidosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AltaCreditoReciboInterrumpido">
      <http:operation location="/AltaCreditoReciboInterrumpido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionCreditoReciboInterrumpido">
      <http:operation location="/ModificacionCreditoReciboInterrumpido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCreditoReciboInterrumpido">
      <http:operation location="/BajaCreditoReciboInterrumpido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbmArchivoCreditosRecibosInterrumpidos">
    <wsdl:port name="AbmArchivoCreditosRecibosInterrumpidosSoap" binding="tns:AbmArchivoCreditosRecibosInterrumpidosSoap">
      <soap:address location="http://localhost:1390/AbmArchivoCreditosRecibosInterrumpidos.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoCreditosRecibosInterrumpidosSoap12" binding="tns:AbmArchivoCreditosRecibosInterrumpidosSoap12">
      <soap12:address location="http://localhost:1390/AbmArchivoCreditosRecibosInterrumpidos.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoCreditosRecibosInterrumpidosHttpGet" binding="tns:AbmArchivoCreditosRecibosInterrumpidosHttpGet">
      <http:address location="http://localhost:1390/AbmArchivoCreditosRecibosInterrumpidos.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoCreditosRecibosInterrumpidosHttpPost" binding="tns:AbmArchivoCreditosRecibosInterrumpidosHttpPost">
      <http:address location="http://localhost:1390/AbmArchivoCreditosRecibosInterrumpidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>