ABM/AMB Archivos/AbmArchivoRecibos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="AltaRecibo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_factura" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_descuento" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaReciboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaReciboResult" type="tns:DatosAlta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosAlta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="altaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosAlta" nillable="true" type="tns:DatosAlta" />
      <s:element name="ModificacionRecibo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_factura" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_descuento" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificacionReciboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificacionReciboResult" type="tns:DatosModificacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosModificacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modificacionExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosModificacion" nillable="true" type="tns:DatosModificacion" />
      <s:element name="BajaRecibo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero_factura" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaReciboResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaReciboResult" type="tns:DatosBaja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosBaja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="bajaExitosa" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosBaja" nillable="true" type="tns:DatosBaja" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaReciboSoapIn">
    <wsdl:part name="parameters" element="tns:AltaRecibo" />
  </wsdl:message>
  <wsdl:message name="AltaReciboSoapOut">
    <wsdl:part name="parameters" element="tns:AltaReciboResponse" />
  </wsdl:message>
  <wsdl:message name="AltaReciboHttpGetIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />
  </wsdl:message>
  <wsdl:message name="AltaReciboHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="AltaReciboHttpPostIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />
  </wsdl:message>
  <wsdl:message name="AltaReciboHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosAlta" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboSoapIn">
    <wsdl:part name="parameters" element="tns:ModificacionRecibo" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboSoapOut">
    <wsdl:part name="parameters" element="tns:ModificacionReciboResponse" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboHttpGetIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboHttpPostIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="importe_factura" type="s:double" />
    <wsdl:part name="importe_descuento" type="s:double" />
  </wsdl:message>
  <wsdl:message name="ModificacionReciboHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosModificacion" />
  </wsdl:message>
   <wsdl:message name="BajaReciboSoapIn">
    <wsdl:part name="parameters" element="tns:BajaRecibo" />
  </wsdl:message>
  <wsdl:message name="BajaReciboSoapOut">
    <wsdl:part name="parameters" element="tns:BajaReciboResponse" />
  </wsdl:message>
  <wsdl:message name="BajaReciboHttpGetIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="BajaReciboHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:message name="BajaReciboHttpPostIn">
    <wsdl:part name="numero_factura" type="s:short" />
    <wsdl:part name="numero_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
  </wsdl:message>
  <wsdl:message name="BajaReciboHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosBaja" />
  </wsdl:message>
  <wsdl:portType name="AbmArchivoReciboSoap">
    <wsdl:operation name="AltaRecibo">
      <wsdl:input message="tns:AltaReciboSoapIn" />
      <wsdl:output message="tns:AltaReciboSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <wsdl:input message="tns:ModificacionReciboSoapIn" />
      <wsdl:output message="tns:ModificacionReciboSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <wsdl:input message="tns:BajaReciboSoapIn" />
      <wsdl:output message="tns:BajaReciboSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoReciboHttpGet">
    <wsdl:operation name="AltaRecibo">
      <wsdl:input message="tns:AltaReciboHttpGetIn" />
      <wsdl:output message="tns:AltaReciboHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <wsdl:input message="tns:ModificacionReciboHttpGetIn" />
      <wsdl:output message="tns:ModificacionReciboHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <wsdl:input message="tns:BajaReciboHttpGetIn" />
      <wsdl:output message="tns:BajaReciboHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AbmArchivoReciboHttpPost">
    <wsdl:operation name="AltaRecibo">
      <wsdl:input message="tns:AltaReciboHttpPostIn" />
      <wsdl:output message="tns:AltaReciboHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <wsdl:input message="tns:ModificacionReciboHttpPostIn" />
      <wsdl:output message="tns:ModificacionReciboHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <wsdl:input message="tns:BajaReciboHttpPostIn" />
      <wsdl:output message="tns:BajaReciboHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbmArchivoReciboSoap" type="tns:AbmArchivoReciboSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaRecibo">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/AltaRecibo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ModificacionRecibo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/BajaRecibo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoReciboSoap12" type="tns:AbmArchivoReciboSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaRecibo">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/AltaRecibo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ModificacionRecibo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/BajaRecibo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoReciboHttpGet" type="tns:AbmArchivoReciboHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AltaRecibo">
      <http:operation location="/AltaRecibo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <http:operation location="/ModificacionRecibo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <http:operation location="/BajaRecibo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbmArchivoReciboHttpPost" type="tns:AbmArchivoReciboHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AltaRecibo">
      <http:operation location="/AltaRecibo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificacionRecibo">
      <http:operation location="/ModificacionRecibo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaRecibo">
      <http:operation location="/BajaRecibo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbmArchivoRecibo">
    <wsdl:port name="AbmArchivoReciboSoap" binding="tns:AbmArchivoReciboSoap">
      <soap:address location="http://localhost:1390/AbmArchivoRecibo.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoReciboSoap12" binding="tns:AbmArchivoReciboSoap12">
      <soap12:address location="http://localhost:1390/AbmArchivoRecibo.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoReciboHttpGet" binding="tns:AbmArchivoReciboHttpGet">
      <http:address location="http://localhost:1390/AbmArchivoRecibo.asmx" />
    </wsdl:port>
    <wsdl:port name="AbmArchivoReciboHttpPost" binding="tns:AbmArchivoReciboHttpPost">
      <http:address location="http://localhost:1390/AbmArchivoRecibo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>