InformesClientes/InformeClientesParaSecretariaComercioHarina000().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerInformeClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformeClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInformeClientesResult" type="tns:ArrayOfDatosCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCliente" nillable="true" type="tns:DatosCliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_direccion_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono_cliente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCliente" nillable="true" type="tns:ArrayOfDatosCliente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerInformeClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInformeClientes" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformeClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInformeClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformeClientesHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformeClientesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCliente" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformeClientesHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformeClientesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCliente" />
  </wsdl:message>
  <wsdl:portType name="InformeClientesParaSecretariaComercioHarina000Soap">
    <wsdl:operation name="ObtenerInformeClientes">
      <wsdl:input message="tns:ObtenerInformeClientesSoapIn" />
      <wsdl:output message="tns:ObtenerInformeClientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InformeClientesParaSecretariaComercioHarina000HttpGet">
    <wsdl:operation name="ObtenerInformeClientes">
      <wsdl:input message="tns:ObtenerInformeClientesHttpGetIn" />
      <wsdl:output message="tns:ObtenerInformeClientesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InformeClientesParaSecretariaComercioHarina000HttpPost">
    <wsdl:operation name="ObtenerInformeClientes">
      <wsdl:input message="tns:ObtenerInformeClientesHttpPostIn" />
      <wsdl:output message="tns:ObtenerInformeClientesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformeClientesParaSecretariaComercioHarina000Soap" type="tns:InformeClientesParaSecretariaComercioHarina000Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInformeClientes">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerInformeClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformeClientesParaSecretariaComercioHarina000Soap12" type="tns:InformeClientesParaSecretariaComercioHarina000Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInformeClientes">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerInformeClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformeClientesParaSecretariaComercioHarina000HttpGet" type="tns:InformeClientesParaSecretariaComercioHarina000HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerInformeClientes">
      <http:operation location="/ObtenerInformeClientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformeClientesParaSecretariaComercioHarina000HttpPost" type="tns:InformeClientesParaSecretariaComercioHarina000HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerInformeClientes">
      <http:operation location="/ObtenerInformeClientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformeClientesParaSecretariaComercioHarina000">
    <wsdl:port name="InformeClientesParaSecretariaComercioHarina000Soap" binding="tns:InformeClientesParaSecretariaComercioHarina000Soap">
      <soap:address location="http://localhost:1390/InformeClientesParaSecretariaComercioHarina000.asmx" />
    </wsdl:port>
    <wsdl:port name="InformeClientesParaSecretariaComercioHarina000Soap12" binding="tns:InformeClientesParaSecretariaComercioHarina000Soap12">
      <soap12:address location="http://localhost:1390/InformeClientesParaSecretariaComercioHarina000.asmx" />
    </wsdl:port>
    <wsdl:port name="InformeClientesParaSecretariaComercioHarina000HttpGet" binding="tns:InformeClientesParaSecretariaComercioHarina000HttpGet">
      <http:address location="http://localhost:1390/InformeClientesParaSecretariaComercioHarina000.asmx" />
    </wsdl:port>
    <wsdl:port name="InformeClientesParaSecretariaComercioHarina000HttpPost" binding="tns:InformeClientesParaSecretariaComercioHarina000HttpPost">
      <http:address location="http://localhost:1390/InformeClientesParaSecretariaComercioHarina000.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>