Control/ControlElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"	
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ControlarElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="zona" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="solo_segunda" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ControlarElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ControlarElementoResult" type="tns:ArrayOfDatosElemento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosElemento" nillable="true" type="tns:DatosElemento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosElemento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="comentario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comprobante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="desde_renglon" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="hasta_renglon" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="faltante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="no_entregado" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="ultimo" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosElemento" nillable="true" type="tns:ArrayOfDatosElemento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ControlarElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ControlarElemento" />
  </wsdl:message>
  <wsdl:message name="ControlarElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ControlarElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ControlarElementoHttpGetIn">
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="solo_segunda" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ControlarElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:message name="ControlarElementoHttpPostIn">
    <wsdl:part name="zona" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="solo_segunda" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ControlarElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:portType name="ControlElementoSoap">
    <wsdl:operation name="ControlarElemento">
      <wsdl:input message="tns:ControlarElementoSoapIn" />
      <wsdl:output message="tns:ControlarElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControlElementoHttpGet">
    <wsdl:operation name="ControlarElemento">
      <wsdl:input message="tns:ControlarElementoHttpGetIn" />
      <wsdl:output message="tns:ControlarElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControlElementoHttpPost">
    <wsdl:operation name="ControlarElemento">
      <wsdl:input message="tns:ControlarElementoHttpPostIn" />
      <wsdl:output message="tns:ControlarElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControlElementoSoap" type="tns:ControlElementoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ControlarElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ControlarElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlElementoSoap12" type="tns:ControlElementoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ControlarElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ControlarElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlElementoHttpGet" type="tns:ControlElementoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ControlarElemento">
      <http:operation location="/ControlarElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlElementoHttpPost" type="tns:ControlElementoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ControlarElemento">
      <http:operation location="/ControlarElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlElemento">
    <wsdl:port name="ControlElementoSoap" binding="tns:ControlElementoSoap">
      <soap:address location="http://localhost:1390/ControlElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlElementoSoap12" binding="tns:ControlElementoSoap12">
      <soap12:address location="http://localhost:1390/ControlElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlElementoHttpGet" binding="tns:ControlElementoHttpGet">
      <http:address location="http://localhost:1390/ControlElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlElementoHttpPost" binding="tns:ControlElementoHttpPost">
      <http:address location="http://localhost:1390/ControlElemento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>