Control/ControlRecibosProvisoriosRecibidos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"	
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ControlarRecibosProvisorios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="solo_segunda" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ControlarRecibosProvisoriosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ControlarRecibosProvisoriosResult" type="tns:ArrayOfDatosReciboProvisorio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosReciboProvisorio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosReciboProvisorio" nillable="true" type="tns:DatosReciboProvisorio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosReciboProvisorio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="desde_renglon" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="hasta_renglon" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="faltante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="no_entregado" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="ultimo" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_recibo" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosReciboProvisorio" nillable="true" type="tns:ArrayOfDatosReciboProvisorio" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ControlarRecibosProvisoriosSoapIn">
    <wsdl:part name="parameters" element="tns:ControlarRecibosProvisorios" />
  </wsdl:message>
  <wsdl:message name="ControlarRecibosProvisoriosSoapOut">
    <wsdl:part name="parameters" element="tns:ControlarRecibosProvisoriosResponse" />
  </wsdl:message>
  <wsdl:message name="ControlarRecibosProvisoriosHttpGetIn">
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="solo_segunda" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ControlarRecibosProvisoriosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosReciboProvisorio" />
  </wsdl:message>
  <wsdl:message name="ControlarRecibosProvisoriosHttpPostIn">
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="solo_segunda" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ControlarRecibosProvisoriosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosReciboProvisorio" />
  </wsdl:message>
  <wsdl:portType name="ControlRecibosProvisoriosRecibidosSoap">
    <wsdl:operation name="ControlarRecibosProvisorios">
      <wsdl:input message="tns:ControlarRecibosProvisoriosSoapIn" />
      <wsdl:output message="tns:ControlarRecibosProvisoriosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControlRecibosProvisoriosRecibidosHttpGet">
    <wsdl:operation name="ControlarRecibosProvisorios">
      <wsdl:input message="tns:ControlarRecibosProvisoriosHttpGetIn" />
      <wsdl:output message="tns:ControlarRecibosProvisoriosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ControlRecibosProvisoriosRecibidosHttpPost">
    <wsdl:operation name="ControlarRecibosProvisorios">
      <wsdl:input message="tns:ControlarRecibosProvisoriosHttpPostIn" />
      <wsdl:output message="tns:ControlarRecibosProvisoriosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControlRecibosProvisoriosRecibidosSoap" type="tns:ControlRecibosProvisoriosRecibidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ControlarRecibosProvisorios">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ControlarRecibosProvisorios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlRecibosProvisoriosRecibidosSoap12" type="tns:ControlRecibosProvisoriosRecibidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ControlarRecibosProvisorios">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ControlarRecibosProvisorios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlRecibosProvisoriosRecibidosHttpGet" type="tns:ControlRecibosProvisoriosRecibidosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ControlarRecibosProvisorios">
      <http:operation location="/ControlarRecibosProvisorios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControlRecibosProvisoriosRecibidosHttpPost" type="tns:ControlRecibosProvisoriosRecibidosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ControlarRecibosProvisorios">
      <http:operation location="/ControlarRecibosProvisorios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlRecibosProvisoriosRecibidos">
    <wsdl:port name="ControlRecibosProvisoriosRecibidosSoap" binding="tns:ControlRecibosProvisoriosRecibidosSoap">
      <soap:address location="http://localhost:1390/ControlRecibosProvisoriosRecibidos.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlRecibosProvisoriosRecibidosSoap12" binding="tns:ControlRecibosProvisoriosRecibidosSoap12">
      <soap12:address location="http://localhost:1390/ControlRecibosProvisoriosRecibidos.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlRecibosProvisoriosRecibidosHttpGet" binding="tns:ControlRecibosProvisoriosRecibidosHttpGet">
      <http:address location="http://localhost:1390/ControlRecibosProvisoriosRecibidos.asmx" />
    </wsdl:port>
    <wsdl:port name="ControlRecibosProvisoriosRecibidosHttpPost" binding="tns:ControlRecibosProvisoriosRecibidosHttpPost">
      <http:address location="http://localhost:1390/ControlRecibosProvisoriosRecibidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>