Listador cuentas/ListadorCuentasVendedores().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentasVendedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasVendedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasVendedoresResult" type="tns:ArrayOfDatosVendedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosVendedor" nillable="true" type="tns:DatosVendedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosVendedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosVendedor" nillable="true" type="tns:ArrayOfDatosVendedor" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasVendedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasVendedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasVendedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasVendedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasVendedoresHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasVendedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosVendedor" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasVendedoresHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasVendedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosVendedor" />
  </wsdl:message>
  <wsdl:portType name="ListadorCuentasVendedoresSoap">
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasVendedoresSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasVendedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasVendedoresHttpGet">
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasVendedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasVendedoresHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasVendedoresHttpPost">
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <wsdl:input message="tns:ObtenerListadoCuentasVendedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasVendedoresHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorCuentasVendedoresSoap" type="tns:ListadorCuentasVendedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasVendedoresSoap12" type="tns:ListadorCuentasVendedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentasVendedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasVendedoresHttpGet" type="tns:ListadorCuentasVendedoresHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <http:operation location="/ObtenerListadoCuentasVendedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasVendedoresHttpPost" type="tns:ListadorCuentasVendedoresHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentasVendedores">
      <http:operation location="/ObtenerListadoCuentasVendedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorCuentasVendedores">
    <wsdl:port name="ListadorCuentasVendedoresSoap" binding="tns:ListadorCuentasVendedoresSoap">
      <soap:address location="http://localhost:1390/ListadorCuentasVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasVendedoresSoap12" binding="tns:ListadorCuentasVendedoresSoap12">
      <soap12:address location="http://localhost:1390/ListadorCuentasVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasVendedoresHttpGet" binding="tns:ListadorCuentasVendedoresHttpGet">
      <http:address location="http://localhost:1390/ListadorCuentasVendedores.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasVendedoresHttpPost" binding="tns:ListadorCuentasVendedoresHttpPost">
      <http:address location="http://localhost:1390/ListadorCuentasVendedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>