Listador cuentas/ListadorCuentas(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoCuentas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ceros_si" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoCuentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoCuentasResult" type="tns:ArrayOfDatosCuentaCorriente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCuentaCorriente" nillable="true" type="tns:DatosCuentaCorriente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCuentaCorriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alfa_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_anterior_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_anterior_haber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="saldo_debe_total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saldo_haber_total" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCuentaCorriente" nillable="true" type="tns:ArrayOfDatosCuentaCorriente" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoCuentasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentas" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoCuentasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasHttpGetIn">
  	<wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="ceros_si" type="s:boolean" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorriente" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
    <wsdl:part name="ceros_si" type="s:boolean" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoCuentasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCuentaCorriente" />
  </wsdl:message>
  <wsdl:portType name="ListadorCuentasSoap">
    <wsdl:operation name="ObtenerListadoCuentas">
      <wsdl:input message="tns:ObtenerListadoCuentasSoapIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasHttpGet">
    <wsdl:operation name="ObtenerListadoCuentas">
      <wsdl:input message="tns:ObtenerListadoCuentasHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorCuentasHttpPost">
    <wsdl:operation name="ObtenerListadoCuentas">
      <wsdl:input message="tns:ObtenerListadoCuentasHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoCuentasHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorCuentasSoap" type="tns:ListadorCuentasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentas">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasSoap12" type="tns:ListadorCuentasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoCuentas">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoCuentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasHttpGet" type="tns:ListadorCuentasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoCuentas">
      <http:operation location="/ObtenerListadoCuentas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorCuentasHttpPost" type="tns:ListadorCuentasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoCuentas">
      <http:operation location="/ObtenerListadoCuentas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorCuentas">
    <wsdl:port name="ListadorCuentasSoap" binding="tns:ListadorCuentasSoap">
      <soap:address location="http://localhost:1390/ListadorCuentas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasSoap12" binding="tns:ListadorCuentasSoap12">
      <soap12:address location="http://localhost:1390/ListadorCuentas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasHttpGet" binding="tns:ListadorCuentasHttpGet">
      <http:address location="http://localhost:1390/ListadorCuentas.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorCuentasHttpPost" binding="tns:ListadorCuentasHttpPost">
      <http:address location="http://localhost:1390/ListadorCuentas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>