Impresion/ImpresionArchivoElemento/ImpresionArchivoElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoElementoResult" type="tns:ArrayOfDatosTelefono" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosTelefono">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosTelefono" nillable="true" type="tns:DatosTelefono" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosTelefono">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosTelefono" nillable="true" type="tns:ArrayOfDatosTelefono" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetIn">
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosTelefono" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostIn">
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosTelefono" />
  </wsdl:message>
  <wsdl:portType name="ImpresionElementoSoap">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionElementoHttpGet">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionElementoHttpPost">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresionElementoSoap" type="tns:ImpresionElementoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionElementoSoap12" type="tns:ImpresionElementoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionElementoHttpGet" type="tns:ImpresionElementoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionElementoHttpPost" type="tns:ImpresionElementoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionElemento">
    <wsdl:port name="ImpresionElementoSoap" binding="tns:ImpresionElementoSoap">
      <soap:address location="http://localhost:1390/ImpresionElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionElementoSoap12" binding="tns:ImpresionElementoSoap12">
      <soap12:address location="http://localhost:1390/ImpresionElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionElementoHttpGet" binding="tns:ImpresionElementoHttpGet">
      <http:address location="http://localhost:1390/ImpresionElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionElementoHttpPost" binding="tns:ImpresionElementoHttpPost">
      <http:address location="http://localhost:1390/ImpresionElemento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>