Impresor/ImpresionCarteraInterdepositos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ImprimirCarteraInterdepositos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo_ctascont" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="dia_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirCarteraInterdepositosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImprimirCarteraInterdepositosResult" type="tns:ArrayOfDatosCartera" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosCartera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosCartera" nillable="true" type="tns:DatosCartera" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCartera">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_banco" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosCartera" nillable="true" type="tns:ArrayOfDatosCartera" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImprimirCarteraInterdepositosSoapIn">
    <wsdl:part name="parameters" element="tns:ImprimirCarteraInterdepositos" />
  </wsdl:message>
  <wsdl:message name="ImprimirCarteraInterdepositosSoapOut">
    <wsdl:part name="parameters" element="tns:ImprimirCarteraInterdepositosResponse" />
  </wsdl:message>
  <wsdl:message name="ImprimirCarteraInterdepositosHttpGetIn">
    <wsdl:part name="codigo_ctascont" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ImprimirCarteraInterdepositosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCartera" />
  </wsdl:message>
  <wsdl:message name="ImprimirCarteraInterdepositosHttpPostIn">
    <wsdl:part name="codigo_ctascont" type="s:short" />
    <wsdl:part name="dia_desde" type="s:short" />
    <wsdl:part name="mes_desde" type="s:short" />
    <wsdl:part name="anio_desde" type="s:short" />
    <wsdl:part name="dia_hasta" type="s:short" />
    <wsdl:part name="mes_hasta" type="s:short" />
    <wsdl:part name="anio_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ImprimirCarteraInterdepositosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosCartera" />
  </wsdl:message>
  <wsdl:portType name="ImpresionCarteraInterdepositosSoap">
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <wsdl:input message="tns:ImprimirCarteraInterdepositosSoapIn" />
      <wsdl:output message="tns:ImprimirCarteraInterdepositosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionCarteraInterdepositosHttpGet">
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <wsdl:input message="tns:ImprimirCarteraInterdepositosHttpGetIn" />
      <wsdl:output message="tns:ImprimirCarteraInterdepositosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresionCarteraInterdepositosHttpPost">
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <wsdl:input message="tns:ImprimirCarteraInterdepositosHttpPostIn" />
      <wsdl:output message="tns:ImprimirCarteraInterdepositosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresionCarteraInterdepositosSoap" type="tns:ImpresionCarteraInterdepositosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ImprimirCarteraInterdepositos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionCarteraInterdepositosSoap12" type="tns:ImpresionCarteraInterdepositosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ImprimirCarteraInterdepositos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionCarteraInterdepositosHttpGet" type="tns:ImpresionCarteraInterdepositosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <http:operation location="/ImprimirCarteraInterdepositos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresionCarteraInterdepositosHttpPost" type="tns:ImpresionCarteraInterdepositosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ImprimirCarteraInterdepositos">
      <http:operation location="/ImprimirCarteraInterdepositos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionCarteraInterdepositos">
    <wsdl:port name="ImpresionCarteraInterdepositosSoap" binding="tns:ImpresionCarteraInterdepositosSoap">
      <soap:address location="http://localhost:1390/ImpresionCarteraInterdepositos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionCarteraInterdepositosSoap12" binding="tns:ImpresionCarteraInterdepositosSoap12">
      <soap12:address location="http://localhost:1390/ImpresionCarteraInterdepositos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionCarteraInterdepositosHttpGet" binding="tns:ImpresionCarteraInterdepositosHttpGet">
      <http:address location="http://localhost:1390/ImpresionCarteraInterdepositos.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresionCarteraInterdepositosHttpPost" binding="tns:ImpresionCarteraInterdepositosHttpPost">
      <http:address location="http://localhost:1390/ImpresionCarteraInterdepositos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>