Impresor/ImpresorPreciosPromedios().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoPreciosPromedios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="letra_hasta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoPreciosPromediosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoPreciosPromediosResult" type="tns:ArrayOfDatosPrecioPromedio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosPrecioPromedio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosPrecioPromedio" nillable="true" type="tns:DatosPrecioPromedio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosPrecioPromedio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tabla_movimiento" type="tns:Tabla" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tabla">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="promedio" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosPrecioPromedio" nillable="true" type="tns:ArrayOfDatosPrecioPromedio" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoPreciosPromediosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPreciosPromedios" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPreciosPromediosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPreciosPromediosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPreciosPromediosHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPreciosPromediosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosPrecioPromedio" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPreciosPromediosHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="codigo_desde" type="s:short" />
    <wsdl:part name="codigo_hasta" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
    <wsdl:part name="letra_desde" type="s:string" />
    <wsdl:part name="letra_hasta" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPreciosPromediosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosPrecioPromedio" />
  </wsdl:message>
  <wsdl:portType name="ImpresorPreciosPromediosSoap">
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <wsdl:input message="tns:ObtenerListadoPreciosPromediosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoPreciosPromediosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresorPreciosPromediosHttpGet">
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <wsdl:input message="tns:ObtenerListadoPreciosPromediosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoPreciosPromediosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ImpresorPreciosPromediosHttpPost">
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <wsdl:input message="tns:ObtenerListadoPreciosPromediosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoPreciosPromediosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpresorPreciosPromediosSoap" type="tns:ImpresorPreciosPromediosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoPreciosPromedios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorPreciosPromediosSoap12" type="tns:ImpresorPreciosPromediosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoPreciosPromedios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorPreciosPromediosHttpGet" type="tns:ImpresorPreciosPromediosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <http:operation location="/ObtenerListadoPreciosPromedios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImpresorPreciosPromediosHttpPost" type="tns:ImpresorPreciosPromediosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoPreciosPromedios">
      <http:operation location="/ObtenerListadoPreciosPromedios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresorPreciosPromedios">
    <wsdl:port name="ImpresorPreciosPromediosSoap" binding="tns:ImpresorPreciosPromediosSoap">
      <soap:address location="http://localhost:1390/ImpresorPreciosPromedios.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorPreciosPromediosSoap12" binding="tns:ImpresorPreciosPromediosSoap12">
      <soap12:address location="http://localhost:1390/ImpresorPreciosPromedios.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorPreciosPromediosHttpGet" binding="tns:ImpresorPreciosPromediosHttpGet">
      <http:address location="http://localhost:1390/ImpresorPreciosPromedios.asmx" />
    </wsdl:port>
    <wsdl:port name="ImpresorPreciosPromediosHttpPost" binding="tns:ImpresorPreciosPromediosHttpPost">
      <http:address location="http://localhost:1390/ImpresorPreciosPromedios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>