Emision/EmisionRecibos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="EmitirRecibos">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" name="fecha_sistema" type="s:string" />
          	<s:element minOccurs="1" maxOccurs="1" name="iva_basico" type="s:double" />
          	<s:element minOccurs="1" maxOccurs="1" name="iva_adicional" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_a_utilizar" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="dia1_reserva" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes1_reserva" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio1_reserva" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="importe_reserva" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="importe_descuento" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="desde_codigo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="hasta_codigo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="numero_cheque" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="efectivo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="interdeposito" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirRecibosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirRecibosResult" type="tns:DatosRecibo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosRecibo">
        <s:sequence>
       	  <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
       	  <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
       	  <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_direccion" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosRecibo" nillable="true" type="tns:DatosRecibo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmitirRecibosSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirRecibos" />
  </wsdl:message>
  <wsdl:message name="EmitirRecibosSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirRecibosResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirRecibosHttpGetIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="iva_basico" type="s:double" />
    <wsdl:part name="iva_adicional" type="s:double" />
    <wsdl:part name="numero_a_utilizar" type="s:integer" />
    <wsdl:part name="dia1_reserva" type="s:short" />
    <wsdl:part name="mes1_reserva" type="s:short" />
    <wsdl:part name="anio1_reserva" type="s:short" />
    <wsdl:part name="importe_reserva" type="s:double" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="importe_descuento" type="s:double" />
    <wsdl:part name="desde_codigo" type="s:short" />
    <wsdl:part name="hasta_codigo" type="s:short" />
    <wsdl:part name="numero_cheque" type="s:integer" />
    <wsdl:part name="efectivo" type="s:short" />
    <wsdl:part name="interdeposito" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirRecibosHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosRecibo" />
  </wsdl:message>
  <wsdl:message name="EmitirRecibosHttpPostIn">
    <wsdl:part name="fecha_sistema" type="s:string" />
    <wsdl:part name="iva_basico" type="s:double" />
    <wsdl:part name="iva_adicional" type="s:double" />
    <wsdl:part name="numero_a_utilizar" type="s:integer" />
    <wsdl:part name="dia1_reserva" type="s:short" />
    <wsdl:part name="mes1_reserva" type="s:short" />
    <wsdl:part name="anio1_reserva" type="s:short" />
    <wsdl:part name="importe_reserva" type="s:double" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="importe_descuento" type="s:double" />
    <wsdl:part name="desde_codigo" type="s:short" />
    <wsdl:part name="hasta_codigo" type="s:short" />
    <wsdl:part name="numero_cheque" type="s:integer" />
    <wsdl:part name="efectivo" type="s:short" />
    <wsdl:part name="interdeposito" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirRecibosHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosRecibo" />
  </wsdl:message>
  <wsdl:portType name="EmisionRecibosSoap">
    <wsdl:operation name="EmitirRecibos">
      <wsdl:input message="tns:EmitirRecibosSoapIn" />
      <wsdl:output message="tns:EmitirRecibosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionRecibosHttpGet">
    <wsdl:operation name="EmitirRecibos">
      <wsdl:input message="tns:EmitirRecibosHttpGetIn" />
      <wsdl:output message="tns:EmitirRecibosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionRecibosHttpPost">
    <wsdl:operation name="EmitirRecibos">
      <wsdl:input message="tns:EmitirRecibosHttpPostIn" />
      <wsdl:output message="tns:EmitirRecibosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmisionRecibosSoap" type="tns:EmisionRecibosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirRecibos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/EmitirRecibos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionRecibosSoap12" type="tns:EmisionRecibosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirRecibos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/EmitirRecibos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionRecibosHttpGet" type="tns:EmisionRecibosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EmitirRecibos">
      <http:operation location="/EmitirRecibos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionRecibosHttpPost" type="tns:EmisionRecibosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EmitirRecibos">
      <http:operation location="/EmitirRecibos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmisionRecibos">
    <wsdl:port name="EmisionRecibosSoap" binding="tns:EmisionRecibosSoap">
      <soap:address location="http://localhost:1390/EmisionRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionRecibosSoap12" binding="tns:EmisionRecibosSoap12">
      <soap12:address location="http://localhost:1390/EmisionRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionRecibosHttpGet" binding="tns:EmisionRecibosHttpGet">
      <http:address location="http://localhost:1390/EmisionRecibos.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionRecibosHttpPost" binding="tns:EmisionRecibosHttpPost">
      <http:address location="http://localhost:1390/EmisionRecibos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>