Emision/EmisionManualCreditosCobranza().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="EmitirCreditosCobranza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_original" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numero_original" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tasa_iva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="percepcion_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gravado_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exento_total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ing_brutos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirCreditosCobranzaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirCreditosCobranzaResult" type="tns:DatosEmision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosEmision">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosEmision" nillable="true" type="tns:DatosEmision" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmitirCreditosCobranzaSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirCreditosCobranza" />
  </wsdl:message>
  <wsdl:message name="EmitirCreditosCobranzaSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirCreditosCobranzaResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirCreditosCobranzaHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="condicion" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="tasa_iva" type="s:string" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="percepcion_total" type="s:string" />
    <wsdl:part name="gravado_total" type="s:string" />
    <wsdl:part name="exento_total" type="s:string" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="ing_brutos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmitirCreditosCobranzaHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:message name="EmitirCreditosCobranzaHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="condicion" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="tipo_original" type="s:short" />
    <wsdl:part name="numero_original" type="s:integer" />
    <wsdl:part name="tasa_iva" type="s:string" />
    <wsdl:part name="importe_total" type="s:string" />
    <wsdl:part name="percepcion_total" type="s:string" />
    <wsdl:part name="gravado_total" type="s:string" />
    <wsdl:part name="exento_total" type="s:string" />
    <wsdl:part name="iva_basico" type="s:string" />
    <wsdl:part name="ing_brutos" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EmitirCreditosCobranzaHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:portType name="EmisionManualCreditosCobranzaSoap">
    <wsdl:operation name="EmitirCreditosCobranza">
      <wsdl:input message="tns:EmitirCreditosCobranzaSoapIn" />
      <wsdl:output message="tns:EmitirCreditosCobranzaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionManualCreditosCobranzaHttpGet">
    <wsdl:operation name="EmitirCreditosCobranza">
      <wsdl:input message="tns:EmitirCreditosCobranzaHttpGetIn" />
      <wsdl:output message="tns:EmitirCreditosCobranzaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionManualCreditosCobranzaHttpPost">
    <wsdl:operation name="EmitirCreditosCobranza">
      <wsdl:input message="tns:EmitirCreditosCobranzaHttpPostIn" />
      <wsdl:output message="tns:EmitirCreditosCobranzaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmisionManualCreditosCobranzaSoap" type="tns:EmisionManualCreditosCobranzaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirCreditosCobranza">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/EmitirCreditosCobranza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionManualCreditosCobranzaSoap12" type="tns:EmisionManualCreditosCobranzaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirCreditosCobranza">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/EmitirCreditosCobranza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionManualCreditosCobranzaHttpGet" type="tns:EmisionManualCreditosCobranzaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EmitirCreditosCobranza">
      <http:operation location="/EmitirCreditosCobranza" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionManualCreditosCobranzaHttpPost" type="tns:EmisionManualCreditosCobranzaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EmitirCreditosCobranza">
      <http:operation location="/EmitirCreditosCobranza" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmisionManualCreditosCobranza">
    <wsdl:port name="EmisionManualCreditosCobranzaSoap" binding="tns:EmisionManualCreditosCobranzaSoap">
      <soap:address location="http://localhost:1390/EmisionManualCreditosCobranza.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionManualCreditosCobranzaSoap12" binding="tns:EmisionManualCreditosCobranzaSoap12">
      <soap12:address location="http://localhost:1390/EmisionManualCreditosCobranza.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionManualCreditosCobranzaHttpGet" binding="tns:EmisionManualCreditosCobranzaHttpGet">
      <http:address location="http://localhost:1390/EmisionManualCreditosCobranza.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionManualCreditosCobranzaHttpPost" binding="tns:EmisionManualCreditosCobranzaHttpPost">
      <http:address location="http://localhost:1390/EmisionManualCreditosCobranza.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>