Emision/EmisionConFacturaDeCredito().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="EmitirConFacturaDeCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="orden" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_camion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_flete" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_envases" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_bolsas" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="remito" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_precio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_basico" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="deposito" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="autorizo" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirConFacturaDeCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirConFacturaDeCreditoResult" type="tns:DatosEmision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosEmision">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="patente_camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patente_acoplado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empresa_transportista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="registro_conductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad_kilos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosEmision" nillable="true" type="tns:DatosEmision" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmitirConFacturaDeCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirConFacturaDeCredito" />
  </wsdl:message>
  <wsdl:message name="EmitirConFacturaDeCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirConFacturaDeCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirConFacturaDeCreditoHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="orden" type="s:integer" />
    <wsdl:part name="condicion" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="patente_camion" type="s:string" />
    <wsdl:part name="patente_acoplado" type="s:string" />
    <wsdl:part name="empresa_transportista" type="s:string" />
    <wsdl:part name="conductor" type="s:string" />
    <wsdl:part name="registro_conductor" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="factura_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:double" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
    <wsdl:part name="remito" type="s:integer" />
    <wsdl:part name="tipo_precio" type="s:short" />
    <wsdl:part name="precio_basico" type="s:double" />
    <wsdl:part name="deposito" type="s:short" />
    <wsdl:part name="autorizo" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirConFacturaDeCreditoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:message name="EmitirConFacturaDeCreditoHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="orden" type="s:integer" />
    <wsdl:part name="condicion" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="patente_camion" type="s:string" />
    <wsdl:part name="patente_acoplado" type="s:string" />
    <wsdl:part name="empresa_transportista" type="s:string" />
    <wsdl:part name="conductor" type="s:string" />
    <wsdl:part name="registro_conductor" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="factura_flete" type="s:double" />
    <wsdl:part name="factura_envases" type="s:double" />
    <wsdl:part name="cuenta_bolsas" type="s:short" />
    <wsdl:part name="remito" type="s:integer" />
    <wsdl:part name="tipo_precio" type="s:short" />
    <wsdl:part name="precio_basico" type="s:double" />
    <wsdl:part name="deposito" type="s:short" />
    <wsdl:part name="autorizo" type="s:short" />
  </wsdl:message>
  <wsdl:message name="EmitirConFacturaDeCreditoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosEmision" />
  </wsdl:message>
  <wsdl:portType name="EmisionConFacturaDeCreditoSoap">
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <wsdl:input message="tns:EmitirConFacturaDeCreditoSoapIn" />
      <wsdl:output message="tns:EmitirConFacturaDeCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionConFacturaDeCreditoHttpGet">
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <wsdl:input message="tns:EmitirConFacturaDeCreditoHttpGetIn" />
      <wsdl:output message="tns:EmitirConFacturaDeCreditoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmisionConFacturaDeCreditoHttpPost">
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <wsdl:input message="tns:EmitirConFacturaDeCreditoHttpPostIn" />
      <wsdl:output message="tns:EmitirConFacturaDeCreditoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmisionConFacturaDeCreditoSoap" type="tns:EmisionConFacturaDeCreditoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/EmitirConFacturaDeCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionConFacturaDeCreditoSoap12" type="tns:EmisionConFacturaDeCreditoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/EmitirConFacturaDeCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionConFacturaDeCreditoHttpGet" type="tns:EmisionConFacturaDeCreditoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <http:operation location="/EmitirConFacturaDeCredito" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmisionConFacturaDeCreditoHttpPost" type="tns:EmisionConFacturaDeCreditoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EmitirConFacturaDeCredito">
      <http:operation location="/EmitirConFacturaDeCredito" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmisionConFacturaDeCredito">
    <wsdl:port name="EmisionConFacturaDeCreditoSoap" binding="tns:EmisionConFacturaDeCreditoSoap">
      <soap:address location="http://localhost:1390/EmisionConFacturaDeCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionConFacturaDeCreditoSoap12" binding="tns:EmisionConFacturaDeCreditoSoap12">
      <soap12:address location="http://localhost:1390/EmisionConFacturaDeCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionConFacturaDeCreditoHttpGet" binding="tns:EmisionConFacturaDeCreditoHttpGet">
      <http:address location="http://localhost:1390/EmisionConFacturaDeCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="EmisionConFacturaDeCreditoHttpPost" binding="tns:EmisionConFacturaDeCreditoHttpPost">
      <http:address location="http://localhost:1390/EmisionConFacturaDeCredito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>