ListadorElemento/ListadorPercepcionesLibroIva().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoPercepcionesLibroIva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo_listado" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="quincena" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cuenta_hojas" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_desde" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="zona_hasta" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoPercepcionesLibroIvaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoPercepcionesLibroIvaResult" type="tns:ArrayOfDatosPercepcionLibroIva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosPercepcionLibroIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosPercepcionLibroIva" nillable="true" type="tns:DatosPercepcionLibroIva" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosPercepcionLibroIva">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="letra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_basico" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_adicional" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="percepciones" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_gravado" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosPercepcionLibroIva" nillable="true" type="tns:ArrayOfDatosPercepcionLibroIva" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPercepcionesLibroIva" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoPercepcionesLibroIvaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaHttpGetIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="quincena" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosPercepcionLibroIva" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaHttpPostIn">
    <wsdl:part name="tipo_listado" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="quincena" type="s:short" />
    <wsdl:part name="zona_desde" type="s:short" />
    <wsdl:part name="zona_hasta" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoPercepcionesLibroIvaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosPercepcionLibroIva" />
  </wsdl:message>
  <wsdl:portType name="ListadorPercepcionesLibroIvaSoap">
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <wsdl:input message="tns:ObtenerListadoPercepcionesLibroIvaSoapIn" />
      <wsdl:output message="tns:ObtenerListadoPercepcionesLibroIvaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorPercepcionesLibroIvaHttpGet">
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <wsdl:input message="tns:ObtenerListadoPercepcionesLibroIvaHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoPercepcionesLibroIvaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadorPercepcionesLibroIvaHttpPost">
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <wsdl:input message="tns:ObtenerListadoPercepcionesLibroIvaHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoPercepcionesLibroIvaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadorPercepcionesLibroIvaSoap" type="tns:ListadorPercepcionesLibroIvaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoPercepcionesLibroIva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorPercepcionesLibroIvaSoap12" type="tns:ListadorPercepcionesLibroIvaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoPercepcionesLibroIva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorPercepcionesLibroIvaHttpGet" type="tns:ListadorPercepcionesLibroIvaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <http:operation location="/ObtenerListadoPercepcionesLibroIva" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadorPercepcionesLibroIvaHttpPost" type="tns:ListadorPercepcionesLibroIvaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoPercepcionesLibroIva">
      <http:operation location="/ObtenerListadoPercepcionesLibroIva" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadorPercepcionesLibroIva">
    <wsdl:port name="ListadorPercepcionesLibroIvaSoap" binding="tns:ListadorPercepcionesLibroIvaSoap">
      <soap:address location="http://localhost:1390/ListadorPercepcionesLibroIva.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorPercepcionesLibroIvaSoap12" binding="tns:ListadorPercepcionesLibroIvaSoap12">
      <soap12:address location="http://localhost:1390/ListadorPercepcionesLibroIva.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorPercepcionesLibroIvaHttpGet" binding="tns:ListadorPercepcionesLibroIvaHttpGet">
      <http:address location="http://localhost:1390/ListadorPercepcionesLibroIva.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadorPercepcionesLibroIvaHttpPost" binding="tns:ListadorPercepcionesLibroIvaHttpPost">
      <http:address location="http://localhost:1390/ListadorPercepcionesLibroIva.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>