Facturacion/FacturacionSinPedidosMercaderiaAEntregar().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="FacturarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="articulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="condicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_basico" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_precio" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="conforme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="factura_envases" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio_flete" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacturarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacturarPedidoResult" type="tns:DatosPedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosPedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cliente" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_entrega" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejemplar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_remito" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_remito" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_pedido" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_direccion_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_postal_cliente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="localidad_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="condicion_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="texto_condiciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_vencimiento" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="descuento" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosPedido" nillable="true" type="tns:DatosPedido" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FacturarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:FacturarPedido" />
  </wsdl:message>
  <wsdl:message name="FacturarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:FacturarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="FacturarPedidoHttpGetIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_basico" type="s:double" />
    <wsdl:part name="tipo_precio" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="factura_envases" type="s:string" />
    <wsdl:part name="precio_flete" type="s:double" />
  </wsdl:message>
  <wsdl:message name="FacturarPedidoHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosPedido" />
  </wsdl:message>
  <wsdl:message name="FacturarPedidoHttpPostIn">
    <wsdl:part name="dia" type="s:short" />
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
    <wsdl:part name="articulo" type="s:short" />
    <wsdl:part name="descuento" type="s:float" />
    <wsdl:part name="condicion" type="s:string" />
    <wsdl:part name="codigo_cliente" type="s:short" />
    <wsdl:part name="cantidad" type="s:integer" />
    <wsdl:part name="precio_basico" type="s:double" />
    <wsdl:part name="tipo_precio" type="s:short" />
    <wsdl:part name="conforme" type="s:string" />
    <wsdl:part name="factura_envases" type="s:string" />
    <wsdl:part name="precio_flete" type="s:double" />
  </wsdl:message>
  <wsdl:message name="FacturarPedidoHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosPedido" />
  </wsdl:message>
  <wsdl:portType name="FacturacionSinPedidosMercaderiaAEntregarSoap">
    <wsdl:operation name="FacturarPedido">
      <wsdl:input message="tns:FacturarPedidoSoapIn" />
      <wsdl:output message="tns:FacturarPedidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacturacionSinPedidosMercaderiaAEntregarHttpGet">
    <wsdl:operation name="FacturarPedido">
      <wsdl:input message="tns:FacturarPedidoHttpGetIn" />
      <wsdl:output message="tns:FacturarPedidoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FacturacionSinPedidosMercaderiaAEntregarHttpPost">
    <wsdl:operation name="FacturarPedido">
      <wsdl:input message="tns:FacturarPedidoHttpPostIn" />
      <wsdl:output message="tns:FacturarPedidoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturacionSinPedidosMercaderiaAEntregarSoap" type="tns:FacturacionSinPedidosMercaderiaAEntregarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FacturarPedido">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/FacturarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionSinPedidosMercaderiaAEntregarSoap12" type="tns:FacturacionSinPedidosMercaderiaAEntregarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FacturarPedido">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/FacturarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionSinPedidosMercaderiaAEntregarHttpGet" type="tns:FacturacionSinPedidosMercaderiaAEntregarHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FacturarPedido">
      <http:operation location="/FacturarPedido" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacturacionSinPedidosMercaderiaAEntregarHttpPost" type="tns:FacturacionSinPedidosMercaderiaAEntregarHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FacturarPedido">
      <http:operation location="/FacturarPedido" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturacionSinPedidosMercaderiaAEntregar">
    <wsdl:port name="FacturacionSinPedidosMercaderiaAEntregarSoap" binding="tns:FacturacionSinPedidosMercaderiaAEntregarSoap">
      <soap:address location="http://localhost:1390/FacturacionSinPedidosMercaderiaAEntregar.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionSinPedidosMercaderiaAEntregarSoap12" binding="tns:FacturacionSinPedidosMercaderiaAEntregarSoap12">
      <soap12:address location="http://localhost:1390/FacturacionSinPedidosMercaderiaAEntregar.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionSinPedidosMercaderiaAEntregarHttpGet" binding="tns:FacturacionSinPedidosMercaderiaAEntregarHttpGet">
      <http:address location="http://localhost:1390/FacturacionSinPedidosMercaderiaAEntregar.asmx" />
    </wsdl:port>
    <wsdl:port name="FacturacionSinPedidosMercaderiaAEntregarHttpPost" binding="tns:FacturacionSinPedidosMercaderiaAEntregarHttpPost">
      <http:address location="http://localhost:1390/FacturacionSinPedidosMercaderiaAEntregar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>