Excel Para/ExcelParaSubsidios().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoSubsidios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoSubsidiosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoSubsidiosResult" type="tns:ArrayOfDatosSubsidio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosSubsidio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosSubsidio" nillable="true" type="tns:DatosSubsidio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosSubsidio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="articulo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="basico" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="adicional" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosSubsidio" nillable="true" type="tns:ArrayOfDatosSubsidio" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoSubsidiosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoSubsidios" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSubsidiosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoSubsidiosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSubsidiosHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSubsidiosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosSubsidio" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSubsidiosHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoSubsidiosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosSubsidio" />
  </wsdl:message>
  <wsdl:portType name="ExcelParaSubsidiosSoap">
    <wsdl:operation name="ObtenerListadoSubsidios">
      <wsdl:input message="tns:ObtenerListadoSubsidiosSoapIn" />
      <wsdl:output message="tns:ObtenerListadoSubsidiosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaSubsidiosHttpGet">
    <wsdl:operation name="ObtenerListadoSubsidios">
      <wsdl:input message="tns:ObtenerListadoSubsidiosHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoSubsidiosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaSubsidiosHttpPost">
    <wsdl:operation name="ObtenerListadoSubsidios">
      <wsdl:input message="tns:ObtenerListadoSubsidiosHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoSubsidiosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelParaSubsidiosSoap" type="tns:ExcelParaSubsidiosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoSubsidios">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoSubsidios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaSubsidiosSoap12" type="tns:ExcelParaSubsidiosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoSubsidios">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoSubsidios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaSubsidiosHttpGet" type="tns:ExcelParaSubsidiosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoSubsidios">
      <http:operation location="/ObtenerListadoSubsidios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaSubsidiosHttpPost" type="tns:ExcelParaSubsidiosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoSubsidios">
      <http:operation location="/ObtenerListadoSubsidios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelParaSubsidios">
    <wsdl:port name="ExcelParaSubsidiosSoap" binding="tns:ExcelParaSubsidiosSoap">
      <soap:address location="http://localhost:1390/ExcelParaSubsidios.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaSubsidiosSoap12" binding="tns:ExcelParaSubsidiosSoap12">
      <soap12:address location="http://localhost:1390/ExcelParaSubsidios.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaSubsidiosHttpGet" binding="tns:ExcelParaSubsidiosHttpGet">
      <http:address location="http://localhost:1390/ExcelParaSubsidios.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaSubsidiosHttpPost" binding="tns:ExcelParaSubsidiosHttpPost">
      <http:address location="http://localhost:1390/ExcelParaSubsidios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>