Excel Para/ExcelParaElemeto(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ObtenerListadoElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListadoElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListadoElementoResult" type="tns:ArrayOfDatosElemento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosElemento" nillable="true" type="tns:DatosElemento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosElemento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="cuit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="articulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="basico" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="adicional" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosElemento" nillable="true" type="tns:ArrayOfDatosElemento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListadoElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListadoElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ObtenerListadoElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:portType name="ExcelParaInformeElementoSoap">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoSoapIn" />
      <wsdl:output message="tns:ObtenerListadoElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaInformeElementoHttpGet">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpGetIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExcelParaInformeElementoHttpPost">
    <wsdl:operation name="ObtenerListadoElemento">
      <wsdl:input message="tns:ObtenerListadoElementoHttpPostIn" />
      <wsdl:output message="tns:ObtenerListadoElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelParaInformeElementoSoap" type="tns:ExcelParaInformeElementoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeElementoSoap12" type="tns:ExcelParaInformeElementoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListadoElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ObtenerListadoElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeElementoHttpGet" type="tns:ExcelParaInformeElementoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelParaInformeElementoHttpPost" type="tns:ExcelParaInformeElementoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerListadoElemento">
      <http:operation location="/ObtenerListadoElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelParaInformeElemento">
    <wsdl:port name="ExcelParaInformeElementoSoap" binding="tns:ExcelParaInformeElementoSoap">
      <soap:address location="http://localhost:1390/ExcelParaInformeElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeElementoSoap12" binding="tns:ExcelParaInformeElementoSoap12">
      <soap12:address location="http://localhost:1390/ExcelParaInformeElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeElementoHttpGet" binding="tns:ExcelParaInformeElementoHttpGet">
      <http:address location="http://localhost:1390/ExcelParaInformeElemento.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelParaInformeElementoHttpPost" binding="tns:ExcelParaInformeElementoHttpPost">
      <http:address location="http://localhost:1390/ExcelParaInformeElemento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>