Armado/ArmadoElemento(1).wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ArmarElemento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArmarElementoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArmarElementoResult" type="tns:ArrayOfDatosElemento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosElemento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosElemento" nillable="true" type="tns:DatosElemento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosElemento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipo_carta" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="serie_carta" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_carta" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_establecimiento" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_transporte" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="parte1_cuit" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="parte2_cuit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="parte3_cuit" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="nombre_cargador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_domicilio_cargador" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="calle_cargador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_cargador" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_postal_cargador" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_provincia_cargador" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_partido_cargador" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_localidad_cargador" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="situacion_iva_cargador" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_onca_cargador" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_especie" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_grano_porte" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad_porte" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="provincia_procedencia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="partido_procedencia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="provincia_destino" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="partido_destino" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="dia_carga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes_carga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio_carga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_pesado_porte" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="peso_neto_carga" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="situacion_iva_destinatario" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cuit_transporte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="transporte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="situacion_iva_transporte" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="domicilio_transporte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="patente_transporte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tarifa_tonelada_porte" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="cuit_chofer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nombre_chofer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dia_descarga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes_descarga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio_descarga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="peso_neto_descarga" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_cau_porte" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha_vencimiento_cau" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="capitulo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="sub_capitulo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="rubro" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="sub_rubro" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="denominacion_cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_debe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="importe_haber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_iva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_comp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_factura" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_factura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nro_factura" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_bruto" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="imp_iva" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="excento" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="no_inscripto" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="iva_retenido" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="serie_comprobante" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_comprobante" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kilos" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="tipo_comprobante" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_comprobante" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="total_comprobante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="sucursal_comprobante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_comprobante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_impuesto" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_regimen" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="codigo_operacion" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="base_calculo" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="dia_retencion" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mes_retencion" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="anio_retencion" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_condicion" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="retencion_practicada" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="percepciones" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="porcentaje_exclusion" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha_emision_boletin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_documento_retenido" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="numero_certificado_original" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosElemento" nillable="true" type="tns:ArrayOfDatosElemento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ArmarElementoSoapIn">
    <wsdl:part name="parameters" element="tns:ArmarElemento" />
  </wsdl:message>
  <wsdl:message name="ArmarElementoSoapOut">
    <wsdl:part name="parameters" element="tns:ArmarElementoResponse" />
  </wsdl:message>
  <wsdl:message name="ArmarElementoHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ArmarElementoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:message name="ArmarElementoHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ArmarElementoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosElemento" />
  </wsdl:message>
  <wsdl:portType name="ArmadoElementoElementosSoap">
    <wsdl:operation name="ArmarElemento">
      <wsdl:input message="tns:ArmarElementoSoapIn" />
      <wsdl:output message="tns:ArmarElementoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArmadoElementoElementosHttpGet">
    <wsdl:operation name="ArmarElemento">
      <wsdl:input message="tns:ArmarElementoHttpGetIn" />
      <wsdl:output message="tns:ArmarElementoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArmadoElementoElementosHttpPost">
    <wsdl:operation name="ArmarElemento">
      <wsdl:input message="tns:ArmarElementoHttpPostIn" />
      <wsdl:output message="tns:ArmarElementoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArmadoElementoElementosSoap" type="tns:ArmadoElementoElementosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArmarElemento">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ArmarElemento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoElementoElementosSoap12" type="tns:ArmadoElementoElementosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArmarElemento">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ArmarElemento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoElementoElementosHttpGet" type="tns:ArmadoElementoElementosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ArmarElemento">
      <http:operation location="/ArmarElemento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoElementoElementosHttpPost" type="tns:ArmadoElementoElementosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ArmarElemento">
      <http:operation location="/ArmarElemento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArmadoElementoElementos">
    <wsdl:port name="ArmadoElementoElementosSoap" binding="tns:ArmadoElementoElementosSoap">
      <soap:address location="http://localhost:1390/ArmadoElementoElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoElementoElementosSoap12" binding="tns:ArmadoElementoElementosSoap12">
      <soap12:address location="http://localhost:1390/ArmadoElementoElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoElementoElementosHttpGet" binding="tns:ArmadoElementoElementosHttpGet">
      <http:address location="http://localhost:1390/ArmadoElementoElementos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoElementoElementosHttpPost" binding="tns:ArmadoElementoElementosHttpPost">
      <http:address location="http://localhost:1390/ArmadoElementoElementos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>