Armado/ArmadoSicorePercepcionesIngresosBrutos().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ArmarSicorePercepcionesIngresosBrutos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArmarSicorePercepcionesIngresosBrutosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArmarSicorePercepcionesIngresosBrutosResult" type="tns:ArrayOfDatosSicore" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDatosSicore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosSicore" nillable="true" type="tns:DatosSicore" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosSicore">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tipo_comprobante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="numero_comprobante" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="total_comprobante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="sucursal_comprobante" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="letra_comprobante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_comprobante" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDatosSicore" nillable="true" type="tns:ArrayOfDatosSicore" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosSoapIn">
    <wsdl:part name="parameters" element="tns:ArmarSicorePercepcionesIngresosBrutos" />
  </wsdl:message>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosSoapOut">
    <wsdl:part name="parameters" element="tns:ArmarSicorePercepcionesIngresosBrutosResponse" />
  </wsdl:message>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosHttpGetIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosSicore" />
  </wsdl:message>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosHttpPostIn">
    <wsdl:part name="mes" type="s:short" />
    <wsdl:part name="anio" type="s:short" />
  </wsdl:message>
  <wsdl:message name="ArmarSicorePercepcionesIngresosBrutosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDatosSicore" />
  </wsdl:message>
  <wsdl:portType name="ArmadoSicorePercepcionesIngresosBrutosSoap">
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <wsdl:input message="tns:ArmarSicorePercepcionesIngresosBrutosSoapIn" />
      <wsdl:output message="tns:ArmarSicorePercepcionesIngresosBrutosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArmadoSicorePercepcionesIngresosBrutosHttpGet">
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <wsdl:input message="tns:ArmarSicorePercepcionesIngresosBrutosHttpGetIn" />
      <wsdl:output message="tns:ArmarSicorePercepcionesIngresosBrutosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ArmadoSicorePercepcionesIngresosBrutosHttpPost">
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <wsdl:input message="tns:ArmarSicorePercepcionesIngresosBrutosHttpPostIn" />
      <wsdl:output message="tns:ArmarSicorePercepcionesIngresosBrutosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArmadoSicorePercepcionesIngresosBrutosSoap" type="tns:ArmadoSicorePercepcionesIngresosBrutosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ArmarSicorePercepcionesIngresosBrutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoSicorePercepcionesIngresosBrutosSoap12" type="tns:ArmadoSicorePercepcionesIngresosBrutosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ArmarSicorePercepcionesIngresosBrutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoSicorePercepcionesIngresosBrutosHttpGet" type="tns:ArmadoSicorePercepcionesIngresosBrutosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <http:operation location="/ArmarSicorePercepcionesIngresosBrutos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArmadoSicorePercepcionesIngresosBrutosHttpPost" type="tns:ArmadoSicorePercepcionesIngresosBrutosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ArmarSicorePercepcionesIngresosBrutos">
      <http:operation location="/ArmarSicorePercepcionesIngresosBrutos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArmadoSicorePercepcionesIngresosBrutos">
    <wsdl:port name="ArmadoSicorePercepcionesIngresosBrutosSoap" binding="tns:ArmadoSicorePercepcionesIngresosBrutosSoap">
      <soap:address location="http://localhost:1390/ArmadoSicorePercepcionesIngresosBrutos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoSicorePercepcionesIngresosBrutosSoap12" binding="tns:ArmadoSicorePercepcionesIngresosBrutosSoap12">
      <soap12:address location="http://localhost:1390/ArmadoSicorePercepcionesIngresosBrutos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoSicorePercepcionesIngresosBrutosHttpGet" binding="tns:ArmadoSicorePercepcionesIngresosBrutosHttpGet">
      <http:address location="http://localhost:1390/ArmadoSicorePercepcionesIngresosBrutos.asmx" />
    </wsdl:port>
    <wsdl:port name="ArmadoSicorePercepcionesIngresosBrutosHttpPost" binding="tns:ArmadoSicorePercepcionesIngresosBrutosHttpPost">
      <http:address location="http://localhost:1390/ArmadoSicorePercepcionesIngresosBrutos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>