Modificaciones/ModificacionesComisiones().wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://molinosbalcarce.com.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	targetNamespace="http://molinosbalcarce.com.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://molinosbalcarce.com.ar">
      <s:element name="ModificarComision">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="1" maxOccurs="1" name="indice" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarComisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarComisionResult" type="tns:DatosComision" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosComision">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="modificacionCorrecta" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosComision" nillable="true" type="tns:DatosComision" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModificarComisionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarComision" />
  </wsdl:message>
  <wsdl:message name="ModificarComisionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarComisionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarComisionHttpGetIn">
    <wsdl:part name="indice" type="s:short" />
    <wsdl:part name="comision" type="s:float" />
  </wsdl:message>
  <wsdl:message name="ModificarComisionHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosComision" />
  </wsdl:message>
  <wsdl:message name="ModificarComisionHttpPostIn">
    <wsdl:part name="indice" type="s:short" />
    <wsdl:part name="comision" type="s:float" />
  </wsdl:message>
  <wsdl:message name="ModificarComisionHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosComision" />
  </wsdl:message>
  <wsdl:portType name="ModificacionesComisionesSoap">
    <wsdl:operation name="ModificarComision">
      <wsdl:input message="tns:ModificarComisionSoapIn" />
      <wsdl:output message="tns:ModificarComisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ModificacionesComisionesHttpGet">
    <wsdl:operation name="ModificarComision">
      <wsdl:input message="tns:ModificarComisionHttpGetIn" />
      <wsdl:output message="tns:ModificarComisionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ModificacionesComisionesHttpPost">
    <wsdl:operation name="ModificarComision">
      <wsdl:input message="tns:ModificarComisionHttpPostIn" />
      <wsdl:output message="tns:ModificarComisionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModificacionesComisionesSoap" type="tns:ModificacionesComisionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificarComision">
      <soap:operation soapAction="http://molinosbalcarce.com.ar/ModificarComision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModificacionesComisionesSoap12" type="tns:ModificacionesComisionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificarComision">
      <soap12:operation soapAction="http://molinosbalcarce.com.ar/ModificarComision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModificacionesComisionesHttpGet" type="tns:ModificacionesComisionesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ModificarComision">
      <http:operation location="/ModificarComision" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModificacionesComisionesHttpPost" type="tns:ModificacionesComisionesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ModificarComision">
      <http:operation location="/ModificarComision" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModificacionesComisiones">
    <wsdl:port name="ModificacionesComisionesSoap" binding="tns:ModificacionesComisionesSoap">
      <soap:address location="http://localhost:1390/ModificacionesComisiones.asmx" />
    </wsdl:port>
    <wsdl:port name="ModificacionesComisionesSoap12" binding="tns:ModificacionesComisionesSoap12">
      <soap12:address location="http://localhost:1390/ModificacionesComisiones.asmx" />
    </wsdl:port>
    <wsdl:port name="ModificacionesComisionesHttpGet" binding="tns:ModificacionesComisionesHttpGet">
      <http:address location="http://localhost:1390/ModificacionesComisiones.asmx" />
    </wsdl:port>
    <wsdl:port name="ModificacionesComisionesHttpPost" binding="tns:ModificacionesComisionesHttpPost">
      <http:address location="http://localhost:1390/ModificacionesComisiones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>